{{&gt; organisms-header }}
{{&gt; organisms-navigation }}

&lt;main id=&quot;main&quot; class=&quot;main&quot; role=&quot;main&quot; tabindex=&quot;-1&quot;&gt;
  &lt;div class=&quot;region-content&quot;&gt;

    &lt;div class=&quot;l-panels-landing preface-empty title sidebar-empty main&quot;&gt;
      &lt;div class=&quot;l-preface layout-constrain&quot;&gt;&lt;/div&gt;
      &lt;div class=&quot;l-title region-landing-title&quot;&gt;
        &lt;div class=&quot;layout-constrain&quot;&gt;
          {{&gt; atoms-landing-page-intro-wanteds }}
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;l-wrapper region-landing-content&quot;&gt;
        &lt;div class=&quot;layout-constrain&quot;&gt;
          
          &lt;div class=&quot;l-main&quot;&gt;

            &lt;div class=&quot;pane pane--wanteds-search&quot;&gt;
              &lt;div class=&quot;pane__content&quot;&gt;
                &lt;form accept-charset=&quot;UTF-8&quot;&gt;
                  &lt;div class=&quot;form-item form-item--textfield&quot;&gt;
                    &lt;input type=&quot;text&quot; placeholder=&quot;Search the Wanted ads...&quot; class=&quot;form-text&quot;&gt;
                  &lt;/div&gt;
                  &lt;input type=&quot;submit&quot; value=&quot;Search&quot; class=&quot;button button--submit&quot;&gt;
                &lt;/form&gt;
              &lt;/div&gt;
            &lt;/div&gt;
            
            &lt;div class=&quot;pane&quot;&gt;      
              &lt;div class=&quot;pane__content&quot;&gt;
                &lt;div class=&quot;view view--needs-listing-pages&quot;&gt;
                   {{# listItems.nine }}
                      &lt;div class=&quot;views-row&quot;&gt;
                        {{&gt; organisms-wanteds-teaser }}
                      &lt;/div&gt;
                    {{/ listItems.nine }}
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;

        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;

  &lt;/div&gt;
&lt;/main&gt;

{{&gt; organisms-postscript }}
{{&gt; organisms-footer }}
