{{&gt; organisms-header }}
{{&gt; organisms-navigation }}

&lt;main id=&quot;main&quot; class=&quot;main&quot; role=&quot;main&quot; tabindex=&quot;-1&quot;&gt;
  &lt;div class=&quot;region-content&quot;&gt;

    &lt;div class=&quot;l-panels-landing preface-empty title sidebar main&quot;&gt;
      &lt;div class=&quot;l-preface layout-constrain&quot;&gt;&lt;/div&gt;
      &lt;div class=&quot;l-title region-landing-title&quot;&gt;
        &lt;div class=&quot;layout-constrain&quot;&gt;
          {{&gt; atoms-landing-page-intro-wanteds }}
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;l-wrapper region-landing-content&quot;&gt;
        &lt;div class=&quot;layout-constrain&quot;&gt;
           &lt;aside class=&quot;l-sidebar&quot;&gt;
            {{&gt; molecules-filters }}
          &lt;/aside&gt;
          &lt;div class=&quot;l-main&quot;&gt;

            &lt;div class=&quot;pane pane--wanteds-search&quot;&gt;
              &lt;div class=&quot;pane__content&quot;&gt;
                &lt;form action=&quot;/members&quot; method=&quot;get&quot; id=&quot;views-exposed-form-user-listing-listing-pane&quot; accept-charset=&quot;UTF-8&quot;&gt;      &lt;div id=&quot;edit-search-api-views-fulltext&quot; class=&quot;views-widget views-widget--filter-search_api_views_fulltext&quot;&gt;
                  &lt;div class=&quot;form-item form-type-textfield form-item-search-api-views-fulltext&quot;&gt;
                    &lt;input autocapitalize=&quot;off&quot; autocorrect=&quot;off&quot; id=&quot;edit-search-api-views-fulltext&quot; name=&quot;search_api_views_fulltext&quot; value=&quot;&quot; size=&quot;30&quot; maxlength=&quot;128&quot; class=&quot;form-text&quot; type=&quot;text&quot;&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
                &lt;div class=&quot;views-widget views-widget--submit&quot;&gt;
                  &lt;input id=&quot;edit-submit-user-listing&quot; name=&quot;&quot; value=&quot;Apply&quot; class=&quot;button button--submit&quot; type=&quot;submit&quot;&gt;  &lt;/div&gt;
                &lt;/form&gt;
              &lt;/div&gt;
            &lt;/div&gt;

            &lt;div class=&quot;pane&quot;&gt;
              &lt;div class=&quot;pane__content&quot;&gt;
                &lt;div class=&quot;view view--needs-listing-pages&quot;&gt;
                   {{# listItems.nine }}
                      &lt;div class=&quot;views-row&quot;&gt;
                        {{&gt; organisms-wanteds-teaser }}
                      &lt;/div&gt;
                    {{/ listItems.nine }}
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;

        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;

  &lt;/div&gt;
&lt;/main&gt;

{{&gt; organisms-postscript }}
{{&gt; organisms-footer }}
