.block--main-menu {
  .region-navigation & {
    display: none;
    @include breakpoint($mobile-menu-bp, $no-query: true) {
      display: block;
    }
    left: 180px;
    position: absolute;
    top: 3px;
  }
}