&lt;div class=&quot;l-panels-detail title main main-sidebar center-empty box-first box-second box-third bottom-sidebar bottom&quot;&gt;
  &lt;div class=&quot;l-title region-title&quot;&gt;
    &lt;div class=&quot;layout-constrain&quot;&gt;
      &lt;div class=&quot;pane pane--page-title&quot;&gt;
        &lt;div class=&quot;pane__content&quot;&gt;
          &lt;h1&gt;{{ pageTitle }}&lt;/h1&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;l-wrapper layout-constrain&quot;&gt;
    &lt;div class=&quot;l-main&quot;&gt;
      {{{ body }}}
    &lt;/div&gt;
    &lt;aside class=&quot;l-main-sidebar&quot;&gt;
      {{&gt; molecules-favorite-this }}
    &lt;/aside&gt;
  &lt;/div&gt;
  &lt;div class=&quot;l-center layout-constrain&quot;&gt;
 
  &lt;/div&gt;
  &lt;div class=&quot;l-wrapper region-meta&quot;&gt;
    &lt;div class=&quot;layout-constrain&quot;&gt;
      &lt;div class=&quot;l-box-first&quot;&gt;
        {{&gt; molecules-at-a-glance-funding }}
      &lt;/div&gt;
      &lt;div class=&quot;l-box-second&quot;&gt;
        {{&gt; molecules-deadline-funding }}
      &lt;/div&gt;
      &lt;div class=&quot;l-box-third&quot;&gt;
        {{&gt; molecules-how-to-apply-funding }}
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;l-wrapper layout-constrain&quot;&gt;
    &lt;div class=&quot;l-bottom&quot;&gt;

      &lt;div class=&quot;pane pane--node&quot;&gt;
        &lt;h2 class=&quot;pane__title&quot;&gt;About This Funding Opportunity&lt;/h2&gt;
        &lt;div class=&quot;pane__content&quot;&gt;

          &lt;div class=&quot;node node--innovation node--full view-mode-full&quot;&gt;

            &lt;div class=&quot;stats&quot;&gt;
              &lt;h2&gt;Innovation Stats&lt;/h2&gt;
              &lt;div class=&quot;stats__first&quot;&gt;
                &lt;div class=&quot;field clearfix&quot;&gt;
                  &lt;div class=&quot;field-label&quot;&gt;Contact:&amp;nbsp;&lt;/div&gt;
                  &lt;div class=&quot;field-items&quot;&gt;
                    &lt;div class=&quot;field-item&quot;&gt;info@gatesfoundation&lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
                &lt;div class=&quot;field clearfix&quot;&gt;
                  &lt;div class=&quot;field-label&quot;&gt;Grant / Award:&amp;nbsp;&lt;/div&gt;
                  &lt;div class=&quot;field-items&quot;&gt;
                    &lt;div class=&quot;field-item&quot;&gt;USD $500,000 to support the initial development and validation of solutions.&lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
                &lt;div class=&quot;field clearfix&quot;&gt;
                  &lt;div class=&quot;field-label&quot;&gt;Eligibility:&amp;nbsp;&lt;/div&gt;
                  &lt;div class=&quot;field-items&quot;&gt;
                    &lt;div class=&quot;field-item&quot;&gt;Lorem ipsum dolor sit amet! Quis nunc eget Donec leo! Donec condimentum est ac. Mus dapibus wisi sagittis cubilia, scelerisque, suscipit Mauris, libero. Ullamcorper penatibus nostra.&lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
              &lt;div class=&quot;stats__second&quot;&gt;
                &lt;div class=&quot;field clearfix&quot;&gt;
                  &lt;div class=&quot;field-label&quot;&gt;Geographic Focus:&amp;nbsp;&lt;/div&gt;
                  &lt;div class=&quot;field-items&quot;&gt;
                    &lt;div class=&quot;field-item even&quot;&gt;&lt;a href=&quot;#&quot;&gt;India&lt;/a&gt;&lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
                &lt;div class=&quot;field clearfix&quot;&gt;
                  &lt;div class=&quot;field-label&quot;&gt;Sectors:&amp;nbsp;&lt;/div&gt;
                  &lt;div class=&quot;field-items&quot;&gt;
                    &lt;div class=&quot;field-item&quot;&gt;&lt;a href=&quot;#&quot;&gt;Clean Energy Sector&lt;/a&gt;&lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
                &lt;div class=&quot;field clearfix&quot;&gt;
                  &lt;div class=&quot;field-label&quot;&gt;Duration:&amp;nbsp;&lt;/div&gt;
                  &lt;div class=&quot;field-items&quot;&gt;
                    &lt;div class=&quot;field-item&quot;&gt;54 months&lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
                &lt;div class=&quot;field clearfix&quot;&gt;
                  &lt;div class=&quot;field-label&quot;&gt;Time to Apply:&amp;nbsp;&lt;/div&gt;
                  &lt;div class=&quot;field-items&quot;&gt;
                    &lt;div class=&quot;field-item&quot;&gt;4-6 hours&lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          
            &lt;div class=&quot;field&quot;&gt;
              &lt;h2 class=&quot;field__label field__label--above&quot;&gt;Eligibility&lt;/h2&gt;
              &lt;p&gt;Zombies reversus ab inferno, nam malum cerebro. De carne animata corpora quaeritis. Summus sit&acirc;€‹&acirc;€‹, morbo vel maleficia? De Apocalypsi undead dictum mauris. Hi mortuis soulless creaturas, imo monstra adventus vultus comedat cerebella viventium. Qui offenderit rapto, terribilem incessu. The voodoo sacerdos suscitat mortuos comedere carnem. Search for solum oculi eorum defunctis cerebro. Nescio an malus.&lt;/p&gt;
            &lt;/div&gt;

            &lt;div class=&quot;field&quot;&gt;
              &lt;h2 class=&quot;field__label field__label--above&quot;&gt;Application Guidance&lt;/h2&gt;
              &lt;p&gt;Zombies reversus ab inferno, nam malum cerebro. De carne animata corpora quaeritis. Summus sit&acirc;€‹&acirc;€‹, morbo vel maleficia? De Apocalypsi undead dictum mauris. Hi mortuis soulless creaturas, imo monstra adventus vultus comedat cerebella viventium. Qui offenderit rapto, terribilem incessu. The voodoo sacerdos suscitat mortuos comedere carnem. Search for solum oculi eorum defunctis cerebro. Nescio an malus.&lt;/p&gt;
            &lt;/div&gt;
         

            {{&gt; molecules-comments }}
      
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;

    &lt;/div&gt;
    &lt;aside class=&quot;l-bottom-sidebar&quot;&gt;
       &lt;div style=&quot;background: #ccc; color: #fff; font-weight: bold; text-align: center;&quot;&gt;
        SIDEBARZ&lt;br&gt;
        GO&lt;br&gt;
        HERE&lt;br&gt;
      &lt;/div&gt;
    &lt;/aside&gt;
  &lt;/div&gt;
&lt;/div&gt;
