.view--microsite-description {
  color: #565a5c;
  font-size: em($font-size-md);
  .view__header h2 {
    border-bottom: 1px solid #cecfcb;
    color: #565a5c;
    font-size: em($font-size-lg,$font-size-md);
    margin-bottom: 1em;
    padding-bottom: 0.5em;
    text-transform: uppercase;
  }
  .button {
   
    @each $current-color in $microsite-secondary-list {
      $i: index($microsite-secondary-list, $current-color);
      .microsite-palette#{$i} & { // body class
        background-color: $current-color;
        border-color: $current-color;
        &:hover, &:focus {
           background-color: darken($current-color, 6.9%);
           border-color: darken($current-color, 6.9%);
        }
      }
    }

  }
}