.view--microsite-description {
  color: #565a5c;
  font-size: em($font-size-md);
  .view__header h2 {
    border-bottom: 1px solid #cecfcb;
    color: #565a5c;
    font-size: em($font-size-lg,$font-size-md);
    margin-bottom: 1em;
    padding-bottom: 0.5em;
    text-transform: uppercase;
  }
  .button {
   
    @each $item, $color in $micrositeColorMap {
      .microsite-palette#{$item} & {
        background-color: micro-site($item, 'secondary');
        border-color: micro-site($item, 'secondary');
        &:hover, &:focus {
           background-color: darken(micro-site($item, 'secondary'), 6.9%);
           border-color: darken(micro-site($item, 'secondary'), 6.9%);
        }
      }
    }

  }
}
