.view--microsite-description {
  color: #565a5c;
  font-size: em($font-size-md);
  .view__header h2 {
    border-bottom: 1px solid #cecfcb;
    color: #565a5c;
    font-size: em($font-size-lg,$font-size-md);
    margin-bottom: 1em;
    padding-bottom: 0.5em;
    text-transform: uppercase;
  }
  .button {
    .microsite-palette1 & {
      background-color: $microsite-palette1-secondary;
      border-color: $microsite-palette1-secondary;
      &:hover, &:focus {
         background-color: darken($microsite-palette1-secondary, 6.9%);
         border-color: darken($microsite-palette1-secondary, 6.9%);
      }
    }
    .microsite-palette2 & {
      background-color: $microsite-palette2-secondary;
      border-color: $microsite-palette2-secondary;
      &:hover, &:focus {
         background-color: darken($microsite-palette2-secondary, 6.9%);
         border-color: darken($microsite-palette2-secondary, 6.9%);
      }
    }
  }
}