.view--subterms {
	.views-row {
		border-bottom: 1px solid $border-color;
		padding: 0;
		a {
			background-color: $blue;
			color: $button-text-color; 
			display: block;
			font-weight: 400;
			padding: 10px 25px 10px 10px;
			position: relative;
			text-decoration: none;
			&:hover, &:focus {
				background-color: darken($blue, 10%);
			}
			&:after {
				@include image-replace(16px,16px);
				@include svg-background(chevron-thin-right2);
				content: '';
				display: inline-block;
				position: absolute;
				right: 10px;
				top: 15px;
			}
		}
	}
}

