.view--partners {
  .view__content {
    overflow: hidden;
  }
  .views-row {
    padding: 0 0 1em 0;
    @include breakpoint(400px, $no-query: true) {
      float: left;
      width: percentage(1/2);
    }
    @include breakpoint(600px) {
      width: percentage(1/3);
    }
    @include breakpoint(900px, $no-query: true) {
      width: percentage(1/4);
    }
  }
  .view__footer {
    clear: both;
    .button {
      margin-right: 1em;
    }
    .view__all {
      @include breakpoint(max-width 500px) {
        display: block;
        margin-bottom: 1em;
        margin-top: 1em;
      }
    }
  }
}