%view--at-a-glance__icon-field {
  display: inline-block;
  float: left;
  padding: 0 0 1em 35px;
  position: relative;
  &:before {
    content: "";
    display: block;
    left: 0;
    position: absolute;
    top: 5px;
  }
  .views-label {
    float: right;
    margin-right: 0;
    padding-left: 1em;
  }
}

.view--at-a-glance {
  overflow: hidden;
  padding-left: 1.5em;
  .view__attachment-after {
    .view {
      clear: both;
      padding-left: 0;
    }
  }
  .views-field {
    clear: both;
  }
  .has-icon--comment {
    @extend %view--at-a-glance__icon-field;
    &:before {
      @extend %cardicon;
      @include image-replace(20px,17px);
      @include svg-background(icon-comment-20-17-blue); 
    }
  }
  .has-icon--camera {
    @extend %view--at-a-glance__icon-field;
    &:before {
      @extend %cardicon;
      @include image-replace(23px,17px);
      @include svg-background(icon-photo-23-17-blue);
    }
  }
  .has-icon--favorite {
    @extend %view--at-a-glance__icon-field;
    &:before {
      @extend %cardicon;
      @include image-replace(18px,17px);
      @include svg-background(icon-favorite-18-17-blue);
    }
  }
  .has-icon--member {
    @extend %view--at-a-glance__icon-field;
    &:before {
      @extend %cardicon;
      @include image-replace(17px,17px);
      @include svg-background(icon-member-17-17-blue);
    }
  }
  .has-icon--organization {
    @extend %view--at-a-glance__icon-field;
    &:before {
      @extend %cardicon;
      @include image-replace(17px,17px);
      @include svg-background(icon-organization-17-17-blue);
    }
  }
  .has-icon--evidence {
    @extend %view--at-a-glance__icon-field;
    &:before {
      @extend %cardicon;
      @include image-replace(15px,17px);
      @include svg-background(icon-evidence-15-17-blue);
    }
  }
  .has-icon--innovation {
    @extend %view--at-a-glance__icon-field;
    &:before {
      @extend %cardicon;
      @include image-replace(15px,20px);
      @include svg-background(icon-innovations-15-20-blue);
    }
  }
}