.view--homepage-cardflip {
  @extend %clearfix;
  margin: 0 -0.5em;
  .views-row {
    padding: 0 0.5em 1em 0.5em;
    perspective: 800px;
    transform: translate3d(0px, 0px, 0px);
    @include breakpoint(500px, $no-query: true) {
      float: left;
      width: percentage(1/2);
    }
    @include breakpoint(830px, $no-query: true) {
      width: percentage(1/4);
    }
  }
}