&lt;div class=&quot;block block--system-user-menu&quot;&gt;      
  &lt;ul class=&quot;nav&quot;&gt;
    &lt;li class=&quot;nav__item&quot;&gt;&lt;a class=&quot;nav__link&quot; href=&quot;#&quot;&gt;Welcome, Drupal!&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;nav__item&quot;&gt;&lt;a class=&quot;nav__link&quot; href=&quot;#&quot;&gt;My Dashboard&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;nav__item&quot;&gt;&lt;a class=&quot;nav__link&quot; href=&quot;#&quot;&gt;Log Out&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;  
&lt;/div&gt;