&lt;div class=&quot;pane pane--about-introduction pane--landing-intro&quot;&gt;
  &lt;div class=&quot;pane__content&quot;&gt;
    &lt;div class=&quot;pane--landing-intro__left&quot;&gt;
      &lt;h1&gt;{{pageTitle}}&lt;/h1&gt;
      &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed&lt;/p&gt;
    &lt;/div&gt;
    &lt;div class=&quot;pane--landing-intro__right&quot;&gt;
      &lt;p&gt;&lt;a href=&quot;/node/add/innovation&quot; class=&quot;button button--add&quot;&gt;Add An Innovation&lt;/a&gt;&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;