&lt;div class=&quot;layout-panels-three-column preface first second-empty third-empty&quot;&gt;
  &lt;div class=&quot;layout-preface&quot;&gt;
    &lt;p style=&quot;background:#333;color:#fff;padding:1em&quot;&gt;Preface&lt;/p&gt;
  &lt;/div&gt;
  &lt;div class=&quot;layout-first&quot;&gt;
    &lt;p style=&quot;background:#333;color:#fff;padding:1em&quot;&gt;First&lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;
