<div class="block block--og-menu-single-menu">      
  <ul class="nav">
    <li class="nav__item"><a class="nav__link" title="" href="#">About</a></li>
    <li class="nav__item"><a class="nav__link" title="" href="#">Innovations</a></li>
  </ul>  
</div>