<div class="block block-menu-menu-sub-footer-menu block--menu block--menu-menu-sub-footer-menu">      
  <ul class="nav">
    <li class="nav__item"><a class="nav__link" href="#">Credits</a></li>
    <li class="nav__item"><a class="nav__link" href="#">Privacy Policy</a></li>
    <li class="nav__item"><a class="nav__link" href="#">Terms of Use</a></li>
  </ul>  
</div>