<div class="block block--system-user-menu">      
  <ul class="nav">
    <li class="nav__item"><a class="nav__link" href="#">Welcome, Drupal!</a></li>
    <li class="nav__item"><a class="nav__link" href="#">My Dashboard</a></li>
    <li class="nav__item"><a class="nav__link" href="#">Log Out</a></li>
  </ul>  
</div>