&lt;div class=&quot;l-panels-detail title main main-sidebar center-empty bottom-sidebar bottom&quot;&gt;
  &lt;div class=&quot;l-title region-title&quot;&gt;
    &lt;div class=&quot;layout-constrain&quot;&gt;
      &lt;div class=&quot;pane pane--page-title&quot;&gt;
        &lt;div class=&quot;pane__content&quot;&gt;
          &lt;h1&gt;{{ pageTitle }}&lt;/h1&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;l-wrapper layout-constrain&quot;&gt;
    &lt;div class=&quot;l-main&quot;&gt;
      {{{ body }}}
    &lt;/div&gt;
    &lt;aside class=&quot;l-main-sidebar&quot;&gt;
      {{&gt; molecules-favorite-this }}
    &lt;/aside&gt;
  &lt;/div&gt;
  &lt;div class=&quot;l-center layout-constrain&quot;&gt;
 
  &lt;/div&gt;
  
  &lt;div class=&quot;l-wrapper layout-constrain&quot;&gt; 
    &lt;div class=&quot;l-bottom&quot;&gt;

      &lt;div class=&quot;pane pane--node&quot;&gt;
        &lt;h2 class=&quot;pane__title&quot;&gt;Highlights&lt;/h2&gt;
        &lt;div class=&quot;pane__content&quot;&gt;

          &lt;div class=&quot;view view--highlights&quot;&gt;

            &lt;div class=&quot;card community__content&quot;&gt;
              &lt;h2 class=&quot;community__card-type&quot;&gt;Innovation&lt;/h2&gt;
              &lt;h3 class=&quot;community__primary-title&quot;&gt;
                &lt;a href=&quot;#&quot;&gt;Making the Journey from Cash to Electronic Payments&lt;/a&gt;
              &lt;/h3&gt;
              
                &lt;div class=&quot;community__author-image&quot;&gt;
                  &lt;img src=&quot;../../images-patternlab/buffy-35-35.jpg&quot;&gt;
                &lt;/div&gt;

              &lt;div class=&quot;community__author&quot;&gt;
                &lt;div class=&quot;community__author-name&quot;&gt;Buffy Summers&lt;/div&gt;
                &lt;div class=&quot;community__author-date&quot;&gt;
                &lt;span class=&quot;date-display-single&quot;&gt;4/2/2015&lt;/span&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;

            &lt;div class=&quot;card community__content&quot;&gt;
              &lt;h2 class=&quot;community__card-type&quot;&gt;Publication&lt;/h2&gt;
              &lt;h3 class=&quot;community__primary-title&quot;&gt;
                &lt;a href=&quot;#&quot;&gt;Lorem ipsum dolor sit amet, consectetur adip iscing elit. Viva mustem pus arcu elit.&lt;/a&gt;
              &lt;/h3&gt;
              
                &lt;div class=&quot;community__author-image&quot;&gt;
                  &lt;img src=&quot;../../images-patternlab/buffy-35-35.jpg&quot;&gt;
                &lt;/div&gt;

              &lt;div class=&quot;community__author&quot;&gt;
                &lt;div class=&quot;community__author-name&quot;&gt;Buffy Summers&lt;/div&gt;
                &lt;div class=&quot;community__author-date&quot;&gt;
                &lt;span class=&quot;date-display-single&quot;&gt;4/2/2015&lt;/span&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;

            
    
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;

    &lt;/div&gt;
    &lt;aside class=&quot;l-bottom-sidebar&quot;&gt;
       {{&gt; molecules-related-subsectors }}
       {{&gt; molecules-recent-conversations }}
    &lt;/aside&gt;
  &lt;/div&gt;
&lt;/div&gt;
