&lt;header class=&quot;header-simple&quot; role=&quot;banner&quot;&gt;
  &lt;div class=&quot;layout-constrain&quot;&gt;
    {{&gt; atoms-site-name-simple }}
    {{&gt; molecules-login-form }} 
  &lt;/div&gt;
&lt;/header&gt;
