<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #d31145;"></span>
		<span class="sg-label">#d31145</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #003359;"></span>
		<span class="sg-label">#003359</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #dcddde;"></span>
		<span class="sg-label">#dcddde</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #4d4d4f;"></span>
		<span class="sg-label">#4d4d4f</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ff1352;"></span>
		<span class="sg-label">#ff1352</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #1974b8;"></span>
		<span class="sg-label">#1974b8</span>
	</li>
{{! 	<li>
		<span class="sg-swatch" style="background: #000000;"></span>
		<span class="sg-label">#000000</span>
	</li> }}
</ul>
