/* line 11, ../../sass/partials/layout/panels/_home.scss */
.l-panels-home {
  *zoom: 1;
}
/* line 9, ../../sass/partials/global/helpers/_clearfix.scss */
.l-panels-home:after {
  display: table;
  content: "";
}
/* line 14, ../../sass/partials/global/helpers/_clearfix.scss */
.l-panels-home:after {
  clear: both;
}
/* line 13, ../../sass/partials/layout/panels/_home.scss */
.l-panels-home .l-hero,
.l-panels-home .l-main,
.l-panels-home .l-villain,
.l-panels-home .l-postscript {
  *zoom: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *box-sizing: content-box;
  *behavior: url("/sites/all/themes/gesso/polyfills/boxsizing.htc");
}
/* line 9, ../../sass/partials/global/helpers/_clearfix.scss */
.l-panels-home .l-hero:after,
.l-panels-home .l-main:after,
.l-panels-home .l-villain:after,
.l-panels-home .l-postscript:after {
  display: table;
  content: "";
}
/* line 14, ../../sass/partials/global/helpers/_clearfix.scss */
.l-panels-home .l-hero:after,
.l-panels-home .l-main:after,
.l-panels-home .l-villain:after,
.l-panels-home .l-postscript:after {
  clear: both;
}
