@media (min-width: 43.75em) {
  /* line 12, ../../sass/partials/layout/panels/_sidebar-left.scss */
  .l-panels-sidebar-left.main.sidebar .l-sidebar {
    width: 20.58824%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
  /* line 15, ../../sass/partials/layout/panels/_sidebar-left.scss */
  .l-panels-sidebar-left.main.sidebar .l-main {
    width: 73.52941%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}

/* line 22, ../../sass/partials/layout/panels/_sidebar-left.scss */
.l-panels-sidebar-left {
  *zoom: 1;
}
/* line 9, ../../sass/partials/global/helpers/_clearfix.scss */
.l-panels-sidebar-left:after {
  display: table;
  content: "";
}
/* line 14, ../../sass/partials/global/helpers/_clearfix.scss */
.l-panels-sidebar-left:after {
  clear: both;
}
/* line 24, ../../sass/partials/layout/panels/_sidebar-left.scss */
.l-panels-sidebar-left .l-preface,
.l-panels-sidebar-left .l-title,
.l-panels-sidebar-left .l-main,
.l-panels-sidebar-left .l-sidebar,
.l-panels-sidebar-left .l-wrapper {
  *zoom: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *box-sizing: content-box;
  *behavior: url("/sites/all/themes/gesso/polyfills/boxsizing.htc");
}
/* line 9, ../../sass/partials/global/helpers/_clearfix.scss */
.l-panels-sidebar-left .l-preface:after,
.l-panels-sidebar-left .l-title:after,
.l-panels-sidebar-left .l-main:after,
.l-panels-sidebar-left .l-sidebar:after,
.l-panels-sidebar-left .l-wrapper:after {
  display: table;
  content: "";
}
/* line 14, ../../sass/partials/global/helpers/_clearfix.scss */
.l-panels-sidebar-left .l-preface:after,
.l-panels-sidebar-left .l-title:after,
.l-panels-sidebar-left .l-main:after,
.l-panels-sidebar-left .l-sidebar:after,
.l-panels-sidebar-left .l-wrapper:after {
  clear: both;
}
