@media (min-width: 43.75em) {
  /* line 12, ../../sass/partials/layout/panels/_split.scss */
  .l-panels-split.first.second .l-first {
    width: 47.05882%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
  /* line 15, ../../sass/partials/layout/panels/_split.scss */
  .l-panels-split.first.second .l-second {
    width: 47.05882%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}

/* line 22, ../../sass/partials/layout/panels/_split.scss */
.l-panels-split {
  *zoom: 1;
}
/* line 9, ../../sass/partials/global/helpers/_clearfix.scss */
.l-panels-split:after {
  display: table;
  content: "";
}
/* line 14, ../../sass/partials/global/helpers/_clearfix.scss */
.l-panels-split:after {
  clear: both;
}
/* line 24, ../../sass/partials/layout/panels/_split.scss */
.l-panels-split .l-preface,
.l-panels-split .l-first,
.l-panels-split .l-second,
.l-panels-split .l-wrapper {
  *zoom: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *box-sizing: content-box;
  *behavior: url("/sites/all/themes/gesso/polyfills/boxsizing.htc");
}
/* line 9, ../../sass/partials/global/helpers/_clearfix.scss */
.l-panels-split .l-preface:after,
.l-panels-split .l-first:after,
.l-panels-split .l-second:after,
.l-panels-split .l-wrapper:after {
  display: table;
  content: "";
}
/* line 14, ../../sass/partials/global/helpers/_clearfix.scss */
.l-panels-split .l-preface:after,
.l-panels-split .l-first:after,
.l-panels-split .l-second:after,
.l-panels-split .l-wrapper:after {
  clear: both;
}
