{{&gt; organisms-header-simple }}

&lt;main id=&quot;main&quot; class=&quot;main&quot; role=&quot;main&quot; tabindex=&quot;-1&quot;&gt;
  &lt;div class=&quot;region-content&quot;&gt;

    {{&gt; organisms-welcome-page }}

  &lt;/div&gt;
&lt;/main&gt;

{{&gt; organisms-footer-simple }}
