<footer class="footer" role="contentinfo">
  <div class="region-footer">
  	<div class="footer__download-link"><a href="#" target="_blank">For more on digital finance download a copy of our fact sheet</a></div>
  	<div class="footer__download-image layout-constrain"></div>
  	<div class="footer__about layout-constrain">{{> components-footer-about }}</div>
  	<div class="footer__sponsor layout-constrain">{{> components-footer-sponsor }}</div>
  	<div class="footer__menu layout-constrain">{{> components-footer-menu }}</div>
  </div>
</footer>
