<footer class="footer" role="contentinfo">
  <div class="region-footer">
  	<div class="footer__about block--pane-about-the-exchange  layout-constrain">{{> components-footer-about }}</div>
  	<div class="footer__menu block--menu-menu-sub-footer-menu layout-constrain">{{> components-footer-menu }}</div>
  </div>
</footer>



