<footer class="footer layout-constrain" role="contentinfo">
  <div class="region-footer">
  	<div class="footer__about block--pane-about-the-exchange">{{> components-footer-about }}</div>
  	<div class="footer__menu block--menu-menu-sub-footer-menu">{{> components-footer-menu }}</div>
  </div>
</footer>



