{{&gt; layouts-header-region }}
{{&gt; layouts-navigation-region }}
{{&gt; layouts-preface-region }}

&lt;main id=&quot;main&quot; class=&quot;main&quot; role=&quot;main&quot; tabindex=&quot;-1&quot;&gt;
  &lt;div class=&quot;region-content layout-constrain&quot;&gt;

    {{&gt; components-basic-page }}

  &lt;/div&gt;
&lt;/main&gt;

{{&gt; layouts-postscript-region }}
{{&gt; layouts-footer-region }}
