&lt;article class=&quot;node node--innovation node--teaser&quot;&gt;
  &lt;div class=&quot;field field--innovation-image&quot;&gt;
    &lt;a href=&quot;{{ url }}&quot;&gt;{{&gt; atoms-thumbnail-image }}&lt;/a&gt;
  &lt;/div&gt;
  &lt;div class=&quot;field field--title-field&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt;{{ title }}&lt;/a&gt;&lt;/div&gt;
  &lt;div class=&quot;field field--innovation-desc&quot;&gt;{{{ summary }}}&lt;/div&gt;
  &lt;div class=&quot;view view-innovation-listing-counts&quot;&gt;
    &lt;div class=&quot;views-field-field-innovation-proof-evidence&quot;&gt;0&lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;view view-innovation-listing-counts&quot;&gt;
    &lt;div class=&quot;views-field-comment-count&quot;&gt;12&lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;view view-innovation-listing-counts&quot;&gt;
    &lt;div class=&quot;views-field-field-innovation-funders&quot;&gt;5&lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;view view-innovation-listing-counts&quot;&gt;
    &lt;div class=&quot;views-field-count&quot;&gt;6&lt;/div&gt;
  &lt;/div&gt;
&lt;/article&gt;
