&lt;nav class=&quot;block block--menu-block block--main-menu&quot; role=&quot;navigation&quot;&gt;
  &lt;h2 class=&quot;element-invisible block__title&quot;&gt;Main menu&lt;/h2&gt;
  &lt;ul class=&quot;nav nav--main-menu&quot;&gt;
    &lt;li class=&quot;nav__item&quot;&gt;&lt;a class=&quot;nav__link&quot; href=&quot;#&quot;&gt;Innovations&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;nav__item&quot;&gt;&lt;a class=&quot;nav__link&quot; href=&quot;#&quot;&gt;Funding&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;nav__item&quot;&gt;&lt;a class=&quot;nav__link&quot; href=&quot;#&quot;&gt;Resources&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;nav__item&quot;&gt;&lt;a class=&quot;nav__link&quot; href=&quot;#&quot;&gt;More&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;nav__item&quot;&gt;&lt;a class=&quot;nav__link&quot; href=&quot;#&quot;&gt;Communities&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;
&lt;/nav&gt;
