&lt;div class=&quot;layout-slat node node--discussion node--listing view-mode-listing&quot;&gt;
  &lt;div class=&quot;layout-slat__media&quot;&gt;
    &lt;div class=&quot;view view-content-author&quot;&gt;
      &lt;div class=&quot;views-field views-field-field-user-photo&quot;&gt;        
        &lt;div class=&quot;field-content profile-thumb__image--rounded&quot;&gt;
          &lt;img src=&quot;{{ img.icon.src }}&quot;&gt;
        &lt;/div&gt;  
      &lt;/div&gt;  
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;layout-slat__content&quot;&gt;
    &lt;h3 class=&quot;node__title&quot;&gt;
      &lt;a href=&quot;{{ url }}&quot;&gt;{{ title }}&lt;/a&gt;
    &lt;/h3&gt;
    &lt;div class=&quot;node__posted-by&quot;&gt;
      &lt;span&gt;Posted by &lt;a href=&quot;#&quot;&gt;{{ author }}&lt;/a&gt; on May 6, 2015 at 1:03pm&lt;/span&gt;
    &lt;/div&gt;
    &lt;div class=&quot;node__summary&quot;&gt;
      &lt;div class=&quot;field field--discussion-desc&quot;&gt;
        &lt;div class=&quot;field-items&quot;&gt;
          &lt;div class=&quot;field-item even&quot;&gt;
            {{{ summary }}}
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;

