<div class="section-header">
	<div class="section-header__title"><h4>Section Title w/Feature Image</h4></div>
	<div class="section-header__headline">Bold Headlines Stacked to the left like this</div>
</div>