<div class="key-figure">
	<div class="key-figure__number">200,000</div>
	<div class="key-figure__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. eiusmod tempor </div>
	<div class="key-figure__source">Lorem ipsum dolor sit amet, consectetur </div>
</div>