<div class="share_block">
	<div class="share_block__icon share_block__icon-share"><a href="#"></a></div>
	<div class="share_block__icon share_block__icon-fav"><a href="#"></a></div>
	<div class="share_block__icon share_block__icon-print"><a href="#"></a></div>
</div>