<div class="footer-sponsor layout-constrain">
	<div class="footer-sponsor__image footer-sponsor__image-usaid"></div>
	<div class="footer-sponsor__image footer-sponsor__image-usgd"></div>
	<div class="footer-sponsor__image footer-sponsor__image-gix"></div>
</div>