<div class="footer-about layout-constrain">
	<div class="footer-about__title">About The Exchange</div>
	<div class="footer-about__content">The Innovation Exchange is a marketplace that connects funders, innovators, users and solution seekers and gives them the tools to maximize their ability to meet the largest, most pressing development challenges.</div>
	<a class="button join__button" href="#">Join the Community</a>
</div>