<div class="footer-sponsor">
	<div class="footer-sponsor__image footer-sponsor__image-usaid">USAID</div>
	<div class="footer-sponsor__image footer-sponsor__image-usgd">USDD</div>
	<div class="footer-sponsor__image footer-sponsor__image-gix">GIX</div>
</div>