<div class="image component">
	<div class="image__title">Image Title goes here</div>
	<div class="image__image">{{> base-landscape-image }}</div>
	<div class="image__caption caption">An example caption for this image</div>
</div>