<div class="page-header component">
	<div class="layout-constrain">
		<div class="page-header__image">{{> base-header }}</div>
		<div class="page-header__subtext">Subtext Goes Here</div>
		<div class="page-header__headline">Main Headline Here</div>
		<div class="page-header__author"><img src="http://lorempixel.com/64/64/people/1/"></div>
		<div class="page-header__description">Brought to you by Digital Finance etc</div>
		<div class="page-header__scroll-button">Down</div>
	</div>
</div>