<div class="pre-footer">
		<div class="pre-footer__download-link"><a href="#" target="_blank">Learn More</a></div>
  	<div class="pre-footer__download-image layout-constrain"></div>
  	<div class="pre-footer__description layout-constrain"><p>Report Description goes here</p></div>
  	<div class="pre-footer__sponsor layout-constrain">{{> components-footer-sponsor }}</div>
</div>