<div class="pre-footer component">
		<div class="pre-footer__download-link"><div class="layout-constrain"><a href="#" target="_blank" ''>Learn More</a></div></div>
  	<div class="pre-footer__download-image layout-constrain"></div>
  	<div class="pre-footer__description layout-constrain"><p>Report Description goes here.Etiam sed dui eu erat gravida dictum. Quisque condimentum metus erat, ut faucibus eros dictum quis. Cras condimentum tempus magna in malesuada. Sed ornare lectus id magna finibus, nec vulputate mi lacinia. Fusce gravida felis ac feugiat lacinia. Quisque ut nisl vitae libero pharetra porta. </p></div>
  	<div class="pre-footer__sponsor layout-constrain">{{> components-footer-sponsor }}</div>
</div>