<div class="pre-footer">
		<div class="pre-footer__download-link"><a href="#" target="_blank">For more on digital finance download a copy of our fact sheet</a></div>
  	<div class="pre-footer__download-image layout-constrain"></div>
  	<div class="pre-footer__sponsor layout-constrain">{{> components-footer-sponsor }}</div>
</div>