<div class="section-header component">
	<div class="section-header__image"></div>
	<div class="section-header__title layout-constrain"><h4>Section Title w/Feature Image</h4></div>
	<div class="section-header__headline layout-constrain">Bold Headlines Stacked to the left like this</div>
</div>