<div class="share-block">
	<div class="share-block__icon share-block__icon--share"><span class="st_sharethis_custom "></span></div>
	<div class="share-block__icon share-block__icon--fav"><a href="#" class="flag-link-toggle"></a></div>
	<div class="share-block__icon share-block__icon--print"><a href="#"></a></div>
</div>