<div class="share-block">
	<div class="share-block__icon share-block__icon--share"><a href="#"></a></div>
	<div class="share-block__icon share-block__icon--fav"><a href="#"></a></div>
	<div class="share-block__icon share-block__icon--print"><a href="#"></a></div>
</div>