<div class="l-panels-detail title main main-sidebar center-empty bottom-sidebar bottom">
  <div class="l-title region-title">
    <div class="layout-constrain">
      <div class="pane pane--page-title">
        <div class="pane__content">
          <h1>{{ pageTitle }}</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="l-wrapper layout-constrain">
    <div class="l-main">
      {{{ body }}}
    </div>
    <aside class="l-main-sidebar">
      {{> molecules-favorite-this }}
    </aside>
  </div>
  <div class="l-center layout-constrain"> 
 
  </div>
  
  <div class="l-wrapper layout-constrain"> 
    <div class="l-bottom">

      <div class="pane pane--highlights-community-pane">
        <h2 class="pane__title">Highlights</h2> 
        <div class="pane__content">
          <div class="view--card-view-2col">
            {{# listItems.four }}
              <div class="views-row">
                {{> organisms-highlight-teaser }}
              </div>
            {{/ listItems.four }}
          </div>
        </div>
      </div>

      <div class="pane has-icon-innovation">
        <h2 class="pane__title">Innovations</h2> 
        <div class="pane__content">
          <div class="view--card-view-3col">
            {{# listItems.three }}
              <div class="views-row">
                {{> organisms-innovation-teaser }}
              </div>
            {{/ listItems.three }}
            <div class="view__more">
              <a href="#" class="view__all">View All Innovations</a>
            </div>
          </div>
        </div>
      </div>

      <div class="pane has-icon-resource">
        <h2 class="pane__title">Resources</h2> 
        <div class="pane__content">
          <div class="view--card-view-3col">
            {{# listItems.three }}
              <div class="views-row">
                {{> organisms-resource-teaser }}
              </div>
            {{/ listItems.three }}
            <div class="view__more">
              <a href="#" class="view__all">View All Resources</a>
            </div>
          </div>
        </div>
      </div>

      <div class="pane has-icon-funding">
        <h2 class="pane__title">Funding Opportunities</h2> 
        <div class="pane__content">
          <div class="view--card-view-3col">
            {{# listItems.three }}
              <div class="views-row">
                {{> organisms-funding-op-teaser }}
              </div>
            {{/ listItems.three }}
            <div class="view__more">
              <a href="#" class="view__all">View All Funding Opportunies</a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <aside class="l-bottom-sidebar">
       {{> molecules-related-subsectors }}
       {{> molecules-recent-conversations }}
    </aside>
  </div>
</div>
