<div class="l-panels-detail title main-empty main-sidebar-empty center-empty box-first box-second box-third bottom-sidebar bottom">
  <div class="l-title region-title">
    <div class="layout-constrain">
      <div class="pane pane--page-title">
        <div class="pane__content">
          <h1>{{ pageTitle }}</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="l-wrapper region-meta">
    <div class="layout-constrain">
      <div class="l-box-first">
        {{> molecules-at-a-glance-resource }}
      </div>
      <div class="l-box-second">
        {{> molecules-resource-data }}
      </div>
      <div class="l-box-third">

        {{> molecules-point-of-contact }}

      </div>
    </div>
  </div>
  <div class="l-wrapper layout-constrain">
    <div class="l-bottom">

      <div class="pane pane--node">
        <div class="pane__content">
          <div class="field field--resource-desc">
            <div class="field-items">
              <div class="field-item even">
                <p>The intersection of education and GBV is particularly relevant in schools, which are environments for learning and developing social and behavioral norms. School Related Gender Based Violence (SRGBV) is a sub-set of Gender Based Violence (GBV) specific to formal primary and secondary school settings. SRGBV has a negative impact on education achievement by affecting learners’ (and teachers’) physical and psychological health, emotional well-being, and social capital.</p>
                <p>This toolkit was developed for USAID technical and program officers working on education to increase understanding of Gender Based Violence (GBV) in the education context and strengthen integration of a GBV response into projects and activities. Because reducing School Related Gender Based Violence (SRGBV) is a high priority for USAID in all school systems globally, this toolkit includes SRGBV, but the overall focus is GBV in the education context broadly.</p>
                <p>While this toolkit was designed as a guide for technical and program officers working on USAID education to integrate gender-based violence (GBV) prevention and response throughout the USAID Program Cycle, it is a valuable resource for other practitioners prioritizing the integration of GBV responses into educational contexts.</p>
              </div>
            </div>
          </div>
          <div class="field field--resource-assets">
            <div class="field-label">Download:&nbsp;</div>
            <div class="field-items">
              <div class="field-item even">
                <div class="asset-wrapper asset aid-750 asset-document">
                  <div class="asset asset--document asset--download view-mode-download ">
                    <div class="field field--asset-document-file">
                      <div class="field-items">
                        <div class="field-item even">
                          <div class="file"><img src="../../images/application-pdf.png" alt="application/pdf" class="file__icon">
                            <a class="file__link" href="#">USAID GBV Education Toolkit.pdf</a> <span class="file__size">(1.04 MB)</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="field field--resource-link">
            <div class="field-items">
              <div class="field-item even">
                <a href="#">Access Resource Online</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{> molecules-comments }}
    </div>
    <aside class="l-bottom-sidebar">
      {{> molecules-favorite-this }}
      <div class='pane'><div class='sharethis-buttons'><a href='#' class='st_sharethis_custom'>Share</a></div></div>
      {{> molecules-report-button }}
    </aside>
  </div>
</div>
