<div class="l-panels-split preface-empty first second">
  <div class="l-wrapper layout-constrain">
    <div class="l-first">
      How Will Your Idea Change The World?
    </div>
    <aside class="l-second">
      Sign Up
    </aside>
  </div>
</div>
