<div class="l-panels-split preface-empty first second">
  <div class="l-wrapper layout-constrain">
    <div class="l-first">
      <h1>How Will Your Idea Change The World?</h1>
      <h2>Why Join The Exchange?</h2>
      <p>The Exchange is the world's leading place for the world's most innovative ideas. The Exchange is for innovators, collaborators, and funders who want help solving the world's biggest challenges.
      </p>
      <p>
        Join today and help us <a href="#">Exchange the world!</a>
      </p>
      <div class="welcome-stats">
        <div class="welcome-stats__item">
          <div class="welcome-stats__number">90</div>
          <div class="welcome-stats__label">Innovations</div>
        </div>
        <div class="welcome-stats__item">
          <div class="welcome-stats__number">740k</div>
          <div class="welcome-stats__label">In Funding</div>
        </div>
        <div class="welcome-stats__item">
          <div class="welcome-stats__number">55%</div>
          <div class="welcome-stats__label">Funded</div>
        </div>
      </div>
    </div>
    <aside class="l-second">
      <h1>Sign Up</h1>
      <form>
        <div id="edit-lr-social-login-links" class="form-item form-type-item">
          <label>Sign up with social:</label>
          <div class="lr_singleglider_200 interface_container">     
            <div class="lr_icons_box">       
              <div style="width:100%">    
                <span alt="Sign in with Google" title="Google" class="lr_providericons lr_google">    
                </span>       
              </div>     
            </div>        
            <div class="lr_icons_box">       
              <div style="width:100%">    
                <span alt="Sign in with Twitter" title="Twitter" class="lr_providericons lr_twitter">    
                </span>       
              </div>     
            </div>        
            <div class="lr_icons_box">       
              <div style="width:100%">    
                <span alt="Sign in with LinkedIn" title="LinkedIn" class="lr_providericons lr_linkedin">    
                </span>       
              </div>     
            </div>   
          </div>
          <div style="clear:both"></div>
        </div>
        <p class="login-title">Sign up with email:</p>
        <div class="form-item form-type-textfield">
          <input type="text" class="form-text is-required" maxlength="60" size="50"placeholder="First Name">
        </div>
        <div class="form-item form-type-textfield">
          <input type="text" class="form-text is-required" maxlength="60" size="50"placeholder="Last Name">
        </div>
        <div class="form-item form-type-textfield">
          <input type="text" class="form-text is-required" maxlength="60" size="50"placeholder="Email Address">
        </div>
        <div class="form-item form-type-textfield">
          <input type="text" class="form-text is-required" maxlength="60" size="50"placeholder="Password">
        </div>
        <p>
          By creating an account, you agree to our <a title="Get a new password" href="#">terms and conditions.</a>
        </p>
        <div class="form-actions">
          <input type="submit" class="button button--submit" value="Sign Up">
        </div>
        <p>
          Continue as <a href="#">Guest</a>
        </p>
      </form>
    </aside>
  </div>
</div>
