<div class="pane pane--homepage-views-action-card-panes">
  <h2 class="pane__title">Find your place on The Exchange</h2>  
  <div class="pane__content">
    <div class="view view--homepage-cardflip">
      <div class="views-row">
        <div class="cardflip">
          <div class="cardflip__card">
            <div class="cardflip__a">
              <div class="cardflip__title">Help an Innovator</div>
              <div class="cardflip__image"><img src="../../images/cardflip_01.png"></div>
            </div>
            <div class="cardflip__b">
              <div class="cardflip__title">Help an Innovator</div>
              <div class="cardflip__description">Discussions on the Exchange await your insight!</div>
              <div class="cardflip__link"><a href="#">View Discussions</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="views-row">
        <div class="cardflip">
          <div class="cardflip__card">
            <div class="cardflip__a">
              <div class="cardflip__title">Provide Feedback on Innovations</div>
              <div class="cardflip__image"><img src="../../images/cardflip_02.png"></div>
            </div>
            <div class="cardflip__b">
              <div class="cardflip__title">Help an Innovator</div>
              <div class="cardflip__description">Discussions on the Exchange await your insight!</div>
              <div class="cardflip__link"><a href="#">View Discussions</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="views-row">
        <div class="cardflip">
          <div class="cardflip__card">
            <div class="cardflip__a">
              <div class="cardflip__title">Test an Innovation</div>
              <div class="cardflip__image"><img src="../../images/cardflip_03.png"></div>
            </div>
            <div class="cardflip__b">
              <div class="cardflip__title">Help an Innovator</div>
              <div class="cardflip__description">Discussions on the Exchange await your insight!</div>
              <div class="cardflip__link"><a href="#">View Discussions</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="views-row">
        <div class="cardflip">
          <div class="cardflip__card">
            <div class="cardflip__a">
              <div class="cardflip__title">Find an Expert or Mentor</div>
              <div class="cardflip__image"><img src="../../images/cardflip_04.png"></div>
            </div>
            <div class="cardflip__b">
              <div class="cardflip__title">Help an Innovator</div>
              <div class="cardflip__description">Discussions on the Exchange await your insight!</div>
              <div class="cardflip__link"><a href="#">View Discussions</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="views-row">
        <div class="cardflip">
          <div class="cardflip__card">
            <div class="cardflip__a">
              <div class="cardflip__title">Join a Conversation</div>
              <div class="cardflip__image"><img src="../../images/cardflip_05.png"></div>
            </div>
            <div class="cardflip__b">
              <div class="cardflip__title">Help an Innovator</div>
              <div class="cardflip__description">Discussions on the Exchange await your insight!</div>
              <div class="cardflip__link"><a href="#">View Discussions</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="views-row">
        <div class="cardflip">
          <div class="cardflip__card">
            <div class="cardflip__a">
              <div class="cardflip__title">Share Your Research or Resources</div>
              <div class="cardflip__image"><img src="../../images/cardflip_06.png"></div>
            </div>
            <div class="cardflip__b">
              <div class="cardflip__title">Help an Innovator</div>
              <div class="cardflip__description">Discussions on the Exchange await your insight!</div>
              <div class="cardflip__link"><a href="#">View Discussions</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="views-row">
        <div class="cardflip">
          <div class="cardflip__card">
            <div class="cardflip__a">
              <div class="cardflip__title">Join a Community</div>
              <div class="cardflip__image"><img src="../../images/cardflip_07.png"></div>
            </div>
            <div class="cardflip__b">
              <div class="cardflip__title">Help an Innovator</div>
              <div class="cardflip__description">Discussions on the Exchange await your insight!</div>
              <div class="cardflip__link"><a href="#">View Discussions</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="views-row">
        <div class="cardflip">
          <div class="cardflip__card">
            <div class="cardflip__a">
              <div class="cardflip__title">View an Event</div>
              <div class="cardflip__image"><img src="../../images/cardflip_08.png"></div>
            </div>
            <div class="cardflip__b">
              <div class="cardflip__title">Help an Innovator</div>
              <div class="cardflip__description">Discussions on the Exchange await your insight!</div>
              <div class="cardflip__link"><a href="#">View Discussions</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>