<div class="pane">
  <h2 class="pane__title">At a Glance</h2>
  <div class="pane__content">
    <div class="view view--at-a-glance">
      <div class="views-row">
        <div class="views-field has-icon--comment" title="Comments">
          <span class="views-label">Comments</span>
          <span>2</span>
        </div>
        <div class="views-field has-icon--favorite" title="Favorites">
          <span class="views-label">Favorites</span>
          <span>1</span>
        </div>
        <div class="field--at-a-glance">
          <div class="field__label">Source:&nbsp;</div>
          <div class="field__item"><a target="_blank" href="#">Integrating GBV Prevention and Response into Education Projects</a></div>
        </div>
        <div class="field--at-a-glance">
          <div class="field__label">Resource Posted:&nbsp;</div>
          <div class="field__item"><span content="2015-10-12T00:00:00-04:00" datatype="xsd:dateTime" property="dc:date" class="date-display-single">Monday, October 12, 2015</span></div>
        </div>
      </div>
    </div>
  </div>
</div>
