<div class="pane">
  <h2 class="pane__title">Innovation Team</h2>
  <div class="pane__content">
    <div class="view">
      <div class="layout-grid layout-grid--cols-3">
        <div class="layout-grid__row layout-grid__row--1 layout-grid__row--first profile-thumb">
          <div class="layout-grid__column layout-grid__column--1 layout-grid__column--first">
            <div class="user-profile">
              <div class="field profile-thumb__image-rounded">
                <a href="#"><img alt="" src="../../images/sherlock-78-78.jpg"></a>
              </div>
              <div class="field profile-thumb__name">
                <a href="#">Sherlock Holmes</a>
              </div>
            </div>
          </div>
          <div class="layout-grid__column layout-grid__column--2 profile-thumb">
            <div class="user-profile">
              <div class="field profile-thumb__image-rounded">
                <a href="#"><img alt="" src="../../images/buffy-78-78.jpg"></a>
              </div>
              <div class="field profile-thumb__name">
                <a href="#">Buffy Summers</a>
              </div>
            </div>
          </div>
          <div class="layout-grid__column layout-grid__column--3 layout-grid__column--last profile-thumb">
            <div class="user-profile">
              <div class="field profile-thumb__image-rounded">
                <a href="#"><img alt="" src="../../images/hannibal-78-78.jpg"></a>
              </div>
              <div class="field profile-thumb__name">
                <a href="#">Dr. Hannibal Lecter</a>
              </div>
            </div>
          </div>
        </div>
        <div class="layout-grid__row layout-grid__row--2 layout-grid__row--last">
          <div class="layout-grid__column layout-grid__column--1 layout-grid__column--first profile-thumb">
            <div class="user-profile">
              <div class="field profile-thumb__image-rounded">
                <a href="#"><img alt="" src="../../images/willow-78-78.jpg"></a>
              </div>
              <div class="field profile-thumb__name">
                <a href="#">Willow Rosenberg</a>
              </div>
            </div>
          </div>

          <div class="layout-grid__column layout-grid__column--2 profile-thumb">
            <div class="user-profile">
              <div class="field profile-thumb__image-rounded">
                <a href="#"><img alt="" src="../../images/will-78-78.jpg"></a>
              </div>
              <div class="field profile-thumb__name">
                <a href="#">Will Graham</a>
              </div>
            </div>
          </div>
          <div class="layout-grid__column layout-grid__column--3 layout-grid__column--last profile-thumb"></div>
        </div>
      </div>
    </div>
  </div>
</div>

