<div class="pane pane--node">
  <h2 class="pane__title">Details</h2>
  <div class="pane__content">
    <div class="node node--resource node--details view-mode-details ">
      <div class="details">
        <div class="field clearfix field--resource-type">
          <div class="field-label">Type:&nbsp;</div>
          <div class="field-items">
            <div class="field-item"><a href="#">Toolkit</a></div>
          </div>
        </div>
        <div class="field clearfix field--term-region">
          <div class="field-label">Region:&nbsp;</div>
          <div class="field-items">
            <div class="field-item"><a href="#">Global</a></div>
          </div>
        </div>
        <div class="field clearfix field--term-country">
          <div class="field-label">Country:&nbsp;</div>
          <div class="field-items">
            <div class="field-item"><a href="#">Global</a></div>
          </div>
        </div>
        <div class="field clearfix field--term-topic">
          <div class="field-label">Topic:&nbsp;</div>
          <div class="field-items">
            <div class="field-item"><a href="#">Adolescent Girls' Education</a></div>
          </div>
        </div>
        <div class="field clearfix field--term-sector">
          <div class="field-label">Sector:&nbsp;</div>
          <div class="field-items">
            <div class="field-item"><a href="#">Education</a></div>
            <div class="field-item"><a href="#">Gender Equity</a></div>
          </div>
        </div>
        <div class="field clearfix field--resource-org">
          <div class="field-label">Organization:&nbsp;</div>
          <div class="field-items">
            <div class="field-item"><a href="#">USAID (U.S. Agency for International Development)</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
