<div class="pane pane--userfield-user-motto">
  <h2 class="pane__title">My Motto:</h2>
  <div class="pane__content">
    <div class="field field--user-motto">
      {{ user.motto }}
    </div>  
  </div> 
</div>