&lt;div class=&quot;pane pane--nodefield-innovation-poc&quot;&gt;
  &lt;h2 class=&quot;pane__title&quot;&gt;Point of Contact&lt;/h2&gt;  
  &lt;div class=&quot;pane__content&quot;&gt;
    &lt;div class=&quot;field field--innovation-poc&quot;&gt;
      &lt;article role=&quot;article&quot; class=&quot;layout-slat user-profile view-mode-user_teaser_summary&quot;&gt;
        &lt;div class=&quot;layout-slat__media&quot;&gt; 
          &lt;div class=&quot;field field--user-photo&quot;&gt;
            &lt;a href=&quot;/user/9&quot;&gt;&lt;img width=&quot;100&quot; height=&quot;86&quot; alt=&quot;&quot; src=&quot;../../images-patternlab/sherlock-78-78.jpg&quot; typeof=&quot;foaf:Image&quot;&gt;&lt;/a&gt;
          &lt;/div&gt;
          &lt;div class=&quot;field field--user-full-name&quot;&gt;
            &lt;a href=&quot;/user/9&quot;&gt;Sherlock Holmes&lt;/a&gt;  
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;layout-slat__content&quot;&gt;
          &lt;div class=&quot;field field--user-summary&quot;&gt;
            How often have I said to you that when you have eliminated the impossible, whatever remains, however improbable, must be the truth?
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/article&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt; 
 