$cardheight: 180px;

.cardflip {
  cursor: pointer;
  min-height: $cardheight;
  .no-transformstylepreserve3d & {
    overflow: hidden;
  }
  perspective: 800px;
  position: relative;
  width: 100%;
  z-index: 0;
  &:hover, &:focus,
  &.is-flipped {
    z-index: 2;
  }
}

.cardflip__card {
  color: #fff;
  min-height: $cardheight;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  transition: transform 0.5s linear;
  transform: translate3d(0px, 0px, 0px);
  transform-style: preserve-3d;
  .no-transformstylepreserve3d & {
    transform-style: flat;
  }
  width: 100%;
  z-index: 1;

  .cardflip:hover &,
  .cardflip:focus &,
  .cardflip.is-flipped & {
    transform: rotateY(180deg);
    z-index: 2;
    .no-transformstylepreserve3d & {
      transform: translate3d(0px, 0px, 0px);
    }
  }

  a {
    color: #fff;
  }

}

%cardside {
  backface-visibility: hidden;
  min-height: $cardheight;
  left: 0;
  padding: 20px;
  position: absolute;
  top: 0;
  transform: translate3d(0px, 0px, 0px);
  width: 100%;
}

%cardside-front {
  z-index: 0;
}

%cardside-back {
  transform: rotateY(180deg);
  .no-transformstylepreserve3d & {
    top: 100%;
    transform: none;
    transition: top 0.5s linear;
  }
  .no-transformstylepreserve3d .cardflip:hover &,
  .no-transformstylepreserve3d .cardflip:focus &,
  .no-transformstylepreserve3d .cardflip.is-flipped & {
    top: 0;
  }
}

.cardflip__a { // homepage style card, front side
  @extend %cardside;
  @extend %cardside-front;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
  background: $midorange;
  border: 1px solid #eee;
} 

.cardflip__b { // homepage style card, back side
  @extend %cardside;
  @extend %cardside-back;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
  background: $orange;
  border: 1px solid #eee;

}

.cardflip__1 { // wanteds landing page style card, front side
  @extend %cardside;
  @extend %cardside-front;
  max-height: 180px;
  max-width: 275px;
}

.cardflip__2 { // wanteds landing page style card, back side
  @extend %cardside;
  @extend %cardside-back;
  max-height: 180px;
  max-width: 275px;
  text-align: left;
}

.cardflip__title {
  font-size: 21px;
  hyphens: none;
  .cardflip__a & {
    min-height: 60px;
  }
  .cardflip__b & {
    border-bottom: 1px solid #fff;
    margin-bottom: 1em;
    padding-bottom: 1em;
  }
  .cardflip__1 & {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    top: 50%;
    z-index: 3;
    transform: translateY(-50%); // vertically center
  }
  .cardflip__2 & {
    font-size: 13px;
    margin-bottom: 0.5em;
    position: relative;
    text-transform: uppercase;
    z-index: 3;
  }
}

.cardflip__image {
  .cardflip__1 &, .cardflip__2 & {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
  .cardflip__2 &:after {
    background: rgba(237,125,58,0.8);
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
  }
}

.cardflip__description {
  .cardflip__2 & {
    font-size: 18px;
    line-height: 1.1;
    position: relative;
    z-index: 3;
  }
}

.cardflip__link {
  font-size: 14px;
  padding-top: 1em;
  a {
    text-decoration: underline;
  }
  .cardflip__2 & {
    font-size: 16px;
    padding-top: 1.5em;
    position: relative;
    text-transform: uppercase;
    z-index: 3;
    a {
      text-decoration: none;
      &:hover, &:focus {
        text-decoration: underline;
      }
    }
  }
}
