.details {
  .field {
    line-height: 1.3;
    padding: 0 0 0.5em 0;
    .field-label {
      float: left;
      font-weight: bold;
      min-width: 130px;
    }
    .field-items {
      font-weight: bold;
      margin-left: 135px;
    }
  }
}
