.dropcap {
  &:first-letter { 
    background-color: #cd1041;
    .microsite-palette1 & {
      background-color: $microsite-palette1-secondary; 
    }
    .microsite-palette2 & {
      background-color: $microsite-palette2-secondary; 
    }
    color: #fff;
    float: left; 
    font-size: em($font-size-xxl); 
    margin-right: 5px;
    padding: .5em;
  }
}