.field {
  .node--full > & {
    margin: 0 0 1.5em 0;
    padding: 0 0 0.75em 0;
    > h2.field__label {
      margin: 0 0 0.75em 0;
    }
    p:last-child, ul:last-child, ol:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}

.field--border {
  .node--full > & {
    border-top: 1px solid $border-color;
    padding-top: 2em;
  }
}

.field__label {}
 
