// @file
// Styles for form items.

.form-item {
  margin: 1em 0;
  
  label {
    display: block;
    font-weight: bold;
  }

  legend,
  .form-item__legend {
    font-weight: bold;
  }

  .description,
  .form-item__description {
    font-size: em($font-size-md);
    //color: $secondary-text-color;
    font-size: em($font-size-md);
    font-style: italic;
    hyphens: none;
    line-height: 1.4;
    padding-bottom: 0.5em;
  }
}

.form-item__label {
  display: block;
  font-weight: bold;
}

.form-type-checkbox,
.form-item--checkbox,
.form-type-radio,
.form-item--radio {
  label,
  .form-item__label {
    display: inline;
    font-weight: normal;
  }
}

.form-item__fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.form-item__required-marker:before {
  color: $error-color;
  content: "*";
}

.form-item--checkboxes .form-item--checkbox,
.form-item--radio {
  margin: 0;
}

.form-item--date-day,
.form-item--date-month,
.form-item--date-year {
  display: inline-block;
  margin: 0;
}

.form-item--password-confirm-pass-1 {
  margin-bottom: rhythm(0.5);
}

.form-item--password-confirm-pass-2 {
  margin: rhythm(0.5) 0;
}

.form-select,
.form-text,
.form-textarea {
  border: 1px solid $form-border-color;
  font-size: em($form-text-size);
  padding: em(8px, $form-text-size) em(12px, $form-text-size);

  &:focus {
    border-color: darken($form-border-color, 50%);
    outline: 0;
  }
}
