header.header {
  background: #f8f8f8;
  border-bottom: 1px solid #f4f4f4;
  display: none;
  @include breakpoint($mobile-menu-bp, $no-query: true) {
    display: block;
  }
  padding: 0.5em 0;

  .page-simple & {
    display: none;
  }

  @each $item, $color in $micrositeColorMap {
    .microsite-palette#{$item} & {
      background: micro-site($item, 'site-header');
      border: 0;
      color: #fff;
    }
  }

}
