header.header {
  background: #f8f8f8;
  border-bottom: 1px solid #f4f4f4;
  display: none;
  @include breakpoint($mobile-menu-bp, $no-query: true) {
    display: block;
  }
  padding: 0.5em 0;

  .page-simple & {
    @extend %clearfix;
    background: #00111F;
    background: rgba(0,0,0,0.5);
    border-bottom: 1px solid #fff;
    padding-top: em(30px, 16px);
  }

}




