header.header {
  background: #f8f8f8;
  border-bottom: 1px solid #f4f4f4;
  display: none;
  @include breakpoint($mobile-menu-bp, $no-query: true) {
    display: block;
  }
  padding: 0.5em 0;

  .page-simple & {
    display: none;
  }

  @each $current-color in $microsite-site-header-list {
    $i: index($microsite-site-header-list, $current-color);
    .microsite-palette#{$i} & {
      background: $current-color;
      border: 0;
      color: #fff;
    }
  }

}






