.microsite-link-bar {

  @each $item, $color in $micrositeColorMap {
    .microsite-palette#{$item} & {
      background: micro-site($item, 'primary');
    }
  }

  text-align: center;
  a {
    color: #fff !important;
    display: inline-block;
    font-weight: 300;
    padding: 0.5em 1em;
    text-decoration: none;

    @each $item, $color in $micrositeColorMap {
      .microsite-palette#{$item} & {
        background: micro-site($item, 'secondary');
        &:hover, &:focus {
          background: darken(micro-site($item, 'secondary'),10%);
        }
      }
    }

  }
}
