// Styles for the microsites paragraphs text block component
.microsite-text { 
  @extend %microsite-component;
  padding: 0 5%;
  margin-bottom: 4em;
  margin-top: 4em;
  h2 {
    text-transform: uppercase;
  }
  ol {
    @extend %fancy-list--ordered;
  }
}

.microsite-text.microsite-text { // specificity hack to overcome basic bullets from _html-elements.
  ul {
    @extend %fancy-list;
  }
}

.microsite-text--centered {
  text-align: center;
}