.microsite-50-50 {
  @extend %microsite-component;
  @extend %clearfix;
  @include breakpoint(900px, $no-query: true) {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .microsite-palette1 & { // body class
    background: $microsite-palette1-secondary;
    &.microsite-primary { // component class
      background: $microsite-palette1-primary;
    }
    &.microsite-secondary {
      background: $microsite-palette1-secondary; 
    }
    &.microsite-tertiary {
      background: $microsite-palette1-tertiary;
    }
    &.microsite-light-gray {
      background: $microsite-palette1-light-gray;
    }
    &.microsite-dark-gray {
      background: $microsite-palette1-dark-gray;
    }
  }
  .microsite-palette2 & { // body class
    background: $microsite-palette2-secondary;
    &.microsite-primary { // component class
      background: $microsite-palette1-primary;
    }
    &.microsite-secondary {
      background: $microsite-palette1-secondary; 
    }
    &.microsite-tertiary {
      background: $microsite-palette1-tertiary;
    }
    &.microsite-light-gray {
      background: $microsite-palette1-light-gray;
    }
    &.microsite-dark-gray {
      background: $microsite-palette1-dark-gray;
    }
  }
}

.microsite-50-50__text {
  color: #fff;
  padding: 2% 5%;
  @include breakpoint(900px, $no-query: true) {
    width: 50%;
  }
  a, h1, h2, h3, h4, h5, h6 {
    color: #fff !important;
  }
}

.microsite-50-50__image {
  line-height: 0;
  @include breakpoint(900px, $no-query: true) {
    width: 50%;
  }
  img {
    width: 100%;
  }
}

.microsite-50-50--reversed {
  @include breakpoint(900px, $no-query: true) {
    flex-direction: row-reverse;
  }
}