// Styles for the microsites paragraphs text block component

$ol-bullet-size: 60px;

.microsite-text {
  @extend %microsite-component;
  @each $item, $color in $micrositeColorMap {
    .microsite-palette#{$item} & {
      &.microsite-primary { // component class
        background-color: micro-site($item, 'primary');
        color: #fff;
        a, h1, h2, h3, h4, h5, h6 {
          color: #fff !important;
        }
      }
      &.microsite-secondary {
        background-color: micro-site($item, 'secondary');
        color: #fff;
        a, h1, h2, h3, h4, h5, h6 {
          color: #fff !important;
        }
      }
      &.microsite-tertiary {
        background-color: micro-site($item, 'tertiary');
        color: #fff;
        a, h1, h2, h3, h4, h5, h6 {
          color: #fff !important;
        }
      }
      &.microsite-light-gray {
        background-color: micro-site($item, 'light-gray');
      }
      &.microsite-dark-gray {
        background-color: micro-site($item, 'dark-gray');
        color: #fff;
        a, h1, h2, h3, h4, h5, h6 {
          color: #fff !important;
        }
      }
    }
  }
  padding: 4em 5%;
  h2 {
    text-transform: uppercase;
  }
  ol {
    counter-reset: li-counter;
    list-style: none;
    margin: 0 0 1.5em 0;
    padding: 0 0 0 $ol-bullet-size+10;
    text-align: left;
    > li {
      @extend %clearfix;
      clear: both;
      line-height: 1.5;
      list-style: none;
      margin: 0 0 2em 0;
      padding: 0;
      li {
        margin-bottom: 1em;
      }
    }
    > li:before {
      @each $item, $color in $micrositeColorMap {
        .microsite-palette#{$item} & {
          background-color: micro-site($item, 'primary');
        }
      }
      color: #fff;
      content: counter(li-counter);
      counter-increment: li-counter;
      display: block;
      float: left;
      font-size: 20px;
      line-height: $ol-bullet-size;
      margin-left: -($ol-bullet-size+10);
      min-height: $ol-bullet-size;
      min-width: $ol-bullet-size;
      position: relative;
      text-align: center;
    }
    ul &, ol {
      margin: 0.5em 0;
      padding: 0 0 0 (($ol-bullet-size/2)+10);
      > li:before {
        line-height: $ol-bullet-size/2;
        font-size: 14px;
        margin-left: -(($ol-bullet-size/2)+10);
        min-height: $ol-bullet-size/2;
        min-width: $ol-bullet-size/2;
      }
    }
  }
  @each $item, $color in $micrositeColorMap {
    .microsite-palette#{$item} & {
      &.microsite-primary ol > li:before { // override ol colors if against background
        background-color: #333;
      }
      &.microsite-secondary ol > li:before { // override ol colors if against background
        background-color: #333;
      }
      &.microsite-tertiary ol > li:before { // override ol colors if against background
        background-color: #333;
      }
    }
  }
}

// ul styling inside microsite-text
.microsite-text.microsite-text { // specificity hack to overwrite basic ul bullets from _html-elements.
  ul {
    list-style: none;
    margin: 0 0 2em 0;
    padding: 0 0 0 40px;
    > li {
      @extend %clearfix;
      clear: both;
      list-style: none;
      margin: 0 0 1em 0;
      padding: 0;
    }
    > li:before {

      @each $item, $color in $micrositeColorMap {
        .microsite-palette#{$item} & {
          color: micro-site($item, 'secondary');
        }
      }
      content: "►";
      display: inline-block;
      margin-left: -21px;
      margin-right: 10px;
      font-size: 30px;
      position: relative;
      top: 3px;
      width: 30px;
    }
    ol &, ul {
      margin: 0.5em 0;
      padding: 0 0 0 25px; // same as width of bullet offset
      > li:before {
        margin-left: -25px;
        margin-right: 10px;
        font-size: 15px;
        top: 0;
        width: 15px;
      }
    }
  }
  @each $item, $color in $micrositeColorMap {
    .microsite-palette#{$item} & {
      &.microsite-primary ul > li:before { // override ul colors if against background
        color: #333;
      }
      &.microsite-secondary ul > li:before { // override ul colors if against background
        color: #333;
      }
      &.microsite-tertiary ul > li:before { // override ul colors if against background
        color: #333;
      }
    }
  }
}

.microsite-text--centered {
  text-align: center;
}
