.microsite-50-50 {
  @extend %microsite-component;
  @extend %clearfix;
  @include breakpoint(900px, $no-query: true) {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  background-color: #00498f; // just in case palette or color class is missing
  @each $item, $color in $micrositeColorMap {
    .microsite-palette#{$item} & {
      background-color: micro-site($item, 'primary');
      &.microsite-secondary { // component class
        background-color: micro-site($item, 'secondary');
      }
      &.microsite-tertiary {
        background-color: micro-site($item, 'tertiary');
      }
      &.microsite-light-gray {
        background-color: micro-site($item, 'light-gray');
      }
      &.microsite-dark-gray {
        background-color: micro-site($item, 'dark-gray');
      }
    }
  }
}

.microsite-50-50__text {
  color: #fff;
  padding: 2% 5%;
  @include breakpoint(900px, $no-query: true) {
    width: 50%;
  }
  a, h1, h2, h3, h4, h5, h6 {
    color: #fff !important;
  }
  .microsite-light-gray & {
    color: #333;
    a, h1, h2, h3, h4, h5, h6 {
      color: #333 !important;
    }
  }
  .no-flexbox & {
    @include breakpoint(900px, $no-query: true) {
      float: right;
    }
  }
}

.microsite-50-50__image {
  line-height: 0;
  @include breakpoint(900px, $no-query: true) {
    width: 50%;
  }
  img {
    width: 100%;
  }
  .no-flexbox & {
    @include breakpoint(900px, $no-query: true) {
      float: left;
    }
  }
}

.microsite-50-50--reversed {
  @include breakpoint(900px, $no-query: true) {
    flex-direction: row-reverse;
  }
  .no-flexbox & {
    @include breakpoint(900px, $no-query: true) {
      .microsite-50-50__image {
        float: right;
      }
      .microsite-50-50__text {
        float: left;
      }
    }
  }
}
