.multistep {
  h1 {
    @extend %h2;
  }
  .form-item {
    margin: 0 0 2em 0;
  }
}

.multistep-description {
  margin: 0 0 4em;
  padding-left: 25px;
  position: relative;
  &:before {
    @include image-replace(18px,18px);
    @include svg-background(icon-help);
    background-size: 18px 18px;
    display: block;
    content: "";
    left: 0;
    position: absolute;
    top: 5px;
  }
}
