.profile-thumb {
  padding-bottom: 0.5em;
  .layout-slat__media {
    max-width: 40%;
  }
}

.profile-thumb__image {
  text-align: center;
  a {
    display: block;
    line-height: 1;
  }
  img {
    display: inline-block;
  }
}

.profile-thumb__image-rounded {
  @extend .profile-thumb__image;
  img {
    border: 2px solid $border-color;
    border-radius: 50%;
  }
}

.profile-thumb__name {
  font-size: em(13px);
  hyphens: none;
  line-height: 1.3;
  padding-top: 0.2em;
  text-align: center;
  @include breakpoint(600px, $no-query: true) { // same as breakpoing in _slat.scss
    //max-width: 100px;
  }
}

.profile-thumb__summary {
  font-size: em(14px);
  hyphens: none;
  line-height: 1.5;
}