.quicktabs-tabs.quicktabs-style-nostyle {
  @extend %clearfix;
  display: table;
  margin-top: 0;
  width: 100%;
  li {
    .pane__content & { // undo bullet from _html-elements
      padding-bottom: 0;
      padding-left: 0;
      &:before {
        display: none;
      }
    }
    border: 0;
    border-right: 1px solid #fff;
    display: table-cell;
    //float: left;
    line-height: 1;
    padding: 0; // override quicktabs module
    white-space: nowrap;
    a {
      color: $primary-text-color;
      font-weight: normal;
      background: $gray;
      color: $primary-text-color;
      display: block;
      //display: table-cell;
      line-height: 1;
      padding: 1em 0;
      text-align: center;
      text-decoration: none;
      &:hover, &:focus {
        background: $orange;
        color: #fff;
        text-decoration: none;
      }
    }
    &.active {
      a {
        background: $orange;
        color: #fff;
        position: relative;
        &:after {
          content: "";
          display: block;
          border-style: solid;
          border-width: 11px 11px 0 11px;
          bottom: -11px;
          border-color: $orange transparent transparent transparent;
          height: 0;
          left: 50%;
          margin-left: -11px;
          position: absolute;
          width: 0;
        }
      }
    }
  }
}
