.region-meta {
  background: $blue url(../images/geometricshape.png) no-repeat 100% 0;
  color: #fff;
  margin: 0 0 2em 0;
  padding: 2em 0 0 0;

  .pane__title,
  .block__title {
    border-color: #fff;
    color: #fff;
  }

  a {
    color: $lightorange;
    &:hover, &:focus {
      color: $gray;
    }
  }
}