.region-landing-title {
  background: $lightorange;
  color: #fff;
  margin: 0;
  position: relative;
  z-index: 1;
  @include breakpoint(1500px, $no-query: true) {
    &:after {
      content: "";
      display: block;
      border-style: solid;
      border-width: 300px 180px 0 0;
      border-color: $orange transparent transparent transparent;
      height: 0;
      left: 0;
      position: absolute;
      top: 0;
      width: 0;
      z-index: 2
    }
    &:before {
      background: $gray;
      bottom: -100px;
      content: "";
      display: block;
      height: 100px;
      left: 0;
      position: absolute;
      width: 60px;
      z-index: 3;
    }    
  }
}

.region-landing-title--alt { // blue header
  background: #00729c;
  @include breakpoint(1500px, $no-query: true) {
    &:after {
      border-color: #025979 transparent transparent transparent;
    }
  }
}