.region-title {
  background: $lightorange;
  .section-wanteds & {
    background: $wanted-section-color;
  }
  @each $item, $color in $micrositeColorMap {
    .microsite-palette#{$item} & {
      background: micro-site($item, 'primary');
    }
  }
  margin: 0 0 3em 0;
  @include breakpoint(1200px, $no-query: true) {
    position: relative;
  }
  @include breakpoint(1200px, $no-query: true) {
    &:after {
      content: "";
      display: block;
      border-style: solid;
      border-width: 105px 70px 0 0;
      border-color: $orange transparent transparent transparent;
      .section-wanteds & {
        border-color: darken($wanted-section-color,7%) transparent transparent transparent;
      }
      @each $item, $color in $micrositeColorMap {
        .microsite-palette#{$item} & {
          border-color: darke(micro-site($item, 'primary'),7%) transparent transparent transparent;
        }
      }
      height: 0;
      left: 0;
      position: absolute;
      top: 0;
      width: 0;
    }
  }
}
