.region-navigation {
  background: #fff;
  @include box-shadow(0 8px 8px -6px rgba(0,0,0,0.15));
  display: none;
  @include breakpoint($mobile-menu-bp, $no-query: true) {
    display: block;
  }
  @include breakpoint($mobile-menu-bp 1139px) {
    height: 120px;
  }
  @include breakpoint(1140px, $no-query: true) {
    height: 60px;
  }
  position: relative;
  z-index: 2;
  > .region__inner {
    @extend .layout-constrain;
    position: relative;    
  }
}