.site-name {
  left: 10px; // offset layout-constrain padding
  position: absolute;
  top: 3px;
}

.site-name__link {
  @include image-replace(180px,44px);
  background: url(../images/logo.png) no-repeat 0 0;
  display: block;
}