.site-name {
  .region-navigation & {
    left: 10px; // offset layout-constrain padding
    position: absolute;
    top: 12px;
    z-index: 3;
  }

  .page-simple & {
    position: static;
    display: block;
    margin-bottom: em(24px, 16px);
    @include breakpoint(700px , $no-query: true) {
      float: left;
    }
  }
}




.site-name__link {
  @include image-replace(179px,36px);
  @include svg-background(logo);
  display: block;

  .page-simple & {
    background: url('../images/gix-beta-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 42px;
    width: 303px;
  }
}
