// @file
// Styles for a view.

.view {}

.view__filters {
  margin-bottom: rhythm(1);
}

.view__all {
  font-weight: bold;
  text-decoration: underline;

  aside &, .region-footer & {
    font-size: em(14px);
  }
}

.view__more {
  clear: both;
  margin-bottom: 0.5em;
  text-align: right;
}

.view__header {
  @extend %clearfix;
}

.view__header-title {
  color: $orange;
  @include breakpoint(max-width 849px) {
    margin-bottom: 0.5em;
  }
  @include breakpoint(850px, $no-query: true) {
    float: left;
    line-height: 32px;
  }
  text-transform: uppercase;
}

.view__header-link {
  display: block;
  font-size: em(14px);
  padding: 0 0 1em 0;
  text-decoration: underline;
  @include breakpoint(850px, $no-query: true) {
    float: left;
    line-height: 32px;
    padding: 0 0 0 3em;
  }
}

.view__header-button {
  @include breakpoint(850px, $no-query: true) {
    float: right;
  }
}

.view__author-image {
  img {
    border: 1px solid $border-color;
    border-radius: 50%;
  }
}

.view__pager {
  clear: both;  
}


.views-row {
  padding: 0 0 2em 0;
  .view--simple-list & {
    padding: 0 0 0.25em 0;
  }
}



// Custom view styles imported via sass globbing.
@import '../glob/view';
