%tb-megamenu-item-icon {
  content: "";
  display: inline-block;
  height: 22px;
  margin-right: 5px;
  position: relative;
  top: 5px;
  width: 22px;
}

.block--tb-megamenu-main-menu {
  //layout for main menu wrapper when in navigation region
  .region-navigation & {
    display: none;
    @include breakpoint($mobile-menu-bp, $no-query: true) {
      display: block;
    }
    left: 0;
    @include breakpoint(1140px, $no-query: true) {
      left: 200px;
    }
    position: absolute;
    top: 51px;
    @include breakpoint(1140px, $no-query: true) {
      top: 0;
    }
    @media print {
      display: none;
    }
  }
  .tb-megamenu-main-menu {
    background: none;
    color: $primary-text-color;
    .tb-megamenu-nav {
      margin: 0;
      padding: 0;
      > .tb-megamenu-item {
        float: left;
        margin: 0;
        padding: 0;
        &.dropdown {
          position: relative;
          > a {
            &:after {
              @include svg-background(chevron-thin-down);
              content: "";
              display: inline-block;
              height: 10px;
              margin-left: 8px;
              width: 10px;
            }
            &:hover:after, &:focus:after {
              @include svg-background(chevron-thin-down-white);
            }
          }
        }
        &.active-trail,
        &.open {
          > a {
            background: $orange !important;
            color: #fff !important;
            &:after {
              @include svg-background(chevron-thin-down-white);
            }
          }
        }
        > a {
          background: none;
          border: 0;
          color: $primary-text-color;
          display: block;
          height: 50px;
          line-height: 50px;
          margin: 0;
          padding: 0 15px 0 10px;
          text-decoration: none;
          text-transform: uppercase;
          &:hover, &:focus {
            background: $orange !important;
            color: #fff !important;
          }
        }
        // about icon
        &.tb-megamenu-item--about {
          > a:before {
            @extend %tb-megamenu-item-icon;
            @include svg-background(icon-about);
          }
        }
        // innovations icon
        &.tb-megamenu-item--innovations {
          > a:before {
            @extend %tb-megamenu-item-icon;
            @include svg-background(icon-innovations);
            width: 16px;
          }
        }
        // funding icon
        &.tb-megamenu-item--funding {
          > a:before {
            @extend %tb-megamenu-item-icon;
            @include svg-background(icon-funding);
          }
        }
        // resources icon
        &.tb-megamenu-item--resources {
          > a:before {
            @extend %tb-megamenu-item-icon;
            @include svg-background(icon-resources);
            width: 24px;
          }
        }
        // communities icon
        &.tb-megamenu-item--communities {
          > a:before {
            @extend %tb-megamenu-item-icon;
            @include svg-background(icon-communities);
            width: 26px;
          }
        }
        // more icon
        &.tb-megamenu-item--more {
          > a:before {
            @extend %tb-megamenu-item-icon;
            @include svg-background(icon-more);
          }
        }
        // the dropdown
        .tb-megamenu-submenu {
          border: 0;
          border-top: 8px solid $orange;
          .lt-ie9 & {
            border: 1px solid $gray;
          }
          @include box-shadow(0 2px 2px rgba(0,0,0,0.2));
          padding: 1em;
          .tb-megamenu-column-inner {
            padding: 0;
          }
          .tb-megamenu-subnav {
            list-style: none;
            margin: 0;
            padding: 0;
            > .tb-megamenu-item {
              a {
                border: 0;
              }
            }
          }

        }
      }
    }
  }
}