.nav--footer-utility-menu {
  @extend %nav--pipeline;


  .nav__item {
    line-height: 1;
  }

  .nav__link {
    color: $primary-text-color;
    font-size: em(14px);
    text-decoration: none;
    &:hover, &:focus {
      text-decoration: underline; 
    }
  }

  .region-footer & {
    @include breakpoint(max-width 699px) {
      text-align: center;
      .nav__item {
        @include breakpoint(max-width 699px) {
          display: inline-block;
          float: none;
          margin-right: 0.25em;
        }
      }
    }
    @include breakpoint(700px, $no-query: true) {
      float: right;
    }
  }

}