{{&gt; organisms-header }}
{{&gt; organisms-navigation }}
{{&gt; organisms-preface }}

&lt;main id=&quot;main&quot; class=&quot;main&quot; role=&quot;main&quot;&gt;
  &lt;div class=&quot;region-content&quot;&gt;

    {{&gt; organisms-innovation }}

  &lt;/div&gt;
&lt;/main&gt;

{{&gt; organisms-postscript }}
{{&gt; organisms-footer }}
