&lt;div class=&quot;pullquote component&quot;&gt;
	&lt;div class=&quot;pullquote__text&quot;&gt;{{&gt; base-blockquote }}&lt;/div&gt;
	&lt;div class=&quot;pullquote__author&quot;&gt;{{&gt; base-citation }}&lt;/div&gt;
&lt;/div&gt;