&lt;div class=&quot;pane pane--innovation-team-innovation-team&quot;&gt;
  &lt;h2 class=&quot;pane__title&quot;&gt;Innovation Team&lt;/h2&gt;
  &lt;div class=&quot;pane__content&quot;&gt;
    &lt;div class=&quot;view view--innovation-team&quot;&gt;
      &lt;div class=&quot;layout-grid layout-grid--cols-3 layout-grid--innovation-team&quot;&gt;
        &lt;div class=&quot;layout-grid__row layout-grid__row--1 layout-grid__row--first profile-thumb&quot;&gt;
          &lt;div class=&quot;layout-grid__column layout-grid__column--1 layout-grid__column--first&quot;&gt;
            &lt;div class=&quot;user-profile view-mode-user_teaser&quot;&gt;
              &lt;div class=&quot;field field--user-photo profile-thumb__image&quot;&gt;
                &lt;a href=&quot;#&quot;&gt;&lt;img alt=&quot;&quot; src=&quot;../../images-patternlab/sherlock-78-78.jpg&quot;&gt;&lt;/a&gt;
              &lt;/div&gt;
              &lt;div class=&quot;field field--user-full-name profile-thumb__name&quot;&gt;
                &lt;a href=&quot;#&quot;&gt;Sherlock Holmes&lt;/a&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;layout-grid__column layout-grid__column--2 profile-thumb&quot;&gt;
            &lt;div class=&quot;user-profile view-mode-user_teaser&quot;&gt;
              &lt;div class=&quot;field field--user-photo profile-thumb__image&quot;&gt;
                &lt;a href=&quot;#&quot;&gt;&lt;img alt=&quot;&quot; src=&quot;../../images-patternlab/buffy-78-78.jpg&quot;&gt;&lt;/a&gt;
              &lt;/div&gt;
              &lt;div class=&quot;field field--user-full-name profile-thumb__name&quot;&gt;
                &lt;a href=&quot;#&quot;&gt;Buffy Summers&lt;/a&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;layout-grid__column layout-grid__column--3 layout-grid__column--last profile&quot;&gt;
            &lt;div class=&quot;user-profile view-mode-user_teaser&quot;&gt;
              &lt;div class=&quot;field field--user-photo profile-thumb__image&quot;&gt;
                &lt;a href=&quot;#&quot;&gt;&lt;img alt=&quot;&quot; src=&quot;../../images-patternlab/hannibal-78-78.jpg&quot;&gt;&lt;/a&gt;
              &lt;/div&gt;
              &lt;div class=&quot;field field--user-full-name profile-thumb__name&quot;&gt;
                &lt;a href=&quot;#&quot;&gt;Dr. Hannibal Lecter&lt;/a&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;layout-grid__row layout-grid__row--2 layout-grid__row--last&quot;&gt;
          &lt;div class=&quot;layout-grid__column layout-grid__column--1 layout-grid__column--first profile-thumb&quot;&gt;
            &lt;div class=&quot;user-profile view-mode-user_teaser&quot;&gt;
              &lt;div class=&quot;field field--user-photo profile-thumb__image&quot;&gt;
                &lt;a href=&quot;#&quot;&gt;&lt;img alt=&quot;&quot; src=&quot;../../images-patternlab/willow-78-78.jpg&quot;&gt;&lt;/a&gt;
              &lt;/div&gt;
              &lt;div class=&quot;field field--user-full-name profile-thumb__name&quot;&gt;
                &lt;a href=&quot;#&quot;&gt;Willow Rosenberg&lt;/a&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;layout-grid__column layout-grid__column--2 profile-thumb&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;layout-grid__column layout-grid__column--3 layout-grid__column--last profile-thumb&quot;&gt;&lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;

