&lt;div class=&quot;page-header component&quot;&gt;
	&lt;div class=&quot;layout-constrain&quot;&gt;
		&lt;div class=&quot;page-header__image&quot;&gt;{{&gt; base-header }}&lt;/div&gt;
		&lt;div class=&quot;page-header__subtext&quot;&gt;Subtext Goes Here&lt;/div&gt;
		&lt;div class=&quot;page-header__headline&quot;&gt;Main Headline Here&lt;/div&gt;
		&lt;div class=&quot;page-header__author&quot;&gt;&lt;img src=&quot;http://lorempixel.com/64/64/people/1/&quot;&gt;&lt;/div&gt;
		&lt;div class=&quot;page-header__description&quot;&gt;Brought to you by Digital Finance etc&lt;/div&gt;
		&lt;div class=&quot;page-header__scroll-button&quot;&gt;Down&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;