&lt;header class=&quot;header&quot; role=&quot;banner&quot;&gt;
  &lt;div class=&quot;region-header layout-constrain&quot;&gt;
    &lt;!--{{&gt; components-site-name }}
    {{&gt; components-site-slogan }} --&gt;
  &lt;/div&gt;
&lt;/header&gt;
