<div class="microsite-header" style="background-image: url('../../images/page-header.jpg');">
  <div class="microsite-header__text-wrapper">
    <div class="microsite-header__text">
      <div class="microsite-header__subtext">A handbook for USAID staff</div>
      <div class="microsite-header__headline">Digital Finance for Development</div>
    </div>
  </div>
</div>

<div class="patternlab-markup">
  <strong>Microsite Page Header Component Image Size: 1600x700</strong><br>
  <strong>Microsite Page Header Component Markup:</strong>
  <xmp>
    <div class="microsite-header" style="background-image: url([imagename].jpg);">
      <div class="microsite-header__text-wrapper">
        <div class="microsite-header__text">
          <div class="microsite-header__subtext">[content]</div>
          <div class="microsite-header__headline">[content]</div>
        </div>
      </div>
    </div>
  </xmp>
</div>