{{{ openMicrositeWrapper }}}
<div class="microsite-header" style="background-image: url('../../images/microsite-header-bg.jpg');">
  <div class="microsite-header__text-wrapper">
    <div class="microsite-header__text">
      <div class="microsite-header__subtext">About Youth Power</div>
      <div class="microsite-header__headline">Empowering Young People to Become Agents of Their Own Development</div>
    </div>
  </div>
</div>
{{{ closeMicrositeWrapper }}}
<div class="patternlab-markup">
  <strong>Microsite Page Header Component Image Size: 1600x700</strong><br>
  <strong>Microsite Page Header Component Markup:</strong>
  <xmp>
    <div class="microsite-header" style="background-image: url([imagename].jpg);">
      <div class="microsite-header__text-wrapper">
        <div class="microsite-header__text">
          <div class="microsite-header__subtext">[content]</div>
          <div class="microsite-header__headline">[content]</div>
        </div>
      </div>
    </div>
  </xmp>
</div>