{{{ openMicrositeWrapper }}}
<div class="microsite-text {{ color }}">
  <div class="layout-constrain">
    <h2>DIV IS DOING DEVELOPMENT DIFFERENTLY</h2>
    <p>DIV was founded on the belief that the next big development solution could come from anyone, anywhere. As an open innovation fund, DIV opens the door of USAID to both traditional and nontraditional partners everywhere, with goal of bridging the innovation gap for early stage development solutions. Inspired by the venture capital experience, DIV invests tiered funding catalyze innovations that work while avoiding long term investments in those that don’t. DIV funding allows innovators to test their ideas, gather rigorous evidence impact and cost-effectiveness, and scale their proven solutions to reach millions of people.</p>
    <h3>We're looking for the next solution that can improve the lives of million of people.</h3>
    <p><a href="#" class="button">Apply to Div</a></p>
  </div>
</div>
{{{ closeMicrositeWrapper }}}
<div class="patternlab-markup">
  <strong>Microsite Text Block Component Markup:</strong>
  <xmp>
    <div class="microsite-text">
      <div class="layout-constrain">
        [content]
      </div>
    </div>
  </xmp>
</div>
