<div class="microsite-callout-card microsite-callout-card--2-cols">
  <div class="microsite-callout-card__inner layout-constrain">
    <a href="#" class="microsite-callout-card__card">
      <div class="microsite-callout-card__image"><img src="../../images/microsite-callout-card-1.png"></div>
      <div class="microsite-callout-card__title">Apply to Div</div>
    </a>
    <a href="#" class="microsite-callout-card__card">
      <div class="microsite-callout-card__image"><img src="../../images/microsite-callout-card-2.png"></div>
      <div class="microsite-callout-card__title">Learn About Div</div>
    </a>
  </div>
</div>

<div class="patternlab-markup">
  <strong>Microsite Callout Card Component Image Size: 150x150</strong><br>
  <strong>Microsite Callout Card Component Markup:</strong>
  <xmp>
    <div class="microsite-callout-card microsite-callout-card--2-cols">
      <div class="microsite-callout-card__inner layout-constrain">
        <a href="#" class="microsite-callout-card__card">
          <div class="microsite-callout-card__image"><img src="[image-name].png"></div>
          <div class="microsite-callout-card__title">Apply to Div</div>
        </a>
        <a href="#" class="microsite-callout-card__card">
          <div class="microsite-callout-card__image"><img src="[image-name].png"></div>
          <div class="microsite-callout-card__title">Learn About Div</div>
        </a>
      </div>
    </div>
  </xmp>
</div>