<div class="microsite-break" style="background-image: url('../../images/section-break.jpg');">
  <div class="microsite-break__text-wrapper">
    <div class="microsite-break__text">
      Positively impacting the lives of the world's youth will ensure they'll grow up to be healthy productive adults.
    </div>
  </div>
</div>

<div class="patternlab-markup">
  <strong>Microsite Section Break Component Markup:</strong>
  <xmp>
    <div class="microsite-break" style="background-image: url([imagename].jpg);">
      <div class="microsite-break__text-wrapper">
        <div class="microsite-break__text">
          [content]
        </div>
      </div>
    </div>
  </xmp>
</div>