{{{ openMicrositeWrapper }}}
<div class="microsite-50-50 {{ class }} {{ color }}">
  <div class="microsite-50-50__text">
    <h2>Promoting Positive Youth Development (PYD)</h2> 
    <p>
      <strong>[background-color: {{ color }} ]</strong><br>
      YouthPower promotes a shared understanding of positive youth development (PYD) whereby young people are empowered to reach their full potential. PYD pivots away from problem-focused responses to youth crises, to proactively building skills, fostering healthy relationships, transforming systems, and making youth an active partner in development efforts. 
    </p>
  </div>
  <div class="microsite-50-50__image">
    <img src="../../images/schnauzers-900-630.jpg">
  </div>
</div>
{{{ closeMicrositeWrapper }}}
<div class="patternlab-markup">
  <strong>Microsite 50/50 Component Image Size: 900x600</strong><br>
  <strong>Microsite 50/50 Component Markup:</strong><br>
  <em>Optional classes: microsite-50-50--reversed, microsite-primary, microsite-secondary, microsite-tertiary, microsite-light-gray, microsite-dark-gray</em><br>
  <xmp>
    <div class="microsite-50-50">
      <div class="microsite-50-50__text">
        [content] 
      </div>
      <div class="microsite-50-50__image">
        <img src="[imagename].jpg">
      </div>
    </div>
  </xmp>
</div>