<div class="microsite-featured">
  <div class="microsite-featured__item" style="background-image:url(../../images/buffy-500-300.jpg);">
    <div class="microsite-featured__text-wrapper">
      <div class="microsite-featured__text">
        <div class="microsite-featured__headline">Headline Goes Here</div>
        <div class="microsite-featured__subtitle">Subtitle Goes Here</div>
        <a href="#" class="microsite-featured__link">View Innovation</a>
      </div>
    </div>
  </div>
  <div class="microsite-featured__item" style="background-image:url(../../images/hannibal-500-300.jpg);">
    <div class="microsite-featured__text-wrapper">
      <div class="microsite-featured__text">
        <div class="microsite-featured__headline">Headline Goes Here</div>
        <div class="microsite-featured__subtitle">Subtitle Goes Here</div>
        <a href="#" class="microsite-featured__link">View Innovation</a>
      </div>
    </div>
  </div>
  <div class="microsite-featured__item" style="background-image:url(../../images/scully-500-300.jpg);">
    <div class="microsite-featured__text-wrapper">
      <div class="microsite-featured__text">
        <div class="microsite-featured__headline">Headline Goes Here</div>
        <div class="microsite-featured__subtitle">Subtitle Goes Here</div>
        <a href="#" class="microsite-featured__link">View Innovation</a>
      </div>
    </div>
  </div>
  <div class="microsite-featured__item" style="background-image:url(../../images/sherlock-500-300.jpg);">
    <div class="microsite-featured__text-wrapper">
      <div class="microsite-featured__text">
        <div class="microsite-featured__headline">Headline Goes Here</div>
        <div class="microsite-featured__subtitle">Subtitle Goes Here</div>
        <a href="#" class="microsite-featured__link">View Innovation</a>
      </div>
    </div>
  </div>
</div>

<div class="patternlab-markup">
  <strong>Microsite Featured Component Image Size: 500x300</strong><br>
  <strong>Microsite Featured Component Markup:</strong>
  <xmp>
    
  </xmp>
</div>