{{{ openMicrositeWrapper }}}
<div class="microsite-highlight" style="background-image: url('../../images/microsite-highlight-bg.jpg');">
  <div class="layout-constrain">
    <div class="microsite-highlight__text-wrapper">
      <div class="microsite-highlight__text">
        <img src="../../images/microsite-highlight-image.png" alt="">
        <h2>OUR MISSION IS CLEAR</h2>
        <p>
          YouthPower believes that young people are at the heart of the solutions to the world's greatest challenges. That's why we're dedicated to strengthening systems in communities to achieve sustainable outcomes in health, education, and political and economic empowerment. By helping young people purse their aspirations, we empower them to contribute to, and benefit from, the creation of more peaceful and prosperous communities.
        </p>
      </div>
    </div>
  </div>
</div>
{{{ closeMicrositeWrapper }}}
<div class="patternlab-markup">
  <strong>Microsite Highlight Component Image Size: 1600x700</strong><br>
  <strong>Microsite Highlight Component Markup:</strong><br>
  <em>Optional classes: microsite-50-50--reversed, microsite-primary, microsite-secondary, microsite-tertiary, microsite-light-gray, microsite-dark-gray</em><br>
  <xmp>
    <div class="microsite-highlight" style="background-image: url([imagename].jpg);">
      <div class="layout-constrain">
        <div class="microsite-highlight__text-wrapper">
          <div class="microsite-highlight__text">
            [content]
          </div>
        </div>
      </div>
    </div>
  </xmp>
</div>