<div class="component section-break" style="background-image: url('../../images/section-break.jpg');">
  <div class="section-break__text-wrapper">
    <div class="section-break__text">
      Positively impacting the lives of the world's youth will ensure they'll grow up to be healthy productive adults.
    </div>
  </div>
</div>
