{{&gt; organisms-header }}
{{&gt; organisms-navigation }}

&lt;main id=&quot;main&quot; class=&quot;main&quot; role=&quot;main&quot;&gt;
	&lt;div class=&quot;region-content&quot;&gt;
    &lt;div class=&quot;l-panels-home hero main villain postscript&quot;&gt;
      &lt;div class=&quot;l-hero&quot;&gt;
         {{&gt; molecules-homepage-header }}
      &lt;/div&gt;
      &lt;div class=&quot;l-main&quot;&gt;
        &lt;div class=&quot;layout-constrain&quot;&gt;
          {{&gt; molecules-homepage-views-personas-pane }}
          {{&gt; molecules-homepage-views-action-card-panes }}
          {{&gt; molecules-homepage-views-staff-picks-pane }}
          {{&gt; molecules-homepage-views-funding-pane }}
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;l-villain&quot;&gt;
         {{&gt; molecules-homepage-footer-callout }}
      &lt;/div&gt;
      &lt;div class=&quot;l-postscript&quot;&gt;
        &lt;div class=&quot;layout-constrain&quot;&gt;
          {{&gt; molecules-homepage-join-callout }}
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/main&gt;

{{&gt; organisms-postscript }}
{{&gt; organisms-footer }}
