<div class="block block--search block--search-api-page-node-search">    
  <h2 class="block__title">Node Search</h2>
  <form accept-charset="UTF-8">
    <div class="form-item form-item--textfield">
      <label for="edit-keys-1" class="form-item__label element-invisible">START SEARCHING...</label>
      <input type="text" class="form-text" maxlength="128" size="15" value="" id="edit-keys-1" autocorrect="off" autocapitalize="off" placeholder="START SEARCHING...">
    </div>
    <input type="submit" class="button button--submit" value="Search" name="op">
  </form>  
</div>