<div class="block block--login-form">
  <form>
    <div class="form-item form-type-textfield form-item-name">
      <input type="text" class="form-text is-required" maxlength="60" size="50" placeholder="USERNAME">
    </div>
    <div class="form-item form-type-password form-item-pass">
      <input type="password" class="form-text is-required" maxlength="128" size="50"placeholder="PASSWORD">
    </div>
    <div id="edit-actions" class="form-actions">
      <input type="submit" class="button button--submit" value="Log in" name="op" id="edit-submit">
    </div>
    <div class="form-item form-type-checkbox">
      <input type="checkbox" class="form-checkbox">  
      <label>Keep me logged in</label>
    </div>
    <p class="forgot-password"><a href="#">Forgot your password?</a></p>
  </form>
</div>