<div class="block block--gie-homepage-welcome-login">
  <form>
    <div class="form-item form-type-textfield form-item-name">
      <input type="text" class="form-text is-required" maxlength="60" size="15" placeholder="Username">
    </div>
    <div class="form-item form-type-password form-item-pass">
      <input type="password" class="form-text is-required" maxlength="128" size="15"placeholder="Password">
    </div>
    <div id="edit-actions" class="form-actions">
      <input type="submit" class="button button--submit" value="Log in" id="edit-submit--2">
    </div>
    <p class="forgot-password"><a href="#">Forgot your password?</a></p>
  </form>
</div>