&lt;div class=&quot;pane pane--user&quot;&gt;
  &lt;div class=&quot;pane__content&quot;&gt;
    &lt;div class=&quot;ds-2col user-profile view-mode-full clearfix&quot;&gt;
      &lt;div class=&quot;group-left&quot;&gt;
        &lt;div class=&quot;field field--user-photo&quot;&gt;
          &lt;div class=&quot;field-items&quot;&gt;
            &lt;div class=&quot;field-item even&quot;&gt;&lt;img width=&quot;220&quot; height=&quot;146&quot; alt=&quot;&quot; src=&quot;http://dev.giexchange.forumone.com/sites/default/files/styles/medium/public/random/stock_photo_06.jpg?itok=Jc5p-1S_&quot;&gt;&lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;  
      &lt;/div&gt;
      &lt;div class=&quot;group-right&quot;&gt;
        &lt;div class=&quot;field field--user-full-name&quot;&gt;
          &lt;div class=&quot;field-items&quot;&gt;
            &lt;div class=&quot;field-item even&quot;&gt;Mike Drayer&lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;field field--user-title&quot;&gt;
          &lt;div class=&quot;field-items&quot;&gt;
            &lt;div class=&quot;field-item even&quot;&gt;Associate Web Developer&lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;field field--user-address&quot;&gt;
          &lt;div class=&quot;field-items&quot;&gt;
            &lt;div class=&quot;field-item even&quot;&gt;Alexandria, VA, United States&lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;field field--user-member-since&quot;&gt;
          &lt;div class=&quot;field-items&quot;&gt;
            &lt;div class=&quot;field-item even&quot;&gt;Member since Mar 18, 2015&lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;field field--user-type&quot;&gt;
          &lt;div class=&quot;field-items&quot;&gt;
            &lt;div class=&quot;field-item even&quot;&gt;
              &lt;a href=&quot;/user-type/implementer&quot;&gt;Implementer&lt;/a&gt;, &lt;a href=&quot;/user-type/researcher&quot;&gt;Researcher&lt;/a&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;  
        &lt;div class=&quot;flag-outer flag-outer-follow&quot;&gt;
          &lt;span class=&quot;flag-wrapper flag-follow flag-follow-17&quot;&gt;
            &lt;a rel=&quot;nofollow&quot; class=&quot;flag flag-action flag-link-toggle flag-processed&quot; title=&quot;Follow this user&quot; href=&quot;/flag/flag/follow/17?destination=user/17&amp;amp;token=cROD-rZOuuLCEeGfFyY0MRu1KFb2zg_SKoMlZMH2SUg&quot;&gt;Follow&lt;/a&gt;&lt;span class=&quot;flag-throbber&quot;&gt;&amp;nbsp;&lt;/span&gt;
          &lt;/span&gt;
        &lt;/div&gt;
        &lt;div class=&quot;field field--user-email&quot;&gt;
          &lt;div class=&quot;field-items&quot;&gt;
            &lt;div class=&quot;field-item even&quot;&gt;
              &lt;a class=&quot;button&quot; href=&quot;mailto:mdrayer@forumone.com&quot;&gt;Send Note&lt;/a&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;  
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;  
&lt;/div&gt;