&lt;article class=&quot;taxonomy-term taxonomy-term--topic&quot; role=&quot;article&quot;&gt;
  &lt;h1 class=&quot;taxonomy-term__title&quot;&gt;{{ pageTitle }}&lt;/h1&gt;
  {{{ body }}}
&lt;/article&gt;
