/* line 2, ../../../sass/overrides/super_login/super-login.scss */
#user-login,
#user-pass {
  border: 2px solid #cecfcb;
  -moz-box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.15);
  max-width: 750px;
  max-width: 650px;
  margin: 2em auto;
  overflow: hidden;
  padding: 2em;
}
/* line 13, ../../../sass/overrides/super_login/super-login.scss */
#user-login .interfacecontainerdiv,
#user-pass .interfacecontainerdiv {
  margin-left: -20px;
}
/* line 17, ../../../sass/overrides/super_login/super-login.scss */
#user-login p.login-title,
#user-pass p.login-title {
  border-bottom: 1px solid #cecfcb;
  font-size: 32px;
  font-weight: bold;
  margin: 0 0 1em 0;
  padding: 0 0 0.5em 0;
  text-align: center;
}
/* line 26, ../../../sass/overrides/super_login/super-login.scss */
#user-login .form-item-pass,
#user-pass .form-item-pass {
  margin-bottom: 0;
}
/* line 30, ../../../sass/overrides/super_login/super-login.scss */
#user-login .forgot-password,
#user-pass .forgot-password {
  font-size: 0.8em;
}
/* line 34, ../../../sass/overrides/super_login/super-login.scss */
#user-login .button--submit,
#user-pass .button--submit {
  margin: 0;
}
/* line 38, ../../../sass/overrides/super_login/super-login.scss */
#user-login .form-actions,
#user-pass .form-actions {
  float: left;
}
/* line 42, ../../../sass/overrides/super_login/super-login.scss */
#user-login .super-login-register,
#user-pass .super-login-register {
  display: inline-block;
  float: right;
  padding-top: 1em;
}
/* line 48, ../../../sass/overrides/super_login/super-login.scss */
#user-login #capslockdiv p,
#user-pass #capslockdiv p {
  color: #c61414;
  font-weight: bold;
}
