// @file
// Typography variables
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#variables_

$base-font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
$header-font-family: $base-font-family;
$monospace-font-family: Consolas, "Lucida Console", "Liberation Mono", "Courier New", monospace, sans-serif;
$base-font-size: 18px;
//$base-line-height: 21px;
$font-size-xxl: 30px;
$font-size-xl: 25px;
$font-size-lg: 21px;
$font-size-normal: $base-font-size;
$font-size-md: 16px;
$font-size-sm: 14px;
$font-size-xs: 12px;

// Buttons
$button-font-family: $base-font-family;

// Forms
$form-text-size: $font-size-normal;

// Mobile Menu
$mobile-menu-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
