<div class="block block--views block--microsite-description">      
  <div class="view view--microsite-description">
    <div class="view__header">
      <h2 class="block__title">About DIV</h2>
    </div>
    <div class="views-row views-row-first views-row-last">      
      <div class="views-field views-field-field-group-footer-description">        
        <div class="field-content">
          <p>Development Innovation Ventures (DIV) is an open competition supporting breakthrough solutions to the world's most intractable development challenges—interventions that could change millions of lives at a fraction of the usual cost. </p>
          <p><a href="#" class="button">Learn about DIV</a></p>
        </div>  
      </div>  
    </div>
  </div>
</div>