.block--system-user-menu {
  > ul.nav {
    margin: 0;
    text-align: right;
    .nav__item {
      display: inline-block;
      padding-right: 2em;
      &:last-child {
        padding-right: 0;
      }
    }
    .nav__link {
      font-size: em(12px);
      font-weight: normal;
      .section--microsite & {
        color: #fff;
      }
    }

    .nav__link--language {
      padding-left: 30px;
      position: relative;

      &:before {
        @include svg-background(globe-small);
        content: "";
        display: block;
        height: 24px;
        left: 0;
        position: absolute;
        width: 24px;
        top: -5px;
      }
    }
  }
}
