// microsites main menu

.block--og-menu-single-menu {
  float: right;
  margin-top: 1em;
  .nav {
    @extend %clearfix;
    margin: 0;
    padding: 0;
    .nav__item {
      display: block;
      float: left;
      font-size: em($font-size-md);
      margin: 0;
      padding: 0 0 0 1em;
    }
    .nav__link {
      @each $current-color in $microsite-main-menu-list {
        $i: index($microsite-main-menu-list, $current-color);
        .microsite-palette#{$i} & { // body class
          color: $current-color;
          &:hover,
          &:focus {
            color: darken($current-color,20%);
          }
        }
      }
       
      font-weight: bold;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}