// microsites main menu

.block--og-menu-single-menu {
  float: right;
  margin-top: 1em;
  .nav {
    @extend %clearfix;
    margin: 0;
    padding: 0;
    .nav__item {
      display: block;
      float: left;
      font-size: em($font-size-md);
      margin: 0;
      padding: 0 0 0 1em;
    }
    .nav__link {
      .microsite-palette1 & {
        color: $microsite-palette1-main-menu;
        &:hover,
        &:focus {
          color: darken($microsite-palette1-main-menu,20%);
        }
      }
      .microsite-palette2 & {
        color: $microsite-palette2-main-menu;
        &:hover,
        &:focus {
          color: darken($microsite-palette2-main-menu,20%);
        }
      }
      font-weight: bold;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}