.block--menu-menu-sub-footer-menu {
  clear: right;
  > ul.nav {
    @extend %nav--pipeline;
    font-size: em(12px);
    line-height: 1;

    .nav__item {}

    .nav__link {

      @each $item, $color in $micrositeColorMap {
        .microsite-palette#{$item} & {
          &:hover,
          &:focus {
            color: darken(micro-site($item, 'primary'),20%);
          }
        }
      }

      font-weight: normal;
    }

    .footer-simple & {
      margin: 0;
    }

    .footer-simple &,
    .region-footer & { // layout when in footer
      @include breakpoint(max-width 699px) {
        text-align: center;
        .nav__item {
          @include breakpoint(max-width 699px) {
            display: inline-block;
            float: none;
            margin-right: 0.25em;
          }
        }
      }
      @include breakpoint(700px, $no-query: true) {
        float: right;
      }
    }

  }
}
