// microsites main menu

.block--og-menu-single-menu {
  float: right;
  margin-top: 1em;
  .nav {
    @extend %clearfix;
    margin: 0;
    padding: 0;
    .nav__item {
      display: block;
      float: left;
      font-size: em($font-size-md);
      margin: 0;
      padding: 0 0 0 1em;
    }
    .nav__link {

      @each $item, $color in $micrositeColorMap {
        .microsite-palette#{$item} & {
          color: micro-site($item, 'main-menu');
          &:hover,
          &:focus {
            color: darken(micro-site($item, 'main-menu'),20%);
          }
        }
      }

      font-weight: bold;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}
