// @file
// Styles for the mobile menu.

.nav--mobile-menu {
  margin: 0.75em 0 0 0;

  .nav__item {
    margin: 0;
    padding: 0;
  }

  .nav__item--parent,
  .nav__item--lvl2parent {
    position: relative;
    &.is-open {
      background: $mobile-submenu-fallback-bg-color;
      background: $mobile-submenu-bg-color;
    }
  }

  .nav__link {
    background-color: transparent;
    border: 0;
    color: $mobile-menu-text-color;
    display: inline-block;
    font-family: $mobile-menu-font-family;
    font-size: $font-size-lg;
    font-weight: bold;
    line-height: 1.25;
    margin: 0;
    padding: 0.75em 1.25em;
    position: relative;
    text-align: left;
    text-decoration: none;
    white-space: normal;
    width: auto;
    z-index: 3;

    &:focus,
    &:hover,
    &:active,
    &.is-active {
      color: $mobile-menu-hover-color;
    }
  }

  .nav__link--parent,
  .nav__header {
    //padding: 0.75em 44px 0.75em 1em;
    //[dir="rtl"] & {
    //  padding: 0.75em 1em 0.75em 44px;
    //}
    //&.is-open {
    //  background: $mobile-submenu-fallback-bg-color;
    //  background: $mobile-submenu-bg-color;
    //}
  }

  .nav__header {
    background-color: transparent;
    border: 0;
    color: $mobile-menu-text-color;
    display: inline-block;
    font-family: $mobile-menu-font-family;
    font-size: $font-size-lg;
    font-weight: bold;
    line-height: 1.25;
    margin: 0;
    padding: 0.75em 1.25em 0.75em 2em;
    position: relative;
    text-align: left;
    text-decoration: none;
    white-space: normal;
    z-index: 1;
  }

  .nav__subnav-arrow,
  .nav__lvl2subnav-arrow {
    background: none;
    @include image-replace(100%,44px);
    @include svg-background(arrow-down);  
    background-position: 95% 50%;
    background-repeat: no-repeat;
    background-size: 19px 12px;
    border: 0;
    @include box-shadow(none);
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    vertical-align: top;
    z-index: 2;
    &:focus {
      outline: thin dotted;
    }
    &.is-active {
      @include svg-background(arrow-up);
    }
    [dir="rtl"] & {
      left: 0;
      right: auto;
    }
  }

  .nav__toggler {
    display: none;
  }


  .nav--subnav,
  .nav--lvl2subnav,
  .nav__toggler {
    //background: $mobile-submenu-fallback-bg-color;
    //background: $mobile-submenu-bg-color;
    list-style: none;
    margin: 0;
    padding: 0;

    .nav__item {}

    .nav__link {
      color: $mobile-submenu-text-color;
      padding-left: 2em;

      &:focus,
      &:hover,
      &:active {
        color: $mobile-submenu-hover-color;
      }
    }
  }

  .nav--lvl2subnav {
    display: none;
    .nav__link {
      font-size: $font-size-normal;
      font-weight: normal;
      padding-left: 3em;
    }
    .nav__link--view-all {
      font-weight: bold;
    }
  }
}