.block--gie-translation {
  .tb-megamenu {
    background-color: transparent;

    ul.nav {
      margin: 0;
      text-align: right;

      .tb-megamenu-item {
        display: inline-block;
        float: none;
        padding-right: 2em;

        > .nav__link {
          border: none;
          color: $primary-text-color;
          font-size: em(12px);
          font-weight: normal;
          padding: 0;
          padding-left: 30px;
          position: relative;

          &:before {
            background-image: url(../images/globe-language.png);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            content: "";
            display: block;
            height: 24px;
            left: 0;
            position: absolute;
            top: -20%;
            width: 24px;
            z-index: 100;
          }

          &:hover,
          &:focus {
            background-color: transparent;
            color: $orange;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
