&lt;footer class=&quot;footer&quot; role=&quot;contentinfo&quot;&gt;
  &lt;div class=&quot;region-footer&quot;&gt;
  	&lt;div class=&quot;footer__download-link&quot;&gt;&lt;a href=&quot;#&quot; target=&quot;_blank&quot;&gt;For more on digital finance download a copy of our fact sheet&lt;/a&gt;&lt;/div&gt;
  	&lt;div class=&quot;footer__download-image layout-constrain&quot;&gt;&lt;/div&gt;
  	&lt;div class=&quot;footer__about layout-constrain&quot;&gt;{{&gt; components-footer-about }}&lt;/div&gt;
  	&lt;div class=&quot;footer__sponsor layout-constrain&quot;&gt;{{&gt; components-footer-sponsor }}&lt;/div&gt;
  	&lt;div class=&quot;footer__menu layout-constrain&quot;&gt;{{&gt; components-footer-menu }}&lt;/div&gt;
  &lt;/div&gt;
&lt;/footer&gt;
