&lt;footer class=&quot;footer&quot; role=&quot;contentinfo&quot;&gt;
  &lt;div class=&quot;region-footer&quot;&gt;
  	&lt;div class=&quot;footer__about block--pane-about-the-exchange  layout-constrain&quot;&gt;{{&gt; components-footer-about }}&lt;/div&gt;
  	&lt;div class=&quot;footer__menu block--menu-menu-sub-footer-menu layout-constrain&quot;&gt;{{&gt; components-footer-menu }}&lt;/div&gt;
  &lt;/div&gt;
&lt;/footer&gt;



