&lt;div class=&quot;section-header component&quot;&gt;
	&lt;div class=&quot;section-header__title layout-constrain&quot;&gt;&lt;h4&gt;Section Title w/Feature Image&lt;/h4&gt;&lt;/div&gt;
	&lt;div class=&quot;section-header__headline layout-constrain&quot;&gt;Bold Headlines Stacked to the left like this&lt;/div&gt;
&lt;/div&gt;