&lt;div class=&quot;footer-about layout-constrain&quot;&gt;
	&lt;div class=&quot;footer-about__title&quot;&gt;About The Exchange&lt;/div&gt;
	&lt;div class=&quot;footer-about__content&quot;&gt;The Innovation Exchange is a marketplace that connects funders, innovators, users and solution seekers and gives them the tools to maximize their ability to meet the largest, most pressing development challenges.&lt;/div&gt;
	&lt;a class=&quot;button join__button&quot; href=&quot;#&quot;&gt;Join the Community&lt;/a&gt;
&lt;/div&gt;