&lt;ul class=&quot;sg-colors&quot;&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #cd1041;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#cd1041&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #00498f;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#00498f&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #035b94;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#035b94&lt;/span&gt;
	&lt;/li&gt;

	 
&lt;/ul&gt;
