<div class="block block--views block--microsite-partners">      
  <div class="view view--microsite-partners">      
    <div class="views-row">      
      <div class="field field--org-logo">
        <div class="field-items">
          <div class="field-item">
            <a href="#"><img src="../../images/logo-usaid.png"></a>
          </div>
        </div>
      </div>    
    </div>
    <div class="views-row">      
      <div class="field field--org-logo">
        <div class="field-items">
          <div class="field-item">
            <a href="#"><img src="../../images/logo-usgdl.png"></a>
          </div>
        </div>
      </div>    
    </div>
    <div class="views-row">      
      <div class="field field--org-logo">
        <div class="field-items">
          <div class="field-item">
            <a href="#"><img src="../../images/logo-gie.png"></a>
          </div>
        </div>
      </div>    
    </div>
  </div>
</div>