<div class="pane pane--resources-introduction pane--landing-intro">
  <div class="pane__content">
    <div class="pane--landing-intro__left">
      <h1>{{pageTitle}}</h1>
    </div>
    <div class="pane--landing-intro__right">
      <p><a href="/node/add/innovation" class="button button--add">Add An Innovation</a></p>
    </div>
  </div>
</div>