&lt;div class=&quot;pane&quot;&gt;
  &lt;h2 class=&quot;pane__title&quot;&gt;Recently Posted&lt;/h2&gt;
  &lt;div class=&quot;pane__content&quot;&gt;
    &lt;div class=&quot;view view--recently-posted&quot;&gt; 
      &lt;div class=&quot;layout-grid layout-grid--cols-2 layout-grid--recently-posted&quot;&gt;
        &lt;div class=&quot;layout-grid__row&quot;&gt;
          &lt;div class=&quot;layout-grid__column&quot;&gt;
            &lt;div class=&quot;node node--teaser-date&quot;&gt;
              &lt;img src=&quot;http://lorempixel.com/250/150/animals/1/&quot; alt=&quot;image 5:3&quot;&gt;
              &lt;h5&gt;
                &lt;a href=&quot;#&quot;&gt;Funding Opp&lt;/a&gt;
              &lt;/h5&gt;  
              &lt;div class=&quot;field field--post-date&quot;&gt;3/16/2015&lt;/div&gt; 
            &lt;/div&gt;
          &lt;/div&gt; 
          &lt;div class=&quot;layout-grid__column&quot;&gt;
            &lt;div class=&quot;node node--teaser-date&quot;&gt;
              &lt;img src=&quot;http://lorempixel.com/250/150/animals/2/&quot; alt=&quot;image 5:3&quot;&gt;
              &lt;h5&gt;
                &lt;a href=&quot;#&quot;&gt;Innovation Name&lt;/a&gt;
              &lt;/h5&gt;  
              &lt;div class=&quot;field field--post-date&quot;&gt;3/16/2015&lt;/div&gt; 
            &lt;/div&gt;
          &lt;/div&gt; 
        &lt;/div&gt;
        &lt;div class=&quot;layout-grid__row&quot;&gt;
          &lt;div class=&quot;layout-grid__column&quot;&gt;
            &lt;div class=&quot;node node--teaser-date&quot;&gt;
              &lt;img src=&quot;http://lorempixel.com/250/150/animals/3/&quot; alt=&quot;image 5:3&quot;&gt;
              &lt;h5&gt;
                &lt;a href=&quot;#&quot;&gt;Resource Title&lt;/a&gt;
              &lt;/h5&gt;  
              &lt;div class=&quot;field field--post-date&quot;&gt;3/16/2015&lt;/div&gt; 
            &lt;/div&gt;
          &lt;/div&gt; 
          &lt;div class=&quot;layout-grid__column&quot;&gt;
            &lt;div class=&quot;node node--teaser-date&quot;&gt;
              &lt;img src=&quot;http://lorempixel.com/250/150/animals/4/&quot; alt=&quot;image 5:3&quot;&gt;
              &lt;h5&gt;
                &lt;a href=&quot;#&quot;&gt;Event Title&lt;/a&gt;
              &lt;/h5&gt;  
              &lt;div class=&quot;field field--post-date&quot;&gt;3/16/2015&lt;/div&gt; 
            &lt;/div&gt;
          &lt;/div&gt; 
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;

  
