<article class="card">
  <div class="card__content">
    <h2 class="card__date">September 21</h2>
    <h3 class="card__title"><a href="{{ url }}">{{ title }}</a></h3>
    <div class="card__meta">
      <div class="card__list">
        <div class="card__list-label">Location:</div> United States
      </div>
      <div class="card__list">
        <div class="card__list-label">Topic:</div> Agriculture
      </div>
    </div>
  </div>
</article>