<article class="card card--icons">
  <div class="card__number">$30,000,000</div>
  <div class="card__image">
    <a href="{{ url }}">{{> atoms-card-image }}</a>
  </div>
  <div class="card__content">
    <h3 class="card__primary-title"><a href="{{ url }}">{{ title }}</a></h3>
    <div class="card__list">
      <div class="card__list-label">Due by:</div> 3/21/2015
    </div> 
    <div class="card__list">
      <div class="card__list-label">Eligibility:</div> <span class="has-icon-member" title="Member">Member</span> <span class="has-icon-community" title="Organization">Organization</span>
    </div>
    <div class="card__list">
      <span class="card__list-label">Level of Effort:</span>
      <span class="card__list-content">Lorem ipsum</span>
    </div>
    <div class="card__list">
      <span class="card__list-label">Topics:</span> 
      <span class="card__list-content"><a href="#">Agriculture</a>, <a href="#">Irrigation</a></span>
    </div>
    <div class="card__counts">
      <div class="view">
        <div class="has-icon--comment" title="Comments">12</div>
      </div>
      <div class="view">
        <div class="has-icon--favorite" title="Favorites">6</div>
      </div>
    </div>
  </div>
</article>



 
 
 
