<article class="card card--background">
  <div class="card__content">
    <h2 class="card__type">Toolkit</h2>
    <h3 class="card__title"><a href="{{ url }}">{{ title }}</a></h3>
    <div class="card__author">
      <div class="card__author-inner">
        <div class="card__author-image"><img src="{{ user.img-35-35.src }}"></div>
        <div class="card__author-name">{{ user.name }}</div>
        <div class="card__author-date">{{ month.digit }}/{{ day.long }}/{{ year.long }}</div>    
      </div>
    </div>
  </div>
</article>