<article class="card card--icons">
  <div class="card__content">
    <h2 class="card__type">Toolkit</h2>
    <h3 class="card__primary-title"><a href="{{ url }}">{{ title }}</a></h3>
    <div class="card__author">
      <div class="card__author-image"><img src="{{ user.img-35-35.src }}"></div>
      <div class="card__author-name">{{ user.name }}</div>
      <div class="card__author-date">{{ month.digit }}/{{ day.long }}/{{ year.long }}</div>    
    </div>
    <div class="card__list">
      <span class="card__list-label">Sectors:</span> 
      <span class="card__list-content"><a href="#">Health</a>, <a href="#">Education</a>, <a href="#">Economic Growth</a>, <a href="#">Housing and Transportation</a></span>
    </div>
    <div class="card__counts">
      <div class="view">
        <div class="has-icon--comment" title="Comments">{{ comments }}</div>
      </div>
      <div class="view">
        <div class="has-icon--favorite" title="Favorites">{{ favorites }}</div>
      </div>
    </div>
  </div>
</article>



 
 
 
