<article class="card card--spotlight">
  <h2 class="card__spotlight-type{{ dashboardtypeclass }}">{{ dashboardtype }}</h2>
  <div class="card__image">
    <a href="{{ url }}">{{> atoms-card-image }}</a>
  </div>
  <div class="card__content">
    <h2 class="card__type">content type</h2>
    <h5 class="card__title"><a href="{{ url }}">{{ title }}</a></h5>
  </div>
  <a href="#" class="card__favorite is-favorited"></a>
  <div class="flag-outer flag-outer-favorite">
    <span class="flag-wrapper flag-favorite flag-favorite-6986">
      <a class="flag flag-action flag-link-toggle flag-processed" href="#">Follow</a><span class="flag-throbber">&nbsp;</span>
    </span>
  </div>
</article>
