<article class="card card--center">
  <div class="card__image">
    <a href="#"><img src="{{ user.img-500-300.src }}" alt="{{ user.img-500-300.alt }}"></a>
  </div>
  <div class="card__content">
    <h3 class="card__title"><a href="#">{{ user.name }}</a></h3>
    <div class="card__user-title">{{ user.title }}</div>
    <div class="card__user-organization">{{ user.org }}</div>
  </div>
</article>
