<article class="card card--center">
  <div class="card__image">
    <a href="#"><img src="{{ img.user.src }}" alt="{{ img.user.alt }}"></a>
  </div>
  <div class="card__content">
    <h3 class="card__title"><a href="#">{{ user.name }}</a></h3>
    <div class="card__user-title">{{ user.title }}</div>
    <div class="card__user-organization">{{ user.org }}</div>
  </div>
</article>
