.region-utility {
  background: $theme-utility;
  color: #fff;
  display: none;
  @include breakpoint($mobile-menu-bp, $no-query: true) {
    display: block;
  }
  padding: 1em 0;
  .region-inner {
    @extend .layout-constrain;
  }
}