//@file
// Share Block
.share-block {
  display: block;
  height: em(40px);
  padding: 0;
  position: fixed;
  top: 0;
  width: 50%;
  z-index: 10;
  @include breakpoint($mobile-menu-bp, $no-query: true) {
    top: 5%;
    right: 5%;
    padding: 3em 0;
    width: 75px;
  }
}
.share-block__icon {
  display: block;
  float: left;
  width: em(40px);
  height: em(40px);
  @include breakpoint($mobile-menu-bp, $no-query: true) {
    width: 75px;
    height: 75px;
    float: none;
  }
  a, span{
    display: block;
    height: 100%;
    width: 100%;
  }
}
.share-block__icon--share {
  span.st_sharethis_custom {
    @include svg-background(longform-share-icon-square);
    @include image-replace (40px, 40px);
    background-repeat: no-repeat;
    cursor: pointer;
    position: relative;
    z-index: 50;
    @include breakpoint($mobile-menu-bp, $no-query: true) {
      @include image-replace (75px, 75px);
      @include svg-background(longform-share-icon);
      background-repeat: no-repeat;
      z-index: 50;
    }
  }
}
.share-block__icon--fav {
  a.flagged {
    @include svg-background(longform-favorite-icon-square);
    @include image-replace (40px, 40px);
    @include breakpoint($mobile-menu-bp, $no-query: true) {
      @include image-replace (75px, 75px);
      @include svg-background(longform-favorite-icon);
    }
  }
  a {
    @include svg-background(longform-unfavorite-icon-square);
    @include image-replace (40px, 40px);
    @include breakpoint($mobile-menu-bp, $no-query: true) {
      @include image-replace (75px, 75px);
      @include svg-background(longform-unfavorite-icon);
    }
  }

}
.share-block__icon--print {
  z-index: 20;
  @include svg-background(longform-print-icon-square);
  @include image-replace (40px, 40px);
  @include breakpoint($mobile-menu-bp, $no-query: true) {
    @include svg-background(longform-print-icon);
    @include image-replace (75px, 75px);
  }
}

//ie9 break fix
.ie9 .share-block__icon {
  
  @include breakpoint(700px, $no-query: true) {
    height: 40px;
    width: 40px;
    margin-left: 20px;
  }
  
}
.ie9 .share-block__icon--share span.st_sharethis_custom {
  background-repeat: no-repeat;
}
.ie9 .share-block__icon--fav {
  background-repeat: no-repeat;
}
.ie9 .share-block__icon--print {
  background-repeat: no-repeat;
  @include breakpoint(700px, $no-query: true) {
    margin-left: 20px;
  }
  
}

//Hide Usabilla Live Button
.usabilla_live_button_container{
  display: none;
}