<div class="block block--menu-menu-sub-footer-menu" role="navigation">
  <h2 class="element-invisible block__title">Footer Utility menu</h2>
  <ul class="nav">
    <li class="nav__item"><a class="nav__link" href="#">Credits</a></li>
    <li class="nav__item"><a class="nav__link" href="#">Privacy Policy</a></li>
    <li class="nav__item"><a class="nav__link" href="#">Terms of Use</a></li>
  </ul>
</div>
