&lt;article class=&quot;card card--icons&quot;&gt;
  &lt;div class=&quot;card__content&quot;&gt;
    &lt;h2 class=&quot;card__type&quot;&gt;Toolkit&lt;/h2&gt;
    &lt;h3 class=&quot;card__primary-title&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt;{{ title }}&lt;/a&gt;&lt;/h3&gt;
    &lt;div class=&quot;card__author&quot;&gt;
      &lt;div class=&quot;card__author-image&quot;&gt;&lt;img src=&quot;../../images-patternlab/buffy-35-35.jpg&quot;&gt;&lt;/div&gt;
      &lt;div class=&quot;card__author-name&quot;&gt;Buffy Summers&lt;/div&gt;
      &lt;div class=&quot;card__author-date&quot;&gt;03/15/2015&lt;/div&gt;    
    &lt;/div&gt;
    &lt;div class=&quot;card__list&quot;&gt;
      &lt;span class=&quot;card__list-label&quot;&gt;Sectors:&lt;/span&gt; 
      &lt;span class=&quot;card__list-content&quot;&gt;&lt;a href=&quot;#&quot;&gt;Health&lt;/a&gt;, &lt;a href=&quot;#&quot;&gt;Education&lt;/a&gt;, &lt;a href=&quot;#&quot;&gt;Economic Growth&lt;/a&gt;, &lt;a href=&quot;#&quot;&gt;Housing and Transportation&lt;/a&gt;&lt;/span&gt;
    &lt;/div&gt;
    &lt;div class=&quot;card__counts&quot;&gt;
      &lt;div class=&quot;view&quot;&gt;
        &lt;div class=&quot;has-icon--comment&quot; title=&quot;Comments&quot;&gt;12&lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;view&quot;&gt;
        &lt;div class=&quot;has-icon--favorite&quot; title=&quot;Favorites&quot;&gt;6&lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/article&gt;



 
 
 
