<div class="pane pane--homepage-join-callout">    
  <div class="pane__content">
    <h1>Ready to get started?</h1>
    <p><a href="#" class="button button--highlight button--large">Join the community</a></p>
  </div>
</div>