<div class="pane pane--homepage-header">
  <div class="pane__content">
    <h1>You have the power to change the world</h1>
    <p>The Exchange can help</p>
    <div><a href="#" class="button">Join the community</a></div>
  </div>
</div>