<div class="pane pane--wanteds-views-action-card-panes">
  <div class="pane__content">
    <div class="view view--wanteds-cardflip">
      <div class="views-row">
        <div class="cardflip">
          <div class="cardflip__card">
            <div class="cardflip__1">
              <div class="cardflip__title">People</div>
              <div class="cardflip__image"><img src="../../images-patternlab/wanteds1.jpg"></div>
            </div>
            <div class="cardflip__2">
              <div class="cardflip__title">People</div>
              <div class="cardflip__description">Need people to further your innovation?</div>
              <div class="cardflip__link"><a href="#">Search Now</a></div>
              <div class="cardflip__image"><img src="../../images-patternlab/wanteds1.jpg"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="views-row">
        <div class="cardflip">
          <div class="cardflip__card">
            <div class="cardflip__1">
              <div class="cardflip__title">Information & Research</div>
              <div class="cardflip__image"><img src="../../images-patternlab/wanteds2.jpg"></div>
            </div>
            <div class="cardflip__2">
              <div class="cardflip__title">Information & Research</div>
              <div class="cardflip__description">Need information to further your innovation?</div>
              <div class="cardflip__link"><a href="#">Search Now</a></div>
              <div class="cardflip__image"><img src="../../images-patternlab/wanteds2.jpg"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="views-row">
        <div class="cardflip">
          <div class="cardflip__card">
            <div class="cardflip__1">
              <div class="cardflip__title">Materials & Supplies</div>
              <div class="cardflip__image"><img src="../../images-patternlab/wanteds3.jpg"></div>
            </div>
            <div class="cardflip__2">
              <div class="cardflip__title">Materials & Supplies</div>
              <div class="cardflip__description">Need schnauzers to further your innovation?</div>
              <div class="cardflip__link"><a href="#">Search Now</a></div>
              <div class="cardflip__image"><img src="../../images-patternlab/wanteds3.jpg"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="views-row">
        <div class="cardflip">
          <div class="cardflip__card">
            <div class="cardflip__1">
              <div class="cardflip__title">Ideas & Solutions</div>
              <div class="cardflip__image"><img src="../../images-patternlab/wanteds4.jpg"></div>
            </div>
            <div class="cardflip__2">
              <div class="cardflip__title">Ideas & Solutions</div>
              <div class="cardflip__description">Need ideas to further your innovation?</div>
              <div class="cardflip__link"><a href="#">Search Now</a></div>
              <div class="cardflip__image"><img src="../../images-patternlab/wanteds4.jpg"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="views-row">
        <div class="cardflip">
          <div class="cardflip__card">
            <div class="cardflip__1">
              <div class="cardflip__title">Calls To Action</div>
              <div class="cardflip__image"><img src="../../images-patternlab/wanteds5.jpg"></div>
            </div>
            <div class="cardflip__2">
              <div class="cardflip__title">Calls To Action</div>
              <div class="cardflip__description">Need calls to action to further your innovation?</div>
              <div class="cardflip__link"><a href="#">Search Now</a></div>
              <div class="cardflip__image"><img src="../../images-patternlab/wanteds6.jpg"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="views-row">
        <div class="cardflip">
          <div class="cardflip__card">
            <div class="cardflip__1">
              <div class="cardflip__title">Services & Support</div>
              <div class="cardflip__image"><img src="../../images-patternlab/wanteds6.jpg"></div>
            </div>
            <div class="cardflip__2">
              <div class="cardflip__title">Services & Support</div>
              <div class="cardflip__description">Need services & support to further your innovation?</div>
              <div class="cardflip__link"><a href="#">Search Now</a></div>
              <div class="cardflip__image"><img src="../../images-patternlab/wanteds6.jpg"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="views-row">
        <div class="cardflip">
          <div class="cardflip__card">
            <div class="cardflip__1">
              <div class="cardflip__title">Free</div>
              <div class="cardflip__image"><img src="../../images-patternlab/wanteds7.jpg"></div>
            </div>
            <div class="cardflip__2">
              <div class="cardflip__title">Free</div>
              <div class="cardflip__description">Need free to further your innovation?</div>
              <div class="cardflip__link"><a href="#">Search Now</a></div>
              <div class="cardflip__image"><img src="../../images-patternlab/wanteds7.jpg"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="views-row">
        <div class="cardflip">
          <div class="cardflip__card">
            <div class="cardflip__1">
              <div class="cardflip__title">Other</div>
              <div class="cardflip__image"><img src="../../images-patternlab/wanteds8.jpg"></div>
            </div>
            <div class="cardflip__2">
              <div class="cardflip__title">Other</div>
              <div class="cardflip__description">Need other to further your innovation?</div>
              <div class="cardflip__link"><a href="#">Search Now</a></div>
              <div class="cardflip__image"><img src="../../images-patternlab/wanteds8.jpg"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>