<div class="pane">
  <h2 class="pane__title">Funded By</h2>
  <div class="pane__content">
    <div class="view">
      <div class="layout-grid layout-grid--cols-3">
        <div class="layout-grid__row layout-grid__row--1 layout-grid__row--first layout-grid__row--last profile-thumb">
          <div class="layout-grid__column layout-grid__column--1 layout-grid__column--first">
            <div class="views-field profile-thumb__image">                      
              <div class="field">
                <a href="#"><img alt="" src="../../images-patternlab/weylandyutani-78-78.jpg"></a>
              </div>
            </div> 
            <div class="views-field profile-thumb__name">        
              <a href="/node/5">Weyland-Yutani Corporation</a> 
            </div>        
          </div>
          <div class="layout-grid__column layout-grid__column--2 profile-thumb">
            <div class="views-field profile-thumb__image">        
              <div class="field">
                <a href="#"><img alt="" src="../../images-patternlab/lospollos-78-78.jpg"></a>
              </div>
            </div> 
            <div class="views-field profile-thumb__name">        
              <a href="/node/5">Los Pollos Hermanos</a> 
            </div>        
          </div>
          <div class="layout-grid__column layout-grid__column--3 layout-grid__column--last profile-thumb">
            <div class="views-field profile-thumb__image">        
              <div class="field">
                <a href="#"><img alt="" src="../../images-patternlab/tyrell-78-78.jpg"></a>
              </div>
            </div> 
            <div class="views-field profile-thumb__name">        
              <a href="/node/5">Tyrell Corporation</a> 
            </div>        
          </div>
        </div>
      </div>
    </div>
  </div>
</div>