<div class="pane">
  <h2 class="pane__title">How Can You Help?</h2>  
  <div class="pane__content">
    <div class="view">
      <ul>
        <li>Joining the Team</li>
        <li>Providing Funding</li>  
        <li>Testing the Innovation and providing feedback</li>  
        <li>Helping with our business plan</li>  
        <li>Helping us navigate IP/Legal issues</li>  
        <li>Giving general feedback on the innovation</li> 
      </ul>
    </div>
  </div>
</div>