<div class="pane">
  <h2 class="pane__title">Point of Contact</h2>  
  <div class="pane__content">
    <article role="article" class="layout-slat profile-thumb">
      {{# listItems.one }}
        <div class="layout-slat__media"> 
          <div class="profile-thumb__image--rounded">
            <a href="#"><img alt="" src="{{ user.img-78-78.src }}"></a>
          </div>
          <div class="profile-thumb__name">
            <a href="#">{{ user.name }}</a>  
          </div>
        </div>
        <div class="layout-slat__content">
          <div class="profile-thumb__summary">
            {{ user.motto }}
          </div>
        </div>
      {{/ listItems.one }}
    </article>
  </div>
</div> 
 