<div class="pane user-header">
  <div class="pane__content">
    <div class="layout-slat">
      <div class="layout-slat__media">
        <div class="user-header__photo">
          <img src="../../images-patternlab/tyrion-178-178.jpg">
        </div>  
      </div>
      <div class="layout-slat__content">
        <div class="field user-header__name">
          Tyrion Lannister
        </div>
        <div class="field user-header__organization">
          Lannister, Inc.
        </div>
        <div class="field user-header__title">
          Hand of the King
        </div>
        <div class="user-header__meta">
          <div class="field user-header__address">
            King's Landing, Westeros
          </div>
          <div class="field user-header__member-since">
            Member since Mar 18, 2015
          </div>
          <div class="field user-header__type">
            <a href="/user-type/implementer">Implementer</a>, <a href="/user-type/researcher">Researcher</a>
          </div>  
        </div>
        <div class="flag-outer flag-outer-follow">
          <span class="flag-wrapper flag-follow">
            <a class="flag flag-action flag-link-toggle flag-processed" title="Follow this user" href="#">Follow</a><span class="flag-throbber">&nbsp;</span>
          </span>
        </div>
        <div class="field user-header__email">
          <a class="button button--light" href="mailto:mdrayer@forumone.com">Send Note</a>
        </div>  
      </div>
    </div>
  </div>  
</div>