{{> organisms-header }}
{{> organisms-navigation }}

<main id="main" class="main" role="main" tabindex="-1">
  <div class="region-content">
    <div class="region__inner">
      {{> organisms-innovation }}
    </div>
  </div>
</main>

{{> organisms-postscript }}
{{> organisms-footer }}
