{{> organisms-header }}
{{> organisms-microsite-navigation }}

<main id="main" class="main" role="main" tabindex="-1">
  <div class="region-content">

     {{> molecules-microsite-header-with-arrow }}
     {{> molecules-microsite-text-centered }}
     {{> molecules-microsite-break }}
     {{> molecules-microsite-50-50(color: "microsite-primary") }}
     {{> molecules-microsite-50-50(class: "microsite-50-50--reversed", color: "microsite-secondary") }}
     {{> molecules-microsite-50-50(color: "microsite-tertiary") }}
     {{> molecules-microsite-50-50(class: "microsite-50-50--reversed", color: "microsite-light-gray") }} 
     {{> molecules-microsite-50-50(color: "microsite-dark-gray") }}
     {{> molecules-microsite-header }}
     {{> molecules-microsite-highlight }}
     {{> molecules-microsite-callout-card-3-cols }}
     {{> molecules-microsite-featured }}


  </div>
</main>

{{> organisms-postscript }}
{{> organisms-microsite-footer }}
