{{> organisms-microsite-utility-region }}

<header class="site-header" role="banner">
  <div class="layout-constrain">
    {{> organisms-microsite-header-region }}
    {{> organisms-microsite-navigation-region }}
  </div>
</header>

{{> organisms-microsite-preface-region }}

<main id="main" class="main" role="main" tabindex="-1">
  <div class="region-content">

     {{> molecules-page-header }}
     {{> molecules-text-block-centered }}
     {{> molecules-section-break }}
     {{> molecules-featured-content }}

  </div>
</main>

{{> organisms-microsite-postscript-region }}
{{> organisms-microsite-footer-region }}
