{{> organisms-header }}
{{> organisms-microsite-navigation }}

<main id="main" class="main" role="main" tabindex="-1">
  <div class="region-content">

     {{> molecules-microsite-header }}
     {{> molecules-microsite-text-centered }}
     {{> molecules-microsite-break }}
     {{> molecules-microsite-50-50 }}
     {{> molecules-microsite-50-50-reversed }}
     {{> molecules-microsite-callout-card-3-cols }}
     {{> molecules-microsite-featured }}

  </div>
</main>

{{> organisms-postscript }}
{{> organisms-microsite-footer }}
