{{> organisms-header }}
{{> organisms-navigation }}

<main id="main" class="main" role="main" tabindex="-1">
  <div class="region-content">

    <div class="l-panels-landing preface-empty title sidebar-empty main">
      <div class="l-preface layout-constrain"></div>
      <div class="l-title region-landing-title">
        <div class="layout-constrain">
          {{> molecules-landing-page-intro-wanteds }}
        </div>
      </div>
      <div class="l-wrapper region-landing-content">
        <div class="layout-constrain">
          
          <div class="l-main">
            {{> molecules-wanteds-action-card-panes }}
          </div>

        </div>
      </div>
    </div>

  </div>
</main>

{{> organisms-postscript }}
{{> organisms-footer }}
