{{> organisms-header }}
{{> organisms-navigation-welcome-page }}

<main id="main" class="main" role="main" tabindex="-1">
  <div class="region-content">
    <div class="region__inner">
      {{> organisms-welcome-page }}
    </div>
  </div>
</main>

{{> organisms-footer-simple }}
