{{> organisms-header-simple }}

<main id="main" class="main" role="main" tabindex="-1">
  <div class="region-content">

    {{> organisms-welcome-page }}

  </div>
</main>

{{> organisms-footer-simple }}
