.view--card-view-2col {
  overflow: hidden;
  .views-row {
    @include breakpoint(500px, $no-query: true) {
      float: left;
      width: percentage(1/2);
    }
    &.even {
      padding-left: 0.5em;
    }
    &.odd {
      padding-right: 0.5em;
    }
    &.first {
      padding-right: 0.5em;
    }
    &.second {
      padding-left: 0.25em;
      padding-right: 0.25em;
    }
    &.third {
      padding-left: 0.5em;
    }
  }
}
