.view--featured-assets {
  
  .flexslider {
    border: 0;
    margin: 0;
    position: relative;
    
    ul.slides {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        margin: 0;
        padding: 0;
        &:before {
          display: none;
        }
        img {
          display: block;
        }
        .asset--video .field-item { // from http://embedresponsively.com/
          height: 0;
          max-width: 100%; 
          padding-bottom: 56.25%; 
          position: relative; 
          overflow: hidden; 
          iframe, embed, object {
             height: 100%;
             left: 0; 
             position: absolute;              
             top: 0; 
             width: 100%; 
          }
        }
      }
    }

    ol.flex-control-nav {
      display: none;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        margin: 0;
        padding: 0;
        &:before {
          display: none;
        }
      }
    }

    ul.flex-direction-nav {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        margin: 0;
        padding: 0;
        position: static;
        &:before {
          display: none;
        }
      }
      a {
        @include image-replace(20px,20px);
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 20px 20px;
        display: block;
        margin-top: -10px;
        position: absolute;
        top: 50%;
        @include breakpoint(500px, $no-query: true) {
          background-size: 40px 40px;
          height: 40px;
          margin-top: -20px;
          width: 40px;          
        }

        &.flex-prev {
          @include svg-background(flexslider-prev);
          left: 0;
          @include breakpoint(500px, $no-query: true) {
            left: -2px;
          }
        }
        &.flex-next {
          @include svg-background(flexslider-next); 
          right: 0;
          @include breakpoint(500px, $no-query: true) {
            right: -2px;
          }
        }
      }
    }
  }

  .view__attachment-after {
    font-size: em(12px);
    font-weight: bold;
    padding-top: 0.5em;
    text-align: right;
    .view--display-id-image_count {
      display: inline-block;
      padding-right: 15px;
      .views-field {
        line-height: 17px;
        &:after {
          @include image-replace(23px,17px);
          @include svg-background(icon-photo);
          content: "";
          display: inline-block;
          position: relative;
          left: 3px;
          top: 3px;
        }
      }
    }
    .view--display-id-video_count {
      display: inline-block;
      .views-field {
        line-height: 17px;
        &:after {
          @include image-replace(24px,17px);
          @include svg-background(icon-video);
          content: "";
          display: inline-block;
          position: relative;
          left: 3px;
          top: 3px;
        }
      }
    }
  }
}