<div class="text-block layout-constrain component">
  <h2>Header 2</h2>
  <p>Lorem ipsum <strong>dolor </strong>sit amet, consectetur adipiscing elit. Integer pellentesque <u>tincidunt consectetur</u>. In tincidunt pharetra erat et maximus. In ante nisl, dignissim vitae dignissim vel, sodales auctor leo. Curabitur auctor porttitor felis, eget posuere ex placerat sit amet. Etiam fringilla odio dui, a iaculis est gravida id. <a href="http://google.com">Morbi bibendum</a>, sapien in interdum placerat, nibh ante finibus ex, <em>eget cursus mauris dolor at dolor</em>. Duis ullamcorper urna vitae metus mattis, sed ornare libero posuere. Donec eu ante at nulla condimentum sagittis. Curabitur nec orci at libero interdum facilisis. Proin feugiat ipsum a porta suscipit. Duis et nisi eget augue mattis tempor. Curabitur eget libero quis metus tincidunt interdum.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pellentesque tincidunt consectetur. In tincidunt pharetra erat et maximus. In ante nisl, dignissim vitae dignissim vel, sodales auctor leo. &nbsp;DaenerysTargaryen</p>
  <ol><li>Number 1</li>
  <li>Number 2</li>
  <li>Number 3</li>
  <li>Number 4</li>
  </ol>
  <h3>Header 3</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pellentesque tincidunt consectetur. In tincidunt pharetra erat et maximus. In ante nisl, dignissim vitae dignissim vel, sodales auctor leo.</p>
  <ul><li>First list item</li>
  <li>Second list item</li>
  <li>Third list item</li>
  </ul>
</div>