div[class*="pane--facetapi-"] {
  background: #fff;
  border: 1px solid #f1f1f1;
  border-top: 0;
  margin: 0;
  &:last-child {
    margin-bottom: 2em;
  }
  .pane__title {
    background: $orange;
    border: 0;
    color: #fff;
    font-size: em(15px);
    font-weight: normal;
    margin: 0;
    padding: 1em 0.75em;
  }
  &.is-open .pane__title,
  &.is-closed .pane__title {
    cursor: pointer;
    padding-right: 40px;
    position: relative;
    &:after {
      background-size: contain;
      content: "";
      display: block;
      height: 15px;
      position: absolute;
      right: 0.75em;
      top: 1em;
      width: 15px;
    }
  }
  &.is-open .pane__title {
    &:after {
      @include svg-background(icon-minus-15-15-white);
    }
  }
  &.is-closed .pane__title {
    background: #f1f1f1;
    color: $primary-text-color;
    &:after {
      @include svg-background(icon-plus-15-15-orange);
    }
  }
  .pane__content {
    padding: 0.75em;
    ul {
      list-style: none;
      margin: -0.75em 0;
      padding: 0;
      li {
        border-bottom: 1px solid #f2f2f2;
        font-size: em(14px);
        line-height: 1.4;
        margin: 0 0 0 22px;
        padding: 0.75em 0;
        text-indent: -22px;
        &:last-child {
          border-bottom: 0;
        }
        &:before {
          display: none; // undo bullet from _html-elements
        }
        input {
          bottom: -1px;
          margin-right: 8px;
          position: relative;
        }
        a {
          @include hyphens(none);
          color: $primary-text-color;
          font-weight: normal;
          overflow: hidden;
        }
      }
    }
  }
}

.pane--facetapi__main-title {
  border: 0 !important;
  .pane__content {
    h2 {
      margin: 0 0 0.5em 0;
      padding: 0;
    }
  }
}

 
 