.term-reference-tree-level {
  list-style: none !important;
  li {
    .pane__content & { // undo bullet from _html-elements
      list-style: none !important;
      &:before {
        display: none;
      }
    }  
  }
}