&lt;div class=&quot;layout-slat card card--listing&quot;&gt;
  &lt;div class=&quot;layout-slat__media&quot;&gt;
    &lt;a href=&quot;#&quot;&gt;{{&gt; atoms-card-image }}&lt;/a&gt;
  &lt;/div&gt;  
  &lt;div class=&quot;layout-slat__content&quot;&gt;
    &lt;div class=&quot;card__meta&quot;&gt;
      &lt;div class=&quot;card__type&quot;&gt;People&lt;/div&gt;
      &lt;div class=&quot;card__location&quot;&gt;Albania&lt;/div&gt;
    &lt;/div&gt;
    &lt;h3 class=&quot;card__title&quot;&gt;&lt;a href=&quot;#&quot;&gt;{{ title }}&lt;/a&gt;&lt;/h3&gt;
    &lt;div class=&quot;card__summary&quot;&gt;
      {{{ summary }}}
    &lt;/div&gt;
    &lt;div class=&quot;card__counts&quot;&gt;
      &lt;div class=&quot;view&quot;&gt;
        &lt;div title=&quot;Comments&quot; class=&quot;has-icon--comment&quot;&gt;{{ comments }}&lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;view&quot;&gt;
        &lt;div title=&quot;Favorites&quot; class=&quot;has-icon--favorite&quot;&gt;{{ favorites }}&lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;view&quot;&gt;
        &lt;div title=&quot;Funding Available&quot; class=&quot;has-icon--funding&quot;&gt;{{ funders }}&lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;view&quot;&gt;
        &lt;div title=&quot;Number of People Needed&quot; class=&quot;has-icon--member&quot;&gt;{{ members }}&lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;