<div class="block block-search-form block--search block--search-form">      
  <form accept-charset="UTF-8">
    <div class="container-inline">
      <h2 class="element-invisible">Search form</h2>
      <div class="form-item form-item--searchfield form-item--search-block-form">
        <input type="search" class="form-text form-search" maxlength="128" size="15" value="" title="Enter the terms you wish to search for." placeholder="START SEARCHING...">
      </div>
      <div class="form-actions">
        <input type="submit" class="button button--submit" value="Search">
      </div>
    </div>
  </form>  
</div>