 <section class="comments" id="comments">
          <h2 class="comments__title">Discuss</h2>
          <form class="comment-form ds-reset">
            <div class="form-item form-item--item">
              <label class="form-item__label">
                Your name 
              </label>
              <a class="username" title="View user profile." href="/users/admin">admin</a>
            </div>
            <div class="field-type-text-long field-name-comment-body field-widget-text-textarea">
              <div>
                <div class="text-format-wrapper">
                  <div class="form-item form-item--textarea form-item--comment-body-und-0-value is-required">
                    <label class="form-item__label">Comment <span class="form-item__required-marker"><span class="element-invisible">This field is required.</span></span></label>
                    <textarea rows="5" cols="60" class="text-full form-textarea is-required"></textarea>
                  </div>
                  <fieldset class="filter-wrapper fieldset">
                    <div class="fieldset__content">
                      <div class="filter-help">
                        <p><a target="_blank" href="/filter/tips">More information about text formats</a></p>
                      </div>
                      <div class="filter-guidelines filter-guidelines-processed">
                        <div class="filter-guidelines-item filter-guidelines-comments_filtered">
                          <ul class="tips">
                            <li>Allowed HTML tags: &lt;a&gt; &lt;em&gt; &lt;strong&gt; &lt;cite&gt; &lt;blockquote&gt; &lt;code&gt; &lt;ul&gt; &lt;ol&gt; &lt;li&gt; &lt;dl&gt; &lt;dt&gt; &lt;dd&gt;</li><li>Lines and paragraphs break automatically.</li><li>Web page addresses and e-mail addresses turn into links automatically.</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>
            </div>  
            <div class="form-actions">
              <input type="submit" class="button button--submit" value="Comment">
            </div>
          </form>    
          <div class="layout-slat comment comment--by-node-author view-mode-full">
            <div class="layout-slat__media">
              <span>
                <a class="username" title="View user profile." href="/users/forumone">forumone</a>
              </span>
            </div>
            <div class="layout-slat__content">
              <div class="field field--post-date">
                <div class="field-items">
                  <div class="field-item even">03/10/2015 - 4:29pm</div>
                </div>
              </div>
              <div class="field field--comment-body">
                <div class="field-items">
                  <div class="field-item even">
                    <p>Now !</p>
                  </div>
                </div>
              </div>
              <ul class="nav--inline nav--comment nav">
                <li class="nav__item nav__item--comment-delete"><a class="nav__link" href="/comment/1/delete">delete</a></li>
                <li class="nav__item nav__item--comment-delete nav__item nav__item--comment-edit"><a class="nav__link" href="/comment/1/edit">edit</a></li>
                <li class="nav__item nav__item--comment-delete nav__item nav__item--comment-edit nav__item nav__item--comment-reply"><a class="nav__link" href="/comment/reply/2/1">reply</a></li>
              </ul>
            </div>
          </div>
          <div class="indented">
            <div class="layout-slat comment comment--by-node-author view-mode-full">
              <div class="layout-slat__media">
                <a class="username" title="View user profile." href="/users/forumone">forumone</a>
              </div>
              <div class="layout-slat__content">
                <div class="field field--post-date">
                  <div class="field-items">
                    <div class="field-item even">03/10/2015 - 4:30pm</div>
                  </div>
                </div>
                <div class="field field--comment-body">
                  <div class="field-items">
                    <div class="field-item even">
                      <p>Reply</p>
                    </div>
                  </div>
                </div>
                <ul class="nav--inline nav--comment nav">
                  <li class="nav__item nav__item--comment-delete"><a class="nav__link" href="/comment/2/delete">delete</a></li>
                  <li class="nav__item nav__item--comment-delete nav__item nav__item--comment-edit"><a class="nav__link" href="/comment/2/edit">edit</a></li>
                  <li class="nav__item nav__item--comment-delete nav__item nav__item--comment-edit nav__item nav__item--comment-reply"><a class="nav__link" href="/comment/reply/2/2">reply</a></li>
                </ul>
              </div>
            </div>
        </div>
      </section>