<button class="button">Button</button>
<a href="{{ url }}" class="button">Button Link</a>
<button class="button button--highlight">Highlight Button</button>
<a href="{{ url }}" class="button button--highlight">Highlight Button Link</a>
<button class="button button--light">Light Button</button>
<a href="{{ url }}" class="button button--light">Light Button Link</a>

