<div class="l-panels-detail hero main main-sidebar center box-first box-second box-third bottom-sidebar bottom">
  <div class="l-hero region-title">
    <div class="layout-constrain">
      <div class="pane pane--page-title">
        <div class="pane__content">
          <h1>{{ pageTitle }}</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="l-wrapper layout-constrain">
    <div class="l-main">
      {{{ body }}}
    </div>
    <aside class="l-main-sidebar">
    </aside>
  </div>
  <div class="l-center layout-constrain">
  </div>
  <div class="l-wrapper region-meta">
    <div class="layout-constrain">
      <div class="l-box-first">
        {{> molecules-at-a-glance }}
      </div>
      <div class="l-box-second">
        {{> molecules-innovation-assistance }}
      </div>
      <div class="l-box-third">
        {{> molecules-point-of-contact }}
      </div>
    </div>
  </div>
  <div class="l-wrapper layout-constrain">
    <div class="l-bottom">
      <div class="innovation-stats">
        <h2>Innovation Stats</h2>
        <div class="innovation-stats__first">
          <div class="field clearfix field--innovation-funding-goal">
            <div class="field-label">Funding Goal:&nbsp;</div>
            <div class="field-items">
              <div class="field-item">$000,000,000</div>
            </div>
          </div>
          <div class="field clearfix field--innovation-cost-per-unit">
            <div class="field-label">Solution Type:&nbsp;</div>
            <div class="field-items">
              <div class="field-item">Behavior Change</div>
              <div class="field-item">Technology</div>
            </div>
          </div>
          <div class="field clearfix field--innovation-funding-goal">
            <div class="field-label">Project Stage:&nbsp;</div>
            <div class="field-items">
              <div class="field-item">Idea</div>
            </div>
          </div>
          <div class="field clearfix field--innovation-cost-per-unit">
            <div class="field-label">Cost Per Unit:&nbsp;</div>
            <div class="field-items">
              <div class="field-item">$600</div>
            </div>
          </div>
          <div class="field clearfix field--innovation-funding-goal">
            <div class="field-label">Testing Phase:&nbsp;</div>
            <div class="field-items">
              <div class="field-item">Phase 1</div>
            </div>
          </div>
        </div>
        <div class="innovation-stats__second">
          <div class="field clearfix field--innovation-created">
            <div class="field-label">Created In:&nbsp;</div>
            <div class="field-items">
              <div class="field-item even">India</div>
            </div>
          </div>
          <div class="field clearfix field--innovation-implemented">
            <div class="field-label">Implemented In:&nbsp;</div>
            <div class="field-items">
              <div class="field-item">Ghana</div>
              <div class="field-item">India</div>
            </div>
          </div>
          <div class="field clearfix field--innovation-implemented">
            <div class="field-label">Sectors:&nbsp;</div>
            <div class="field-items">
              <div class="field-item">Clean Energy Sector</div>
            </div>
          </div>
          <div class="field clearfix field--innovation-implemented">
            <div class="field-label">Related Programs:&nbsp;</div>
            <div class="field-items">
              <div class="field-item">Grand Challenges</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <aside class="l-bottom-sidebar">
      {{> molecules-innovation-team }}
      {{> molecules-funded-by }}
    </aside>
  </div>
</div>
