<div class="l-panels-sidebar-right preface-empty title sidebar main">
  <div class="l-preface layout-constrain">

  </div>
  <div class="l-title region-title">
    <div class="layout-constrain">
      <div class="pane pane--page-title">
        <div class="pane__content">
          <h1>{{ pageTitle }}</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="l-wrapper layout-constrain">
    <div class="l-main">
      

    </div>
    <aside class="l-sidebar">
      {{> molecules-recently-posted }}
      {{> molecules-funded-by }} 
      {{> molecules-connect-with-me }}
    </aside>
  </div>
</div>