<div class="l-panels-detail title main main-sidebar center-empty bottom-sidebar bottom">
  <div class="l-title region-title">
    <div class="layout-constrain">
      <div class="pane pane--page-title">
        <div class="pane__content">
          <h1>{{ pageTitle }}</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="l-wrapper layout-constrain">
    <div class="l-main">
      {{{ body }}}
    </div>
    <aside class="l-main-sidebar">
      {{> molecules-favorite-this }}
    </aside>
  </div>
  <div class="l-center layout-constrain">
 
  </div>
  
  <div class="l-wrapper layout-constrain">
    <div class="l-bottom">

      <div class="pane pane--node">
        <h2 class="pane__title">Highlights</h2>
        <div class="pane__content">

          <div class="view view--highlights">

            <div class="card card__content">
              <h2 class="card-type">Toolkit</h2>
              <h3 class="card__primary-title">
                <a href="#">Making the Journey from Cash to Electronic Payments</a>
              </h3>
              <div class="card__author">
                <div class="card__author-date">
                  <span class="date-display-single">4/2/2015</span>
                </div>
                <div class="card__list">
                  <div class="field__label field__label--inline card__list-label">Sectors:&nbsp;</div>
                  <a href="#">Agriculture</a>
                </div> 
                <div class="card__counts">
                  <div class="view view-resource-counters">
                    <div class="has-icon--comment">0</div>
                  </div>
                  <div class="view view-resource-counters">
                    <div class="has-icon--favorite">0</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card card__content">
              <h2 class="card-type">Toolkit</h2>
              <h3 class="card__primary-title">
                <a href="#">Making the Journey from Cash to Electronic Payments</a>
              </h3>
              <div class="card__author">
                <div class="card__author-date">
                  <span class="date-display-single">4/2/2015</span>
                </div>
                <div class="card__list">
                  <div class="field__label field__label--inline card__list-label">Sectors:&nbsp;</div>
                  <a href="#">Agriculture</a>
                </div> 
                <div class="card__counts">
                  <div class="view view-resource-counters">
                    <div class="has-icon--comment">0</div>
                  </div>
                  <div class="view view-resource-counters">
                    <div class="has-icon--favorite">0</div>
                  </div>
                </div>
              </div>
            </div>
      
          </div>
        </div>
      </div>

    </div>
    <aside class="l-bottom-sidebar">
       {{> molecules-related-subsectors }}
       {{> molecules-recent-conversations }}
    </aside>
  </div>
</div>
