<div class="l-panels-detail title main main-sidebar center-empty bottom-sidebar bottom">
  <div class="l-title region-title">
    <div class="layout-constrain">
      <div class="pane pane--page-title">
        <div class="pane__content">
          <h1>{{ pageTitle }}</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="l-wrapper layout-constrain">
    <div class="l-main">
      {{{ body }}}
    </div>
    <aside class="l-main-sidebar">
      {{> molecules-favorite-this }}
    </aside>
  </div>
  <div class="l-center layout-constrain">
 
  </div>
  
  <div class="l-wrapper layout-constrain"> 
    <div class="l-bottom">

      <div class="pane pane--node">
        <h2 class="pane__title">Highlights</h2>
        <div class="pane__content">

          <div class="view view--highlights">

            <div class="card community__content">
              <h2 class="community__card-type">Innovation</h2>
              <h3 class="community__primary-title">
                <a href="#">Making the Journey from Cash to Electronic Payments</a>
              </h3>
              
                <div class="community__author-image">
                  <img src="../../images-patternlab/buffy-35-35.jpg">
                </div>

              <div class="community__author">
                <div class="community__author-name">Buffy Summers</div>
                <div class="community__author-date">
                <span class="date-display-single">4/2/2015</span>
                </div>
              </div>
            </div>

            <div class="card community__content">
              <h2 class="community__card-type">Publication</h2>
              <h3 class="community__primary-title">
                <a href="#">Lorem ipsum dolor sit amet, consectetur adip iscing elit. Viva mustem pus arcu elit.</a>
              </h3>
              
                <div class="community__author-image">
                  <img src="../../images-patternlab/buffy-35-35.jpg">
                </div>

              <div class="community__author">
                <div class="community__author-name">Buffy Summers</div>
                <div class="community__author-date">
                <span class="date-display-single">4/2/2015</span>
                </div>
              </div>
            </div>

            
    
          </div>
        </div>
      </div>

    </div>
    <aside class="l-bottom-sidebar">
       {{> molecules-related-subsectors }}
       {{> molecules-recent-conversations }}
    </aside>
  </div>
</div>
