<div class="l-panels-detail title main main-sidebar center-empty bottom-sidebar bottom">
  <div class="l-title region-title">
    <div class="layout-constrain">
      <div class="pane pane--page-title">
        <div class="pane__content">
          <h1>{{ pageTitle }}</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="l-wrapper layout-constrain">
    <div class="l-main">
      {{{ body }}}
    </div>
    <aside class="l-main-sidebar">
      {{> molecules-favorite-this }}
    </aside>
  </div>
  <div class="l-center layout-constrain"> 
 
  </div>
  
  <div class="l-wrapper layout-constrain"> 
    <div class="l-bottom">

      <div class="pane pane--node">
        <h2 class="pane__title">Highlights</h2> 
        <div class="pane__content">

          <div class="view view--card-view">

            <div class="views-row">
              <article class="card card__background">
                <div class="card__content">
                  <h2 class="card__type">Toolkit</h2>
                  <h3 class="card__primary-title"><a href="{{ url }}">{{ title }}</a></h3>
                  <div class="card__author">
                    <div class="card__author-image"><img src="../../images-patternlab/buffy-35-35.jpg"></div>
                    <div class="card__author-name">Buffy Summers</div>
                    <div class="card__author-date">03/15/2015</div>    
                  </div>
                </div>
              </article>
            </div>

            <div class="views-row">
              <article class="card card__background">
                <div class="card__content">
                  <h2 class="card__type">Toolkit</h2>
                  <h3 class="card__primary-title"><a href="{{ url }}">{{ title }}</a></h3>
                  <div class="card__author">
                    <div class="card__author-image"><img src="../../images-patternlab/buffy-35-35.jpg"></div>
                    <div class="card__author-name">Buffy Summers</div>
                    <div class="card__author-date">03/15/2015</div>    
                  </div>
                </div>
              </article>
            </div>
    
          </div>
        </div>
      </div>

    </div>
    <aside class="l-bottom-sidebar">
       {{> molecules-related-subsectors }}
       {{> molecules-recent-conversations }}
    </aside>
  </div>
</div>
