<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #cd1041;"></span>
		<span class="sg-label">#cd1041</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #00498f;"></span>
		<span class="sg-label">#00498f</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #035b94;"></span>
		<span class="sg-label">#035b94</span>
	</li>

	 
</ul>
