&lt;div class=&quot;pane pane--userfield-user-motto&quot;&gt;
  &lt;h2 class=&quot;pane__title&quot;&gt;My Motto:&lt;/h2&gt;
  &lt;div class=&quot;pane__content&quot;&gt;
    &lt;div class=&quot;field field--user-motto&quot;&gt;
      Never forget what you are.  The rest of the world will not.  Wear it like armor, and it can never be used to hurt you.
    &lt;/div&gt;  
  &lt;/div&gt; 
&lt;/div&gt;