&lt;article class=&quot;card&quot;&gt;
  &lt;div class=&quot;card__content&quot;&gt;
    &lt;h3 class=&quot;card__primary-title&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt;{{ title }}&lt;/a&gt;&lt;/h3&gt;
    &lt;div class=&quot;card__number&quot;&gt;$30,000,000&lt;/div&gt;
    &lt;div class=&quot;card__due-date&quot;&gt;Due by: 3/21/2015&lt;/div&gt; 
    &lt;div class=&quot;card__list&quot;&gt;
      &lt;div class=&quot;card__list-label&quot;&gt;Eligibility:&lt;/div&gt; Lorem ipsum sit amet, cons ectetur adipiscing elit.
    &lt;/div&gt;
    &lt;div class=&quot;card__list&quot;&gt;
      &lt;div class=&quot;card__list-label&quot;&gt;Level of Effort:&lt;/div&gt; Lorem ipsum
    &lt;/div&gt;
    &lt;div class=&quot;card__list&quot;&gt;
      &lt;div class=&quot;card__list-label&quot;&gt;Topics:&lt;/div&gt; &lt;a href=&quot;#&quot;&gt;Agriculture&lt;/a&gt;, &lt;a href=&quot;#&quot;&gt;Irrigation&lt;/a&gt;
    &lt;/div&gt;
    &lt;div class=&quot;card__counts&quot;&gt;
      &lt;div class=&quot;view&quot;&gt;
        &lt;div class=&quot;has-icon--comment&quot; title=&quot;Comments&quot;&gt;12&lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;view&quot;&gt;
        &lt;div class=&quot;has-icon--favorite&quot; title=&quot;Favorites&quot;&gt;6&lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/article&gt;



 
 
 
