&lt;div class=&quot;pane&quot;&gt; 
  &lt;h2 class=&quot;pane__title&quot;&gt;At a Glance&lt;/h2&gt;
  &lt;div class=&quot;pane__content&quot;&gt;
    &lt;div class=&quot;view view--at-a-glance&quot;&gt;
      &lt;div class=&quot;views-row&quot;&gt;      
        &lt;div class=&quot;views-field has-icon--favorite&quot;&gt;    
          &lt;span class=&quot;views-label&quot;&gt;Favorites&lt;/span&gt;    
          &lt;span class=&quot;field-content&quot;&gt;1&lt;/span&gt;  
        &lt;/div&gt;  
        &lt;div class=&quot;views-field has-icon--comment&quot;&gt;    
          &lt;span class=&quot;views-label&quot;&gt;Comments&lt;/span&gt;    
          &lt;span class=&quot;field-content&quot;&gt;2&lt;/span&gt;  
        &lt;/div&gt;  
        &lt;div class=&quot;views-field has-icon--amount&quot;&gt;    
          &lt;span class=&quot;views-label&quot;&gt;&lt;/span&gt;    
          &lt;span class=&quot;field__label&quot;&gt;$100,000&lt;/span&gt;  
        &lt;/div&gt;  
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt; 