// @file
// Quick fixes
//
// Deadlines happen, so put your quick fixes here. Hopefully there will be time
// later to move/re-factor these styles into their proper place.

.microsite-text {
    margin-bottom: 4em;
    margin-top: 4em;
    padding-left: 10%;
    padding-right: 10%;
}

.section--microsite .microsite-text ul > li:before {
    content: "►";
    color: #cd1041;
    display: inline-block;
    margin-right: 10px;
    margin-left: -21px;
    font-size: 30px;
    position: relative;
    top: 3px;
    width: 30px;
}