// @file
// Quick fixes
//
// Deadlines happen, so put your quick fixes here. Hopefully there will be time
// later to move/re-factor these styles into their proper place.

.section--microsite {

  header.header {
    display: block;
  }

  .region-navigation {
    display: block;
  }

  .microsite-text {
    margin: 4em 0;
    padding: 0 10%;

    @include breakpoint($mobile-menu-bp, $no-query: true) {
      padding: 0 5%;
      margin: 0;
    }

    ul > li:before {
      content: "►";
      color: #cd1041;
      display: inline-block;
      margin-right: 10px;
      margin-left: -21px;
      font-size: 30px;
      position: relative;
      top: 3px;
      width: 30px;
    }
  }

  .microsite-50-50__text {
    padding: 2% 5%;
  }

}