&lt;div class=&quot;pre-footer component&quot;&gt;
		&lt;div class=&quot;pre-footer__download-link&quot;&gt;&lt;a href=&quot;#&quot; target=&quot;_blank&quot; ''&gt;Learn More&lt;/a&gt;&lt;/div&gt;
  	&lt;div class=&quot;pre-footer__download-image layout-constrain&quot;&gt;&lt;/div&gt;
  	&lt;div class=&quot;pre-footer__description layout-constrain&quot;&gt;&lt;p&gt;Report Description goes here&lt;/p&gt;&lt;/div&gt;
  	&lt;div class=&quot;pre-footer__sponsor layout-constrain&quot;&gt;{{&gt; components-footer-sponsor }}&lt;/div&gt;
&lt;/div&gt;