<div class="pane pane--wanteds-introduction pane--landing-intro">
  <div class="pane__content">
    <div class="pane--landing-intro__left">
      <h1>{{pageTitle}}</h1>
    </div>
    <div class="pane--landing-intro__right">
      <p><a href="#" class="button button--add">Post a Wanted Ad</a><a href="#" class="button button--orange button--add">About Wanteds</a></p>
    </div>
  </div>
</div>