/* Core */
/* line 3, ../../../sass/overrides/tb_megamenu/compatibility.scss */
.tb-megamenu {
  position: relative;
}

/* line 7, ../../../sass/overrides/tb_megamenu/compatibility.scss */
.tb-megamenu .nav,
.tb-megamenu .tb-block ul, .tb-megamenu .tb-block .nav {
  padding: 0;
}

/* line 10, ../../../sass/overrides/tb_megamenu/compatibility.scss */
.tb-megamenu .tb-block ul li, .tb-megamenu .tb-block .nav li {
  list-style: none;
}

/* line 13, ../../../sass/overrides/tb_megamenu/compatibility.scss */
.tb-megamenu .block-view-demo .item-list ul li {
  border-bottom: 1px solid #444;
}

/* line 16, ../../../sass/overrides/tb_megamenu/compatibility.scss */
.tb-megamenu .dropdown-submenu:hover .dropdown-menu {
  display: none;
}

/* End Core */
