{{> layouts-header-region }}

<main id="main" class="main" role="main" tabindex="-1">
	<div class="region-content">
		{{> components-page-header }}
		{{> components-card }}
  </div>
</main>

{{> layouts-footer-region }}
