{{> layouts-header-region }}
{{> layouts-navigation-region }}

<main id="main" class="main" role="main" tabindex="-1">
	<div class="region-content">
		{{> components-page-header }}
		{{> components-image }}
		{{> components-card-3 }}
		{{> components-video }}
		{{> components-card-2 }}
		{{> components-aside }}
		{{> components-text-block }}
		{{> components-card-1 }}
		{{> components-key-figure }}
		{{> components-section-header }}
		{{> components-text-block }}
		{{> components-section-break }}
		{{> components-pullquote }}
  </div>
</main>

{{> layouts-footer-region }}
