&lt;div class=&quot;region-navigation&quot;&gt;
  &lt;div class=&quot;layout-constrain&quot;&gt;
    {{&gt; atoms-site-name }}
    {{&gt; molecules-main-menu }}
    {{&gt; molecules-search }}
  &lt;/div&gt;
&lt;/div&gt;
