%microsite-component {
  clear: both;

  @each $current-color in $microsite-primary-list {
    $i: index($microsite-primary-list, $current-color);
    a {
      .microsite-palette#{$i} & { // body class
        color: $current-color;
        &:hover,
        &:focus {
          color: darken($current-color,20%);
        }
      }
    }
    h1, h2, h3, h4, h5, h6 {
      .microsite-palette#{$i} & {
        color: nth($microsite-header-list, $i);
      }
    }
    .button {
      .microsite-palette#{$i} & {
        background-color: nth($microsite-secondary-list, $i);
        border-color: nth($microsite-secondary-list, $i);
        &:hover, &:focus {
          background-color: darken(nth($microsite-secondary-list, $i), 6.9%);
          border-color: darken(nth($microsite-secondary-list, $i), 6.9%);
        }
      }

    }
  }

  p:last-child {
    margin-bottom: 0;
  }

}
 