%microsite-component {
  clear: both;
  display: block;
  padding: 2em 0;
  a {
    color: $microsite-primary;
    &:hover,
    &:focus {
      color: darken($microsite-primary,20%);
    }
  }
  h1, h2, h3, h4, h5, h6 {
    color: $microsite-header;
  }
  .button {
    background-color: $microsite-secondary;
    border-color: $microsite-secondary;
    &:hover, &:focus {
       background-color: darken($microsite-secondary, 6.9%);
       border-color: darken($microsite-secondary, 6.9%);
    }
  }
}
 