%microsite-component {
  clear: both;

  @each $item, $color in $micrositeColorMap {

    a {
      .microsite-palette#{$item} & { // body class
        color:  micro-site($item, 'primary');
        &:hover,
        &:focus {
          color: darken(micro-site($item, 'primary'),20%);
        }
      }
    }
    h1, h2, h3, h4, h5, h6 {
      .microsite-palette#{$item} & {
        color: micro-site($item, 'header');
      }
    }
    .button {
      .microsite-palette#{$item} & {
        background-color: micro-site($item, 'secondary');
        border-color: micro-site($item, 'secondary');
        &:hover, &:focus {
          background-color: darken(micro-site($item, 'secondary'), 6.9%);
          border-color: darken(micro-site($item, 'secondary'), 6.9%);
        }
      }
    }
    &.microsite-secondary .button { // change bg color if against same
      .microsite-palette#{$item} & {
        background-color: micro-site($item, 'primary');
        border-color: micro-site($item, 'primary');
        &:hover, &:focus {
          background-color: darken(micro-site($item, 'primary'), 6.9%);
          border-color: darken(micro-site($item, 'primary'), 6.9%);
        }
      }
    }
    &.microsite-tertiary .button { // change bg color if against same
      .microsite-palette#{$item} & {
        background-color: micro-site($item, 'primary');
        border-color: micro-site($item, 'primary');
        &:hover, &:focus {
          background-color: darken(micro-site($item, 'primary'), 6.9%);
          border-color: darken(micro-site($item, 'primary'), 6.9%);
        }
      }
    }
  }

  p:last-child {
    margin-bottom: 0;
  }

}
