&lt;div class=&quot;pane--featured-assets-featured-assets-browser&quot;&gt;
  &lt;div class=&quot;view view--featured-assets&quot;&gt;
    &lt;div class=&quot;flexslider&quot;&gt;
      &lt;ul class=&quot;slides&quot;&gt;
        &lt;li&gt;  
          &lt;div class=&quot;views-field&quot;&gt;        
            &lt;img src=&quot;http://lorempixel.com/1280/720/animals/2/&quot;&gt;
          &lt;/div&gt;
        &lt;/li&gt;
      &lt;/ul&gt;
      &lt;ol class=&quot;flex-control-nav flex-control-paging&quot;&gt;
        &lt;li&gt;&lt;a class=&quot;flex-active&quot;&gt;1&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a class=&quot;&quot;&gt;2&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a class=&quot;&quot;&gt;3&lt;/a&gt;&lt;/li&gt;
      &lt;/ol&gt;
      &lt;ul class=&quot;flex-direction-nav&quot;&gt;
        &lt;li class=&quot;flex-nav-prev&quot;&gt;
          &lt;a href=&quot;#&quot; class=&quot;flex-prev&quot;&gt;&lt;/a&gt;
        &lt;/li&gt;
        &lt;li class=&quot;flex-nav-next&quot;&gt;
          &lt;a href=&quot;#&quot; class=&quot;flex-next&quot;&gt;&lt;/a&gt;
        &lt;/li&gt;
      &lt;/ul&gt;
    &lt;/div&gt;
    &lt;div class=&quot;view__attachment-after&quot;&gt;
      &lt;div class=&quot;view view--featured-assets view--display-id-image_count&quot;&gt;
        &lt;div class=&quot;views-row&quot;&gt;      
          &lt;div class=&quot;views-field views-field-aid&quot;&gt;        
            2
          &lt;/div&gt;  
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;view view--featured-assets view--display-id-video_count&quot;&gt;
        &lt;div class=&quot;views-row&quot;&gt;
          &lt;div class=&quot;views-field views-field-aid&quot;&gt;        
            1
          &lt;/div&gt;  
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;