&lt;div class=&quot;l-panels-detail hero main main-sidebar center box-first box-second box-third bottom-sidebar bottom&quot;&gt;
  &lt;div class=&quot;l-hero region-title&quot;&gt;
    &lt;div class=&quot;layout-constrain&quot;&gt;
      &lt;div class=&quot;pane pane--page-title&quot;&gt;
        &lt;div class=&quot;pane__content&quot;&gt;
          &lt;h1&gt;{{ pageTitle }}&lt;/h1&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;l-wrapper layout-constrain&quot;&gt;
    &lt;div class=&quot;l-main&quot;&gt;
      {{{ body }}}
    &lt;/div&gt;
    &lt;aside class=&quot;l-main-sidebar&quot;&gt;
    &lt;/aside&gt;
  &lt;/div&gt;
  &lt;div class=&quot;l-center layout-constrain&quot;&gt;
  &lt;/div&gt;
  &lt;div class=&quot;l-wrapper region-meta&quot;&gt;
    &lt;div class=&quot;layout-constrain&quot;&gt;
      &lt;div class=&quot;l-box-first&quot;&gt;
        {{&gt; molecules-at-a-glance }}
      &lt;/div&gt;
      &lt;div class=&quot;l-box-second&quot;&gt;
        {{&gt; molecules-innovation-assistance }}
      &lt;/div&gt;
      &lt;div class=&quot;l-box-third&quot;&gt;
        {{&gt; molecules-point-of-contact }}
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;l-wrapper layout-constrain&quot;&gt;
    &lt;div class=&quot;l-bottom&quot;&gt;
    &lt;/div&gt;
    &lt;div class=&quot;l-bottom-sidebar&quot;&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
