<div class="pane pane--homepage-views-personas-pane">
  <h2 class="pane__title">The Exchange connects</h2>
  <div class="pane__content">
    <div class="view view--homepage-views">
      <div class="views-row">
        <article class="card card--button">
          <div class="card__image">
            <a href="#"><img src="http://lorempixel.com/500/300/animals/1/"></a>
          </div>
          <div class="card__content">
            <h1 class="card__title"><a href="#">Innovators</a></h1>
            <div>Great ideas seeking funding, collaborators, and feedback</div>
            <div class="card__button">
              <a href="#">Discover Innovations</a>
            </div>
          </div>
        </article>
      </div>
      <div class="views-row">
        <article class="card card--button">
          <div class="card__image">
            <a href="#"><img src="http://lorempixel.com/500/300/people/1/"></a>
          </div>
          <div class="card__content">
            <h1 class="card__title"><a href="#">Funders</a></h1>
            <div>Find or provide funding for innovations that change lives</div>
            <div class="card__button">
              <a href="#">Find Funding</a>
            </div>
          </div>
        </article>
      </div>
      <div class="views-row">
        <article class="card card--button">
          <div class="card__image">
            <a href="#"><img src="http://lorempixel.com/500/300/food/1/"></a>
          </div>
          <div class="card__content">
            <h1 class="card__title"><a href="#">You</a></h1>
            <div>Join a conversation, influence and change the future</div>
            <div class="card__button">
              <a href="#">Explore Communities</a>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>