<div class="pane pane--homepage-views-staff-picks-pane">
  <div class="pane__content">
    <div class="view view--homepage-views view--card-view-4col">
      <div class="view__header">
        <h1 class="view__header-title">Staff Picks</h1>
        <a href="#" class="view__header-link">View All Innovations</a>
        <a class="button button--highlight button--large button--add view__header-button" href="#">Add Innovation</a> 
      </div>    
      {{# listItems.four }}
        <div class="views-row">
          {{> organisms-innovation-teaser }}
        </div>
      {{/ listItems.four }}
    </div>
  </div>
</div>
       