<div class="pane pane--homepage-views-action-card-panes">
  <h2 class="pane__title">Find your place on the Exchange</h2>  
  <div class="pane__content">
    <div class="view view--homepage-cardflip">
      <div class="views-row">
        <div class="cardflip">
          <div class="cardflip__card">
            <div class="cardflip__a">
              <div class="cardflip__title">Help an Innovator</div>
              <div class="cardflip__image"></div>
            </div>
            <div class="cardflip__b">
              <div class="cardflip__title">Help an Innovator</div>
              <div class="cardflip__description">Discussion on the Exchange await your insight!</div>
              <div class="cardflip__link"><a href="#">View Discussions</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="views-row">
        <div class="cardflip">
          <div class="cardflip__card">
            <div class="cardflip__a">
              <div class="cardflip__title">Help an Innovator</div>
              <div class="cardflip__image"></div>
            </div>
            <div class="cardflip__b">
              <div class="cardflip__title">Help an Innovator</div>
              <div class="cardflip__description">Discussion on the Exchange await your insight!</div>
              <div class="cardflip__link"><a href="#">View Discussions</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="views-row">
        <div class="cardflip">
          <div class="cardflip__card">
            <div class="cardflip__a">
              <div class="cardflip__title">Help an Innovator</div>
              <div class="cardflip__image"></div>
            </div>
            <div class="cardflip__b">
              <div class="cardflip__title">Help an Innovator</div>
              <div class="cardflip__description">Discussion on the Exchange await your insight!</div>
              <div class="cardflip__link"><a href="#">View Discussions</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="views-row">
        <div class="cardflip">
          <div class="cardflip__card">
            <div class="cardflip__a">
              <div class="cardflip__title">Help an Innovator</div>
              <div class="cardflip__image"></div>
            </div>
            <div class="cardflip__b">
              <div class="cardflip__title">Help an Innovator</div>
              <div class="cardflip__description">Discussion on the Exchange await your insight!</div>
              <div class="cardflip__link"><a href="#">View Discussions</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>