<div class="pane"> 
  <h2 class="pane__title">At a Glance</h2>
  <div class="pane__content">
    <div class="view view--at-a-glance">
      <div class="views-row">      
        <div class="views-field has-icon--favorite" title="Favorites">    
          <span class="views-label">Favorites</span>    
          <span class="field-content">1</span>  
        </div>  
        <div class="views-field has-icon--comment" title="Comments">    
          <span class="views-label">Comments</span>    
          <span class="field-content">2</span>  
        </div>  
        <div class="views-field has-icon--amount" title="Amount">    
          <span class="views-label"></span>    
          <span class="field__label">$100,000</span>  
        </div>  
      </div>
    </div>
  </div>
</div> 