<div class="pane pane--innovation-counters-at-a-glance">
  <h2 class="pane__title">At a Glance</h2>
  <div class="pane__content">
    <div class="view view--innovation-counters">
      <div class="views-row">      
        <div class="views-field views-field-comment-count">    
          <span class="views-label views-label-comment-count">Comments</span>    
          <span class="field-content">2</span>  
        </div>  
        <div class="views-field views-field-count">    
          <span class="views-label views-label-count">Favorites</span>    
          <span class="field-content">1</span>  
        </div>  
        <div class="views-field views-field-delta">    
          <span class="views-label views-label-delta">Evidence</span>    
          <span class="field-content">0</span>  
        </div>  
        <div class="views-field views-field-field-innovation-website">        
          <div class="field-content">
            <a href="http://www.google.com">http://www.google.com</a>
          </div>  
        </div>  
      </div>
    </div>
  </div>
</div>