<div class="pane"> 
  <h2 class="pane__title">At a Glance</h2>
  <div class="pane__content">
    <div class="view view--at-a-glance">
      <div class="views-row">      
        <div class="views-field has-icon--comment" title="Comments">    
          <span class="views-label">Comments</span>    
          <span>2</span>  
        </div>  
        <div class="views-field has-icon--favorite" title="Favorites">    
          <span class="views-label">Favorites</span>    
          <span>1</span>  
        </div>  
        <div class="views-field has-icon--member" title="Evidence">    
          <span class="views-label">Evidence</span>    
          <span>0</span>  
        </div>  
        <div class="views-field views-field-field-innovation-website">        
          <div class="field-content">
            <a href="http://www.google.com">http://www.google.com</a>
          </div>  
        </div>  
      </div>
    </div>
  </div>
</div>