<div class="pane">    
  <div class="pane__content">
    <div class="view connect">
      <div class="view__header">
        <h4 class="connect__title">Connect with me on</h4>
      </div>
      <a href="#" class="connect__link connect__link--facebook">Facebook</a>    
      <a href="#" class="connect__link connect__link--twitter">Twitter</a>    
      <a href="#" class="connect__link connect__link--linkedin">Linked In</a>    
    </div>
  </div>
</div>