<div class="pane"> 
  <h2 class="pane__title">Deadline</h2>
  <div class="pane__content">
    <div class="field field--funding-deadline">
      <div class="field-items">
        <div class="field-item even">
          <div class="date-display-single">
            <span class="date-display-single__number">14</span>
          </div> 
        </div>
      </div>
    </div>
  </div>
</div> 