<div class="pane pane--like-this-innovation">
  <h2 class="pane__title">Like This Innovation?</h2>
  <div class="pane__content">
    <p>
      Add it to your favorites.
    </p>
    <div><a href="#" class="button button--favorites">Favorite</a></div>
  </div>
</div>