<div class="pane pane--favorite-this">
  <h2 class="pane__title">Like This Innovation?
    <p>
      Add it to your favorites.
    </p>
  </h2>
  <div class="pane__content">
    
    <div class="flag-favorite"><a href="#">Favorite</a></div>
  </div>
</div>