<div class="pane">
  <div class="view view--featured-assets">
    <div class="flexslider">
      <ul class="slides">
        <li>  
          <div class="views-field">        
            <img src="http://lorempixel.com/1280/720/animals/2/">
          </div>
        </li>
      </ul>
      <ol class="flex-control-nav flex-control-paging">
        <li><a class="flex-active">1</a></li>
        <li><a class="">2</a></li>
        <li><a class="">3</a></li>
      </ol>
      <ul class="flex-direction-nav">
        <li class="flex-nav-prev">
          <a href="#" class="flex-prev"></a>
        </li>
        <li class="flex-nav-next">
          <a href="#" class="flex-next"></a>
        </li>
      </ul>
    </div>
    <div class="view__attachment-after">
      <div class="view view--featured-assets view--display-id-image_count">
        <div class="views-row">      
          <div class="views-field views-field-aid">        
            2
          </div>  
        </div>
      </div>
      <div class="view view--featured-assets view--display-id-video_count">
        <div class="views-row">
          <div class="views-field views-field-aid">        
            1
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>