<div class="pane pane--facetapi__main-title">
  <div class="pane__content">
    <h2>Filter By</h2>
  </div>
</div>

<div class="pane pane--facetapi-6vskkv34eaabxf2xk4ooc36n6iayohwh">
  <h2 class="pane__title">Assistance Sought</h2>
  <div class="pane__content">
    <form>
      <ul class="facetapi-facetapi-links">
        <li><input type="checkbox"><a class="facetapi-inactive" href="#">Help us evaluate our impact (2)</a></li>
        <li><input type="checkbox" checked="checked">Become a partner (2)</li>
        <li><input type="checkbox"><a class="facetapi-inactive" href="#">Give us business planning and strategy advice (1)</a></li>
        <li><input type="checkbox"><a class="facetapi-inactive" href="#">Help us with distribution and supply chains (2)</a></li>
        <li><input type="checkbox"><a class="facetapi-inactive" href="#">Provide data-related expertise (10)</a></li>
        <li><input type="checkbox"><a class="facetapi-inactive" href="#">Share your thoughts (35)</a></li>
        <li><input type="checkbox"><a class="facetapi-inactive" href="#">Support our Government relations, policy and advocacy efforts (102)</a></li>
      </ul>  
    </form>
  </div>
</div>

<div class="pane pane--facetapi-bcpjy27ncxbh4nkthoey1wsc0gxiyvjh">
  <h2 class="pane__title">Topics</h2>
  <div class="pane__content">
    <form>
      <ul class="facetapi-facetapi-links">
        <li><input type="checkbox"><a class="facetapi-inactive" href="#">Ebola (99)</a></li>
        <li><input type="checkbox"><a class="facetapi-inactive" href="#">Supply Chain (2)</a></li>
      </ul>  
    </form>
  </div>
</div>

<div class="pane pane--facetapi-jworowujcp6z1xdy0q08kjjiga7o50ot">
  <h2 class="pane__title">Stage of Innovation</h2>    
  <div class="pane__content">
    <form>
      <ul class="facetapi-facetapi-links">
        <li><input type="checkbox"><a class="facetapi-inactive" href="#">Stage 3: Initial Piloting (6)</a></li>
        <li><input type="checkbox"><a class="facetapi-inactive" href="#">Stage 4: Early Adoption/Distribution (8)</a></li>
        <li><input type="checkbox"><a class="facetapi-inactive" href="#">Stage 2:  Research &amp; Development (28)</a></li>
      </ul>  
    </form>
  </div>
</div>