<div class="pane pane--funded-by-funded-by">
  <h2 class="pane__title">Funded By</h2>
  <div class="pane__content">
    <div class="view view--funded-by">
      <div class="layout-grid layout-grid--cols-3 layout-grid--funded-by">
        <div class="layout-grid__row layout-grid__row--1 layout-grid__row--first layout-grid__row--last profile-thumb">
          <div class="layout-grid__column layout-grid__column--1 layout-grid__column--first">
            <div class="views-field views-field-field-org-logo profile-thumb__image">        
              <div class="asset-wrapper asset aid-4 asset-image">
                <div class="asset asset--image asset--image-teaser view-mode-image_teaser">
                  <div class="field field--asset-image">
                    <a href="#"><img alt="" src="../../images-patternlab/weylandyutani-78-78.jpg"></a>
                  </div>
                </div>
              </div>
            </div> 
            <div class="views-field views-field-title profile-thumb__name">        
              <a href="/node/5">Weyland-Yutani Corporation</a> 
            </div>        
          </div>
          <div class="layout-grid__column layout-grid__column--2 profile-thumb">
            <div class="views-field views-field-field-org-logo profile-thumb__image">        
              <div class="asset-wrapper asset aid-4 asset-image">
                <div class="asset asset--image asset--image-teaser view-mode-image_teaser">
                  <div class="field field--asset-image">
                    <a href="#"><img alt="" src="../../images-patternlab/lospollos-78-78.jpg"></a>
                  </div>
                </div>
              </div>
            </div> 
            <div class="views-field views-field-title profile-thumb__name">        
              <a href="/node/5">Los Pollos Hermanos</a> 
            </div>        
          </div>
          <div class="layout-grid__column layout-grid__column--3 layout-grid__column--last profile-thumb">
            <div class="views-field views-field-field-org-logo profile-thumb__image">        
              <div class="asset-wrapper asset aid-4 asset-image">
                <div class="asset asset--image asset--image-teaser view-mode-image_teaser">
                  <div class="field field--asset-image">
                    <a href="#"><img alt="" src="../../images-patternlab/tyrell-78-78.jpg"></a>
                  </div>
                </div>
              </div>
            </div> 
            <div class="views-field views-field-title profile-thumb__name">        
              <a href="/node/5">Tyrell Corporation</a> 
            </div>        
          </div>
        </div>
      </div>
    </div>
  </div>
</div>