<div class="pane"> 
  <h2 class="pane__title">How to Apply</h2>
  <div class="pane__content">
    <div class="view view--how-to-apply">
        <a class="button button--edit button--highlight">
          Apply For Opportunity    
        </a>
    </div>
  </div>
</div>  