<div class="pane pane--nodefield-innovation-poc">
  <h2 class="pane__title">Point of Contact</h2>  
  <div class="pane__content">
    <div class="field field--innovation-poc">
      <article role="article" class="layout-slat user-profile view-mode-user_teaser_summary">
        <div class="layout-slat__media"> 
          <div class="field field--user-photo">
            <a href="/user/9"><img width="100" height="86" alt="" src="../../images-patternlab/sherlock-78-78.jpg" typeof="foaf:Image"></a>
          </div>
          <div class="field field--user-full-name">
            <a href="/user/9">Sherlock Holmes</a>  
          </div>
        </div>
        <div class="layout-slat__content">
          <div class="field field--user-summary">
            How often have I said to you that when you have eliminated the impossible, whatever remains, however improbable, must be the truth?
          </div>
        </div>
      </article>
    </div>
  </div>
</div> 
 