<div class="pane pane--nodefield-innovation-poc">
  <h2 class="pane__title">Point of Contact</h2>  
  <div class="pane__content">
    <div class="field field--innovation-poc">
      <article role="article" class="layout-slat user-profile profile-thumb view-mode-user_teaser_summary">
        <div class="layout-slat__media"> 
          <div class="field field--user-photo profile-thumb__image--rounded">
            <a href="#"><img alt="" src="../../images-patternlab/sherlock-78-78.jpg"></a>
          </div>
          <div class="field field--user-full-name profile-thumb__name">
            <a href="#">Sherlock Holmes</a>  
          </div>
        </div>
        <div class="layout-slat__content">
          <div class="field field--user-summary profile-thumb__summary">
            How often have I said to you that when you have eliminated the impossible, whatever remains, however improbable, must be the truth?
          </div>
        </div>
      </article>
    </div>
  </div>
</div> 
 