<div class="pane">
  <h2 class="pane__title">Recently Posted</h2>
  <div class="pane__content">
    <div class="view view--recently-posted"> 
      <div class="views-row">
        <img src="http://lorempixel.com/250/150/animals/1/" alt="image 5:3">
        <h5>
          <a href="#">Funding Op</a>
        </h5>  
        <div class="field field--post-date">3/16/2015</div>  
      </div>
      <div class="views-row">
        <img src="http://lorempixel.com/250/150/animals/2/" alt="image 5:3">
        <h5>
          <a href="#">Innovation Name</a>
        </h5>
        <div class="field field--post-date">3/16/2015</div>  
      </div>
      <div class="views-row">
        <img src="http://lorempixel.com/250/150/animals/3/" alt="image 5:3">
        <h5>
          <a href="#">Innovation Name</a>
        </h5> 
        <div class="field field--post-date">3/16/2015</div>   
      </div>
      <div class="views-row">
        <img src="http://lorempixel.com/250/150/animals/4/" alt="image 5:3">
        <h5>
          <a href="#">Funding Op</a>
        </h5> 
        <div class="field field--post-date">3/16/2015</div>   
      </div>
    </div>
  </div>
</div>
  
