<div class="pane">
  <h2 class="pane__title">Recently Posted</h2>
  <div class="pane__content">
    <div class="view view--recently-posted"> 
      <div class="layout-grid layout-grid--cols-2 layout-grid--recently-posted">
        <div class="layout-grid__row">
          <div class="layout-grid__column">
            <div class="node node--teaser-date">
              <img src="http://lorempixel.com/250/150/animals/1/" alt="image 5:3">
              <h5>
                <a href="#">Funding Opp</a>
              </h5>  
              <div class="field field--post-date">3/16/2015</div> 
            </div>
          </div> 
          <div class="layout-grid__column">
            <div class="node node--teaser-date">
              <img src="http://lorempixel.com/250/150/animals/2/" alt="image 5:3">
              <h5>
                <a href="#">Innovation Name</a>
              </h5>  
              <div class="field field--post-date">3/16/2015</div> 
            </div>
          </div> 
        </div>
        <div class="layout-grid__row">
          <div class="layout-grid__column">
            <div class="node node--teaser-date">
              <img src="http://lorempixel.com/250/150/animals/3/" alt="image 5:3">
              <h5>
                <a href="#">Resource Title</a>
              </h5>  
              <div class="field field--post-date">3/16/2015</div> 
            </div>
          </div> 
          <div class="layout-grid__column">
            <div class="node node--teaser-date">
              <img src="http://lorempixel.com/250/150/animals/4/" alt="image 5:3">
              <h5>
                <a href="#">Event Title</a>
              </h5>  
              <div class="field field--post-date">3/16/2015</div> 
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
</div>

  
