<div class="pane pane--quicktabs-user-profile-tabs">
  <div class="pane__content">
    <div class="quicktabs-wrapper">
      <ul class="quicktabs-tabs">
        <li class="active"><a class="active" href="#">Overview</a></li>
        <li><a class="active" href="#">Resources</a></li>
        <li><a class="active" href="#">Innovations</a></li>
        <li><a class="active" href="#">Connections</a></li>
      </ul>
      <div class="quicktabs_main">
        <div class="quicktabs-tabpage">
          <div class="block block--panels-mini-user-overview">
            <div class="panel-display clearfix">
              <div class="panel-panel panel-col">
                <div>
                  <div class="pane pane--userfield-user-summary">
                    <h2 class="pane__title">About Me</h2>
                    <div class="pane__content">
                      <div class="field field--user-summary">
                        Vivamus vel lorem porta, faucibus elit at, lacinia urna. Nullam porttitor posuere tellus, et tristique ipsum efficitur eget. Sed erat dui, convallis a eros vel, commodo sagittis sem. Aenean eget metus ut quam viverra egestas. Pellentesque quis mauris ut justo dignissim tempus id sit amet est. Duis vulputate tellus nec imperdiet lacinia. Donec non ipsum nibh. Maecenas non tincidunt dui, eget gravida lacus. Donec finibus viverra consequat. Vestibulum ultrices, nisl vitae sollicitudin porta, justo ligula semper lectus, luctus venenatis neque arcu in quam. Nulla ac eros sapien. Aenean venenatis auctor vehicula. Duis cursus erat eu dapibus auctor. Proin placerat, lacus in volutpat eleifend, odio tortor efficitur turpis, ac dignissim orci nisi ut mi. Mauris neque felis, rhoncus auctor tortor ut, tempor blandit turpis.
                      </div>
                    </div>
                  </div>
                  <div class="pane pane--expertise-expertise-pane">
                    <h2 class="pane__title">Expertise</h2>
                    <div class="pane__content">
                      <div class="view view--expertise">
                        <div class="views-row">
                          <div class="views-field views-field-name">Skill 1</div>  
                        </div>
                        <div class="views-row">
                          <div class="views-field views-field-name">Skill 2</div>  
                        </div>
                        <div class="views-row">
                          <div class="views-field views-field-name">User Skill</div>  
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="pane pane--areas-of-interest-sectors">
                    <h2 class="pane__title">Sectors  of Interest</h2>
                      <div class="pane__content">
                        <div class="view view--areas-of-interest">
                          
                          
                          
                          
                          
                          
                          
                          <div class="views-row views-row-1 views-row-odd views-row-first">
                            <div class="views-field views-field-name">        <span class="field-content"><a href="/sector/agribusiness-smse">Agribusiness (SMSE)</a></span>  </div>  </div>
                            <div class="views-row views-row-2 views-row-even">
                              <div class="views-field views-field-name">        <span class="field-content"><a href="/sector/agriculture-ict-technology">Agriculture ICT &amp; Technology</a></span>  </div>  </div>
                              <div class="views-row views-row-3 views-row-odd views-row-last">
                                <div class="views-field views-field-name">        <span class="field-content"><a href="/sector/irrigation">Irrigation</a></span>  </div>  </div>
                                
                                
                                
                                
                                
                                
                              </div>
                            </div>
                            
                            
                            
                          </div>
                          <div class="contextual-links-region pane pane--areas-of-interest-topics">
                            <div class="contextual-links-wrapper contextual-links-processed"><a href="#" class="contextual-links-trigger">Configure</a><ul class="contextual-links nav"><li class="nav__item nav__item--views-ui-edit"><a class="nav__link" href="/admin/structure/views/view/areas_of_interest/edit/topics?destination=user/17">Edit view</a></li>
                          </ul></div>
                          <h2 class="pane__title">Topics of Interest</h2>
                          
                          <div class="pane__content">
                            <div class="view view--areas-of-interest view--id-areas_of_interest view--display-id-topics view--dom-id-9451b4d225009ac1c17a8f71042e5914 view-areas-of-interest view-id-areas_of_interest view-display-id-topics view-dom-id-9451b4d225009ac1c17a8f71042e5914">
                              
                              
                              
                              
                              
                              
                              
                              <div class="views-row views-row-1 views-row-odd views-row-first">
                                <div class="views-field views-field-name">        <span class="field-content"><a href="/topic/communications-and-media">Communications and Media</a></span>  </div>  </div>
                                <div class="views-row views-row-2 views-row-even">
                                  <div class="views-field views-field-name">        <span class="field-content"><a href="/topic/digital-inclusion-connetivity">Digital Inclusion &amp; Connetivity</a></span>  </div>  </div>
                                  <div class="views-row views-row-3 views-row-odd views-row-last">
                                    <div class="views-field views-field-name">        <span class="field-content"><a href="/topic/ebola">Ebola</a></span>  </div>  </div>
                                    
                                    
                                    
                                    
                                    
                                    
                                  </div>
                                </div>
                                
                                
                                
                              </div>
                              <div class="contextual-links-region pane pane--areas-of-interest-other-interests">
                                <div class="contextual-links-wrapper contextual-links-processed"><a href="#" class="contextual-links-trigger">Configure</a><ul class="contextual-links nav"><li class="nav__item nav__item--views-ui-edit"><a class="nav__link" href="/admin/structure/views/view/areas_of_interest/edit/other_interests?destination=user/17">Edit view</a></li>
                              </ul></div>
                              <h2 class="pane__title">Other Interests</h2>
                              
                              <div class="pane__content">
                                <div class="view view--areas-of-interest view--id-areas_of_interest view--display-id-other_interests view--dom-id-b3151584f86dedb041b45f3821117b91 view-areas-of-interest view-id-areas_of_interest view-display-id-other_interests view-dom-id-b3151584f86dedb041b45f3821117b91">
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  <div class="views-row views-row-1 views-row-odd views-row-first">
                                    <div class="views-field views-field-name">        <span class="field-content">Term 1</span>  </div>  </div>
                                    <div class="views-row views-row-2 views-row-even">
                                      <div class="views-field views-field-name">        <span class="field-content">Term 2</span>  </div>  </div>
                                      <div class="views-row views-row-3 views-row-odd views-row-last">
                                        <div class="views-field views-field-name">        <span class="field-content">Term 3</span>  </div>  </div>
                                        
                                        
                                        
                                        
                                        
                                        
                                      </div>
                                    </div>
                                    
                                    
                                    
                                  </div>
                                  <div class="contextual-links-region pane pane--user-programs-programs">
                                    <div class="contextual-links-wrapper contextual-links-processed"><a href="#" class="contextual-links-trigger">Configure</a><ul class="contextual-links nav"><li class="nav__item nav__item--views-ui-edit"><a class="nav__link" href="/admin/structure/views/view/user_programs/edit/programs?destination=user/17">Edit view</a></li>
                                  </ul></div>
                                  <h2 class="pane__title">Programs</h2>
                                  
                                  <div class="pane__content">
                                    <div class="view view--user-programs view--id-user_programs view--display-id-programs view--dom-id-539e128dc88bc29129d298f19c6591ba view-user-programs view-id-user_programs view-display-id-programs view-dom-id-539e128dc88bc29129d298f19c6591ba">
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      <div class="views-row views-row-1 views-row-odd views-row-first">
                                        <div class="views-field views-field-title">        <span class="field-content"><a href="/node/15">Test Program 1</a></span>  </div>  </div>
                                        <div class="views-row views-row-2 views-row-even views-row-last">
                                          <div class="views-field views-field-title">        <span class="field-content"><a href="/node/15">Test Program 1</a></span>  </div>  </div>
                                          
                                          
                                          
                                          
                                          
                                          
                                        </div>
                                      </div>
                                      
                                      
                                      
                                    </div>
                                    <div class="contextual-links-region pane pane--user-organizations-organizations">
                                      <div class="contextual-links-wrapper contextual-links-processed"><a href="#" class="contextual-links-trigger">Configure</a><ul class="contextual-links nav"><li class="nav__item nav__item--views-ui-edit"><a class="nav__link" href="/admin/structure/views/view/user_organizations/edit/organizations?destination=user/17">Edit view</a></li>
                                    </ul></div>
                                    <h2 class="pane__title">Organizations</h2>
                                    
                                    <div class="pane__content">
                                      <div class="view view--user-organizations view--id-user_organizations view--display-id-organizations view--dom-id-65ac7cf91d3dfb9a2ee53b7aa2422c73 view-user-organizations view-id-user_organizations view-display-id-organizations view-dom-id-65ac7cf91d3dfb9a2ee53b7aa2422c73">
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        <div class="views-row views-row-1 views-row-odd views-row-first">
                                          <div class="views-field views-field-title">        <span class="field-content"><a href="/node/11">Bill and Melinda Gates Foundation</a></span>  </div>  </div>
                                          <div class="views-row views-row-2 views-row-even">
                                            <div class="views-field views-field-title">        <span class="field-content"><a href="/node/14">Forum One</a></span>  </div>  </div>
                                            <div class="views-row views-row-3 views-row-odd views-row-last">
                                              <div class="views-field views-field-title">        <span class="field-content"><a href="/node/8">Global Development Lab</a></span>  </div>  </div>
                                              
                                              
                                              
                                              
                                              
                                              
                                            </div>
                                          </div>
                                          
                                          
                                          
                                        </div>
                                        <div class="contextual-links-region pane pane--user-regions-regions">
                                          <div class="contextual-links-wrapper contextual-links-processed"><a href="#" class="contextual-links-trigger">Configure</a><ul class="contextual-links nav"><li class="nav__item nav__item--views-ui-edit"><a class="nav__link" href="/admin/structure/views/view/user_regions/edit/regions?destination=user/17">Edit view</a></li>
                                        </ul></div>
                                        <h2 class="pane__title">Regions</h2>
                                        
                                        <div class="pane__content">
                                          <div class="view view--user-regions view--id-user_regions view--display-id-regions view--dom-id-8f2763bcb0de8fc9f50ab8a5d8458a02 view-user-regions view-id-user_regions view-display-id-regions view-dom-id-8f2763bcb0de8fc9f50ab8a5d8458a02">
                                            
                                            
                                            
                                            
                                            
                                            
                                            
                                            <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
                                              <div class="views-field views-field-name">        <span class="field-content"><a href="/region/north-america">North America</a></span>  </div>  </div>
                                              
                                              
                                              
                                              
                                              
                                              
                                            </div>
                                          </div>
                                          
                                          
                                          
                                        </div>
                                        <div class="pane-user-field-user-education pane pane--userfield-user-education">
                                          
                                          <h2 class="pane__title">Education</h2>
                                          
                                          <div class="pane__content">
                                            <div class="field field--user-education"><div class="field-items"><div class="field-item even">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                              Sed sagittis nunc at neque faucibus iaculis.
                                              Nulla et urna scelerisque, vehicula odio ac, pharetra leo.
                                            Sed non erat vel dolor laoreet blandit.</div></div></div>  </div>
                                            
                                            
                                            
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>