<div class="pane pane--quicktabs-user-profile-tabs">
  <div class="pane__content">
    <div class="quicktabs-wrapper">
      <ul class="quicktabs-tabs quicktabs-style-nostyle">
        <li class="active"><a class="active" href="#">Overview</a></li>
        <li><a href="#">Resources</a></li>
        <li><a href="#">Innovations</a></li>
        <li><a href="#">Connections</a></li>
      </ul>
      <div class="quicktabs_main">
        <div class="quicktabs-tabpage">
          <div class="block block--panels-mini-user-overview">
            <div class="panel-display clearfix">
              <div class="panel-panel panel-col">
                <div>
                  <div class="pane pane--user-field">
                    <h2 class="pane__title">About Me</h2>
                    <div class="pane__content">
                      <div class="field field--user-summary">
                        Vivamus vel lorem porta, faucibus elit at, lacinia urna. Nullam porttitor posuere tellus, et tristique ipsum efficitur eget. Sed erat dui, convallis a eros vel, commodo sagittis sem. Aenean eget metus ut quam viverra egestas. Pellentesque quis mauris ut justo dignissim tempus id sit amet est. Duis vulputate tellus nec imperdiet lacinia. Donec non ipsum nibh. Maecenas non tincidunt dui, eget gravida lacus. Donec finibus viverra consequat. Vestibulum ultrices, nisl vitae sollicitudin porta, justo ligula semper lectus, luctus venenatis neque arcu in quam. Nulla ac eros sapien. Aenean venenatis auctor vehicula. Duis cursus erat eu dapibus auctor. Proin placerat, lacus in volutpat eleifend, odio tortor efficitur turpis, ac dignissim orci nisi ut mi. Mauris neque felis, rhoncus auctor tortor ut, tempor blandit turpis.
                      </div>
                    </div>
                  </div>
                  <div class="pane pane--user-field">
                    <h2 class="pane__title">Expertise</h2>
                    <div class="pane__content">
                      <div class="view view--simple-list">
                        <div class="views-row">
                          Skill 1
                        </div>
                        <div class="views-row">
                          Skill 2
                        </div>
                        <div class="views-row">
                          User Skill
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="pane pane--user-field">
                    <h2 class="pane__title">Sectors  of Interest</h2>
                    <div class="pane__content">
                      <div class="view view--simple-list">
                        <div class="views-row">
                          <a href="/sector/agribusiness-smse">Agribusiness (SMSE)</a>
                        </div>
                        <div class="views-row">
                          <a href="/sector/agriculture-ict-technology">Agriculture ICT &amp; Technology</a>
                        </div>
                        <div class="views-row">
                          <a href="/sector/irrigation">Irrigation</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="pane pane--user-field">
                    <h2 class="pane__title">Topics of Interest</h2>
                    <div class="pane__content">
                      <div class="view view--simple-list">
                        <div class="views-row">
                          <a href="/topic/communications-and-media">Communications and Media</a>
                        </div>
                        <div class="views-row">
                          <a href="/topic/digital-inclusion-connetivity">Digital Inclusion &amp; Connetivity</a>
                        </div>
                        <div class="views-row">
                          <a href="/topic/ebola">Ebola</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="pane pane--user-field">
                    <h2 class="pane__title">Education</h2>
                    <div class="pane__content">
                      <div class="field">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Sed sagittis nunc at neque faucibus iaculis.
                        Nulla et urna scelerisque, vehicula odio ac, pharetra leo.
                        Sed non erat vel dolor laoreet blandit.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>