<div class="pane pane--userfield-user-motto">
  <h2 class="pane__title">My Motto</h2>
  <div class="pane__content">
    <div class="field field--user-motto">
      <div class="field-items">
        <div class="field-item even">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mi quam, lobortis id mi at, accumsan tempor erat. Donec a pellentesque lacus, sollicitudin pharetra metus. Nullam sed ipsum velit. Proin sed euismod lorem. Aliquam at blandit tellus, in laci.
        </div>
      </div>
    </div>  
  </div> 
</div>