<div class="pane pane--user">
  <div class="pane__content">
    <div class="ds-2col user-profile view-mode-full clearfix">
      <div class="group-left">
        <div class="field field--user-photo">
          <div class="field-items">
            <div class="field-item even"><img width="220" height="146" alt="" src="http://dev.giexchange.forumone.com/sites/default/files/styles/medium/public/random/stock_photo_06.jpg?itok=Jc5p-1S_"></div>
          </div>
        </div>  
      </div>
      <div class="group-right">
        <div class="field field--user-full-name">
          <div class="field-items">
            <div class="field-item even">Mike Drayer</div>
          </div>
        </div>
        <div class="field field--user-title">
          <div class="field-items">
            <div class="field-item even">Associate Web Developer</div>
          </div>
        </div>
        <div class="field field--user-address">
          <div class="field-items">
            <div class="field-item even">Alexandria, VA, United States</div>
          </div>
        </div>
        <div class="field field--user-member-since">
          <div class="field-items">
            <div class="field-item even">Member since Mar 18, 2015</div>
          </div>
        </div>
        <div class="field field--user-type">
          <div class="field-items">
            <div class="field-item even">
              <a href="/user-type/implementer">Implementer</a>, <a href="/user-type/researcher">Researcher</a>
            </div>
          </div>
        </div>  
        <div class="flag-outer flag-outer-follow">
          <span class="flag-wrapper flag-follow flag-follow-17">
            <a rel="nofollow" class="flag flag-action flag-link-toggle flag-processed" title="Follow this user" href="/flag/flag/follow/17?destination=user/17&amp;token=cROD-rZOuuLCEeGfFyY0MRu1KFb2zg_SKoMlZMH2SUg">Follow</a><span class="flag-throbber">&nbsp;</span>
          </span>
        </div>
        <div class="field field--user-email">
          <div class="field-items">
            <div class="field-item even">
              <a class="button" href="mailto:mdrayer@forumone.com">Send Note</a>
            </div>
          </div>
        </div>  
      </div>
    </div>
  </div>  
</div>