&lt;div class=&quot;block block-menu-menu-sub-footer-menu block--menu block--menu-menu-sub-footer-menu&quot;&gt;      
  &lt;ul class=&quot;nav&quot;&gt;
    &lt;li class=&quot;nav__item&quot;&gt;&lt;a class=&quot;nav__link&quot; href=&quot;#&quot;&gt;Credits&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;nav__item&quot;&gt;&lt;a class=&quot;nav__link&quot; href=&quot;#&quot;&gt;Privacy Policy&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;nav__item&quot;&gt;&lt;a class=&quot;nav__link&quot; href=&quot;#&quot;&gt;Terms of Use&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;  
&lt;/div&gt;