/* line 1, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu {
  background-color: #000;
}

/* line 5, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu:before,
.tb-megamenu:after {
  content: "";
  display: table;
  line-height: 0;
}

/* line 10, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu:after {
  clear: both;
}

/* line 13, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .nav {
  margin: 0;
}

/* line 16, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .nav > li {
  float: left;
  margin-left: 0;
}

/* line 20, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .nav > li > a {
  border-right: 1px solid #222;
  border-top: 0;
  color: #fff;
  font-weight: bold;
  padding: 15px 20px;
  text-shadow: none;
}

/* line 29, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .nav > li > a:focus,
.tb-megamenu .nav > li > a:hover {
  background-color: #fff;
  color: #e54e4b;
  text-decoration: none;
  text-shadow: none;
  outline: none;
}

/* line 38, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .nav > .active > a,
.tb-megamenu .nav > .active > a:hover,
.tb-megamenu .nav > .active > a:focus {
  background-color: #e54e4b;
  color: #fff;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
}

/* line 47, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .btn-navbar {
  display: none;
  float: left;
  padding: 10px;
  margin: 0;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #e8e8e8;
  *background-color: #d9d9d9;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
}

/* line 65, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .btn-navbar:hover,
.tb-megamenu .btn-navbar:focus,
.tb-megamenu .btn-navbar:active,
.tb-megamenu .btn-navbar.active,
.tb-megamenu .btn-navbar.disabled,
.tb-megamenu .btn-navbar[disabled] {
  color: #fff;
  background-color: #d9d9d9;
  *background-color: #cccccc;
}

/* line 71, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .btn-navbar:active,
.tb-megamenu .btn-navbar.active {
  background-color: #bfbfbf \9;
}

/* line 75, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .btn-navbar [class^="icon-"],
.tb-megamenu .btn-navbar [class^=" icon-"] {
  color: #666;
  text-shadow: none;
}

/* line 79, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .dropdown .caret {
  margin-left: 5px;
  margin-top: 9px;
}

/* line 83, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .dropdown-menu {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* line 88, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .dropdown-menu li > a {
  border-top: 1px solid #eee;
  padding: 5px 20px;
  text-shadow: none;
}

/* line 93, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .dropdown-menu li:first-child > a {
  border-top: 0;
}

/* line 97, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .mega-nav > li:first-child > a,
.tb-megamenu .dropdown-menu .mega-nav > li:first-child > a {
  margin-top: 0;
  padding-top: 0;
}

/* line 101, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .nav > li > .dropdown-menu:before {
  display: none;
}

/* line 104, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .nav > li > .dropdown-menu:after {
  display: none;
}

/* line 108, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .dropdown-menu .disabled > a,
.tb-megamenu .dropdown-menu .disabled > a:hover {
  color: #999;
}

/* line 111, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .dropdown-menu .disabled > a:hover {
  background-color: transparent;
}

/* line 114, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .nav li.dropdown.open > .dropdown-toggle {
  background-color: #fff;
  color: #e54e4b;
}

/* line 119, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .nav li.dropdown.active > .dropdown-toggle,
.tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #e54e4b;
  color: #fff;
}

/* line 123, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .mega-inner {
  padding: 10px;
}

/* line 126, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .row-fluid + .row-fluid {
  border-top: 1px solid #ddd;
}

/* line 130, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .mega-nav > li a,
.tb-megamenu .dropdown-menu .mega-nav > li a {
  padding: 5px 0;
}

/* line 133, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .mega-nav .dropdown-submenu > a::after {
  margin-right: 0;
}

/* line 136, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .tb-block .block-title {
  font-size: 12px;
  color: #333;
  display: block;
  line-height: 20px;
  margin: 0 0 15px;
  text-transform: uppercase;
}

/* line 145, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .tb-block ul,
.tb-megamenu .tb-block .nav {
  margin: 0;
}

/* line 149, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .tb-block ul li,
.tb-megamenu .tb-block .nav li {
  background: none;
  list-style: disc;
  display: list-item;
  float: none;
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 159, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .tb-block ul li a,
.tb-megamenu .tb-block .nav li a {
  display: inline;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  background: none;
  font: inherit;
  white-space: normal;
}

/* line 174, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .tb-block ul li a:hover,
.tb-megamenu .tb-block ul li a:focus,
.tb-megamenu .tb-block ul li a:active,
.tb-megamenu .tb-block .nav li a:hover,
.tb-megamenu .tb-block .nav li a:focus,
.tb-megamenu .tb-block .nav li a:active {
  background: none;
  font: inherit;
}

/* line 178, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .mega-caption {
  color: #999;
  font-size: 12px;
  margin-top: 3px;
  font-weight: normal;
}

/* line 186, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid #000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
}

/* line 196, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .dropdown .caret {
  margin-top: 8px;
  margin-left: 2px;
}

/* line 200, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 3px solid #e65855;
  border-top: none;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  padding: 0;
  margin: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

/* line 228, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

/* line 232, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .dropdown-menu .divider {
  *width: 100%;
  height: 1px;
  margin: 9px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #fff;
}

/* line 241, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .dropdown-menu li > a {
  clear: both;
  color: #333;
  display: block;
  line-height: 20px;
  font-weight: normal;
  padding: 3px 20px;
  text-shadow: none;
  white-space: nowrap;
}

/* line 253, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .dropdown-menu li > a:hover,
.tb-megamenu .dropdown-menu li > a:focus,
.tb-megamenu .dropdown-submenu:hover > a {
  background-color: inherit;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #e54e4b;
  text-decoration: none;
}

/* line 261, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .dropdown-menu .active > a,
.tb-megamenu .dropdown-menu .active > a:hover {
  color: #eee;
  text-decoration: none;
  outline: 0;
  background-color: #e54e4b;
}

/* line 268, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .dropdown-menu .disabled > a,
.tb-megamenu .dropdown-menu .disabled > a:hover {
  color: #999;
}

/* line 271, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .dropdown-menu .disabled > a:hover {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  cursor: default;
}

/* line 277, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .open {
  *z-index: 1000;
}

/* line 280, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .open > .dropdown-menu {
  display: block;
}

/* line 285, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .nav li.dropdown.active > .dropdown-toggle,
.tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle,
.tb-megamenu .nav > li.dropdown.open.active > a:hover {
  background-color: #e54e4b;
  border-color: #444;
  color: #eee;
}

/* line 290, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #666;
  border-bottom-color: #666;
  margin-top: 8px;
}

/* line 295, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .nav li.dropdown > .dropdown-toggle:hover .caret {
  border-top-color: #eee;
  border-bottom-color: #eee;
}

/* line 301, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .nav li.dropdown.open > .dropdown-toggle .caret,
.tb-megamenu .nav li.dropdown.active > .dropdown-toggle .caret,
.tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #eee;
  border-bottom-color: #eee;
}

/* line 305, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}

/* line 310, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .dropup .caret,
.tb-megamenu .navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px solid #000;
  content: "";
}

/* line 316, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .dropup .dropdown-menu,
.tb-megamenu .navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px;
}

/* line 321, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .dropdown-submenu {
  position: relative;
}

/* line 324, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

/* line 333, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

/* line 336, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .touch .dropdown-submenu:hover > .dropdown-menu {
  display: none;
}

/* line 339, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .touch .dropdown-submenu.open > .dropdown-menu {
  display: block;
}

/* line 342, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .dropup .dropdown-submenu > .dropdown-menu {
  top: auto;
  bottom: 0;
  margin-top: 0;
  margin-bottom: -2px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

/* line 351, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px;
}

/* line 364, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .dropdown-submenu:hover > a:after {
  border-left-color: #eee;
}

/* line 367, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .dropdown-submenu.pull-left {
  float: none;
}

/* line 370, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

/* line 377, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .dropdown .dropdown-menu .nav-header {
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 980px) and (max-width: 1199px) {
  /* line 383, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .row {
    margin-left: -40px;
    *zoom: 1;
  }

  /* line 388, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .row:before,
  .tb-megamenu .row:after {
    display: table;
    content: "";
    line-height: 0;
  }

  /* line 393, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .row:after {
    clear: both;
  }

  /* line 396, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu [class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 40px;
  }

  /* line 404, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .container,
  .tb-megamenu .navbar-static-top .container,
  .tb-megamenu .navbar-fixed-top .container,
  .tb-megamenu .navbar-fixed-bottom .container {
    width: 932px;
  }

  /* line 407, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .span12 {
    width: 932px;
  }

  /* line 410, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .span11 {
    width: 851px;
  }

  /* line 413, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .span10 {
    width: 770px;
  }

  /* line 416, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .span9 {
    width: 689px;
  }

  /* line 419, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .span8 {
    width: 608px;
  }

  /* line 422, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .span7 {
    width: 527px;
  }

  /* line 425, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .span6 {
    width: 446px;
  }

  /* line 428, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .span5 {
    width: 365px;
  }

  /* line 431, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .span4 {
    width: 284px;
  }

  /* line 434, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .span3 {
    width: 203px;
  }

  /* line 437, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .span2 {
    width: 122px;
  }

  /* line 440, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .span1 {
    width: 41px;
  }

  /* line 443, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .offset12 {
    margin-left: 1012px;
  }

  /* line 446, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .offset11 {
    margin-left: 931px;
  }

  /* line 449, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .offset10 {
    margin-left: 850px;
  }

  /* line 452, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .offset9 {
    margin-left: 769px;
  }

  /* line 455, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .offset8 {
    margin-left: 688px;
  }

  /* line 458, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .offset7 {
    margin-left: 607px;
  }

  /* line 461, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .offset6 {
    margin-left: 526px;
  }

  /* line 464, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .offset5 {
    margin-left: 445px;
  }

  /* line 467, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .offset4 {
    margin-left: 364px;
  }

  /* line 470, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .offset3 {
    margin-left: 283px;
  }

  /* line 473, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .offset2 {
    margin-left: 202px;
  }

  /* line 476, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .offset1 {
    margin-left: 121px;
  }

  /* line 479, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .row-fluid {
    width: 100%;
    *zoom: 1;
  }

  /* line 484, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .row-fluid:before,
  .tb-megamenu .row-fluid:after {
    display: table;
    content: "";
    line-height: 0;
  }

  /* line 489, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .row-fluid:after {
    clear: both;
  }

  /* line 492, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .row-fluid [class*="span"] {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 4.2918454935622%;
    *margin-left: 4.2381974248927%;
  }

  /* line 503, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .row-fluid [class*="span"]:first-child {
    margin-left: 0;
  }

  /* line 506, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .row-fluid .controls-row [class*="span"] + [class*="span"] {
    margin-left: 4.2918454935622%;
  }

  /* line 509, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .row-fluid .span12 {
    width: 100%;
    *width: 99.94635193133%;
  }

  /* line 513, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .row-fluid .span11 {
    width: 91.309012875536%;
    *width: 91.255364806867%;
  }

  /* line 517, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .row-fluid .span10 {
    width: 82.618025751073%;
    *width: 82.564377682403%;
  }

  /* line 521, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .row-fluid .span9 {
    width: 73.927038626609%;
    *width: 73.87339055794%;
  }

  /* line 525, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .row-fluid .span8 {
    width: 65.236051502146%;
    *width: 65.182403433476%;
  }

  /* line 529, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .row-fluid .span7 {
    width: 56.545064377682%;
    *width: 56.491416309013%;
  }

  /* line 533, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .row-fluid .span6 {
    width: 47.854077253219%;
    *width: 47.800429184549%;
  }

  /* line 537, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .row-fluid .span5 {
    width: 39.163090128755%;
    *width: 39.109442060086%;
  }

  /* line 541, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .row-fluid .span4 {
    width: 30.472103004292%;
    *width: 30.418454935622%;
  }

  /* line 545, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .row-fluid .span3 {
    width: 21.781115879828%;
    *width: 21.727467811159%;
  }

  /* line 549, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .row-fluid .span2 {
    width: 13.090128755365%;
    *width: 13.036480686695%;
  }

  /* line 553, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .row-fluid .span1 {
    width: 4.3991416309013%;
    *width: 4.3454935622318%;
  }

  /* line 557, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .row-fluid .offset12 {
    margin-left: 108.58369098712%;
    *margin-left: 108.47639484979%;
  }

  /* line 561, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .row-fluid .offset12:first-child {
    margin-left: 104.29184549356%;
    *margin-left: 104.18454935622%;
  }

  /* line 565, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .row-fluid .offset11 {
    margin-left: 99.892703862661%;
    *margin-left: 99.785407725322%;
  }

  /* line 569, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .row-fluid .offset11:first-child {
    margin-left: 95.600858369099%;
    *margin-left: 95.49356223176%;
  }

  /* line 573, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .row-fluid .offset10 {
    margin-left: 91.201716738197%;
    *margin-left: 91.094420600858%;
  }

  /* line 577, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .row-fluid .offset10:first-child {
    margin-left: 86.909871244635%;
    *margin-left: 86.802575107296%;
  }

  /* line 581, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .row-fluid .offset9 {
    margin-left: 82.510729613734%;
    *margin-left: 82.403433476395%;
  }

  /* line 585, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .row-fluid .offset9:first-child {
    margin-left: 78.218884120172%;
    *margin-left: 78.111587982833%;
  }

  /* line 589, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .row-fluid .offset8 {
    margin-left: 73.81974248927%;
    *margin-left: 73.712446351931%;
  }

  /* line 593, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .row-fluid .offset8:first-child {
    margin-left: 69.527896995708%;
    *margin-left: 69.420600858369%;
  }

  /* line 597, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .row-fluid .offset7 {
    margin-left: 65.128755364807%;
    *margin-left: 65.021459227468%;
  }

  /* line 601, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .row-fluid .offset7:first-child {
    margin-left: 60.836909871245%;
    *margin-left: 60.729613733906%;
  }

  /* line 605, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .row-fluid .offset6 {
    margin-left: 56.437768240343%;
    *margin-left: 56.330472103004%;
  }

  /* line 609, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .row-fluid .offset6:first-child {
    margin-left: 52.145922746781%;
    *margin-left: 52.038626609442%;
  }

  /* line 613, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .row-fluid .offset5 {
    margin-left: 47.74678111588%;
    *margin-left: 47.639484978541%;
  }

  /* line 617, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .row-fluid .offset5:first-child {
    margin-left: 43.454935622318%;
    *margin-left: 43.347639484979%;
  }

  /* line 621, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .row-fluid .offset4 {
    margin-left: 39.055793991416%;
    *margin-left: 38.948497854077%;
  }

  /* line 625, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .row-fluid .offset4:first-child {
    margin-left: 34.763948497854%;
    *margin-left: 34.656652360515%;
  }

  /* line 629, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .row-fluid .offset3 {
    margin-left: 30.364806866953%;
    *margin-left: 30.257510729614%;
  }

  /* line 633, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .row-fluid .offset3:first-child {
    margin-left: 26.072961373391%;
    *margin-left: 25.965665236052%;
  }

  /* line 637, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .row-fluid .offset2 {
    margin-left: 21.673819742489%;
    *margin-left: 21.56652360515%;
  }

  /* line 641, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .row-fluid .offset2:first-child {
    margin-left: 17.381974248927%;
    *margin-left: 17.274678111588%;
  }

  /* line 645, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .row-fluid .offset1 {
    margin-left: 12.982832618026%;
    *margin-left: 12.875536480687%;
  }

  /* line 649, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .row-fluid .offset1:first-child {
    margin-left: 8.6909871244635%;
    *margin-left: 8.5836909871245%;
  }

  /* line 655, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu input,
  .tb-megamenu textarea,
  .tb-megamenu .uneditable-input {
    margin-left: 0;
  }

  /* line 658, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .controls-row [class*="span"] + [class*="span"] {
    margin-left: 40px;
  }

  /* line 661, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu input.span12, textarea.span12, .uneditable-input.span12 {
    width: 918px;
  }

  /* line 664, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu input.span11, textarea.span11, .uneditable-input.span11 {
    width: 837px;
  }

  /* line 667, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu input.span10, textarea.span10, .uneditable-input.span10 {
    width: 756px;
  }

  /* line 670, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu input.span9, textarea.span9, .uneditable-input.span9 {
    width: 675px;
  }

  /* line 673, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu input.span8, textarea.span8, .uneditable-input.span8 {
    width: 594px;
  }

  /* line 676, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu input.span7, textarea.span7, .uneditable-input.span7 {
    width: 513px;
  }

  /* line 679, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu input.span6, textarea.span6, .uneditable-input.span6 {
    width: 432px;
  }

  /* line 682, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu input.span5, textarea.span5, .uneditable-input.span5 {
    width: 351px;
  }

  /* line 685, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu input.span4, textarea.span4, .uneditable-input.span4 {
    width: 270px;
  }

  /* line 688, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu input.span3, textarea.span3, .uneditable-input.span3 {
    width: 189px;
  }

  /* line 691, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu input.span2, textarea.span2, .uneditable-input.span2 {
    width: 108px;
  }

  /* line 694, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu input.span1, textarea.span1, .uneditable-input.span1 {
    width: 27px;
  }
}
@media (min-width: 980px) and (max-width: 1199px) {
  /* line 738, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .offset-12 {
    margin-left: -932px;
  }

  /* line 741, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .offset-11 {
    margin-left: -851px;
  }

  /* line 744, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .offset-10 {
    margin-left: -770px;
  }

  /* line 747, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .offset-9 {
    margin-left: -689px;
  }

  /* line 750, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .offset-8 {
    margin-left: -608px;
  }

  /* line 753, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .offset-7 {
    margin-left: -527px;
  }

  /* line 756, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .offset-6 {
    margin-left: -446px;
  }

  /* line 759, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .offset-5 {
    margin-left: -365px;
  }

  /* line 762, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .offset-4 {
    margin-left: -284px;
  }

  /* line 765, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .offset-3 {
    margin-left: -203px;
  }

  /* line 768, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .offset-2 {
    margin-left: -122px;
  }

  /* line 771, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .offset-1 {
    margin-left: -41px;
  }
}
@media (min-width: 1200px) {
  /* line 776, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .offset-12 {
    margin-left: -1196px;
  }

  /* line 779, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .offset-11 {
    margin-left: -1093px;
  }

  /* line 782, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .offset-10 {
    margin-left: -990px;
  }

  /* line 785, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .offset-9 {
    margin-left: -887px;
  }

  /* line 788, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .offset-8 {
    margin-left: -784px;
  }

  /* line 791, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .offset-7 {
    margin-left: -681px;
  }

  /* line 794, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .offset-6 {
    margin-left: -578px;
  }

  /* line 797, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .offset-5 {
    margin-left: -475px;
  }

  /* line 800, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .offset-4 {
    margin-left: -372px;
  }

  /* line 803, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .offset-3 {
    margin-left: -269px;
  }

  /* line 806, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .offset-2 {
    margin-left: -166px;
  }

  /* line 809, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu .offset-1 {
    margin-left: -63px;
  }
}
@media (min-width: 980px) {
  /* line 1471, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu.animate .mega > .mega-dropdown-menu {
    transition: all 400ms;
    -webkit-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: 0;
  }

  /* line 1482, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu.animate .mega.animating > .mega-dropdown-menu {
    display: block !important;
  }

  /* line 1486, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu.animate .mega.open > .mega-dropdown-menu,
  .tb-megamenu.animate .mega.animating.open > .mega-dropdown-menu {
    opacity: 1;
  }

  /* line 1489, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu.animate.zoom .mega > .mega-dropdown-menu {
    transform: scale(0, 0);
    transform-origin: 20% 20%;
    -webkit-transform: scale(0, 0);
    -webkit-transform-origin: 20% 20%;
    -ms-transform: scale(0, 0);
    -ms-transform-origin: 20% 20%;
    -o-transform: scale(0, 0);
    -o-transform-origin: 20% 20%;
  }

  /* line 1499, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu.animate.zoom .mega.open > .mega-dropdown-menu {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
  }

  /* line 1505, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu.animate.elastic .level0 > .mega > .mega-dropdown-menu {
    transform: scale(1, 0);
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -o-transform: scale(1, 0);
  }

  /* line 1511, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu.animate.elastic .mega > .mega-dropdown-menu {
    transform: scale(0, 1);
    transform-origin: 10% 0;
    -webkit-transform: scale(0, 1);
    -webkit-transform-origin: 10% 0;
    -ms-transform: scale(0, 1);
    -ms-transform-origin: 10% 0;
    -o-transform: scale(0, 1);
    -o-transform-origin: 10% 0;
  }

  /* line 1521, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu.animate.elastic .mega.open > .mega-dropdown-menu {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
  }

  /* line 1527, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu.animate.slide .mega.animating > .mega-dropdown-menu {
    overflow: hidden;
  }

  /* line 1530, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu.animate.slide .mega > .mega-dropdown-menu > div {
    transition: all 400ms;
    -webkit-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    margin-top: -100%;
  }

  /* line 1541, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu.animate.slide .mega.open > .mega-dropdown-menu > div {
    margin-top: 0%;
  }

  /* line 1544, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu.animate.slide .mega .mega > .mega-dropdown-menu {
    min-width: 0;
  }

  /* line 1547, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu.animate.slide .mega .mega > .mega-dropdown-menu > div {
    min-width: 200px;
    margin-top: 0;
    margin-left: -500px;
  }

  /* line 1552, ../../../sass/overrides/tb_megamenu/default.scss */
  .tb-megamenu.animate.slide .mega .mega.open > .mega-dropdown-menu > div {
    margin-left: 0;
  }
}
/* line 1599, ../../../sass/overrides/tb_megamenu/default.scss */
.block-view-demo .views-field-title a {
  border-top: none !important;
  color: #eee;
  padding: 0 !important;
}

/* line 1605, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .block-view-demo .views-field-field-image {
  float: left;
}

/* line 1609, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .block-view-demo .views-field-field-image img {
  border: 1px solid #333;
  margin: 0 20px 0 0;
  max-width: none !important;
  padding: 4px;
  width: auto;
}

/* line 1617, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .block-view-demo .item-list ul li {
  border-bottom: 1px solid #333;
  margin: 0;
  min-height: 60px;
  padding: 10px 0;
}

/* line 1624, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .block-view-demo .item-list ul li.views-row-first {
  padding-top: 0;
}

/* line 1628, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .block-view-demo a {
  padding: 0 !important;
}

/* line 1632, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .block-view-demo .views-field-title a {
  border-top: none;
  color: #aaa;
  padding: 0;
}

/* line 1639, ../../../sass/overrides/tb_megamenu/default.scss */
.tb-megamenu .block-view-demo a:hover,
.tb-megamenu .block-view-demo a:focus {
  background: none !important;
  border: none !important;
  color: #e54e4;
  text-decoration: none;
}
