// @file
// Generic grid styles.

$gutter-width: 0.5em;

.layout-grid {
  // So .layout-grid__row negative margins don't create horizontal scrollbar.
  overflow: hidden;
}

.layout-grid__row {
  @extend %clearfix;
  margin-left: -$gutter-width;
  margin-right: -$gutter-width;
}

.layout-grid__column {
  float: left;
  padding: 0 $gutter-width 0.5em $gutter-width;
  width: 100%;
}

.layout-grid--cols-2 .layout-grid__column {
  width: percentage(1/2);
}

.layout-grid--cols-3 .layout-grid__column {
  width: percentage(1/3);
}

.layout-grid--cols-4 .layout-grid__column {
  width: percentage(1/4);
}

.layout-grid--cols-5 .layout-grid__column {
  width: percentage(1/5);
}

.layout-grid--cols-6 .layout-grid__column {
  width: percentage(1/6);
}

// featured items on microsite pages
.layout-grid--microsite-featured { 

  &.layout-grid--cols-4 .layout-grid__column {
    width: percentage(1/1);
    @include breakpoint(500px) {
      width: percentage(1/2);
    }
    @include breakpoint(1000px, $no-query: true) {
      width: percentage(1/4);
    }
  }

  .layout-grid__row {
    margin-left: 0;
    margin-right: 0;
  }

  .layout-grid__column {
    padding: 0;
  }
}