&lt;div class=&quot;l-panels-detail hero main main-sidebar center box-first box-second box-third bottom-sidebar bottom&quot;&gt;
  &lt;div class=&quot;l-hero region-title&quot;&gt;
    &lt;div class=&quot;layout-constrain&quot;&gt;
      &lt;div class=&quot;pane pane--page-title&quot;&gt;
        &lt;div class=&quot;pane__content&quot;&gt;
          &lt;h1&gt;{{ pageTitle }}&lt;/h1&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;l-wrapper layout-constrain&quot;&gt;
    &lt;div class=&quot;l-main&quot;&gt;
      {{{ body }}}
    &lt;/div&gt;
    &lt;aside class=&quot;l-main-sidebar&quot;&gt;
    &lt;/aside&gt;
  &lt;/div&gt;
  &lt;div class=&quot;l-center layout-constrain&quot;&gt;
    {{&gt; molecules-featured-assets }}
  &lt;/div&gt;
  &lt;div class=&quot;l-wrapper region-meta&quot;&gt;
    &lt;div class=&quot;layout-constrain&quot;&gt;
      &lt;div class=&quot;l-box-first&quot;&gt;
        {{&gt; molecules-at-a-glance }}
      &lt;/div&gt;
      &lt;div class=&quot;l-box-second&quot;&gt;
        {{&gt; molecules-innovation-assistance }}
      &lt;/div&gt;
      &lt;div class=&quot;l-box-third&quot;&gt;
        {{&gt; molecules-point-of-contact }}
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;l-wrapper layout-constrain&quot;&gt;
    &lt;div class=&quot;l-bottom&quot;&gt;
      &lt;div class=&quot;innovation-stats&quot;&gt;
        &lt;h2&gt;Innovation Stats&lt;/h2&gt;
        &lt;div class=&quot;innovation-stats__first&quot;&gt;
          &lt;div class=&quot;field clearfix field--innovation-funding-goal&quot;&gt;
            &lt;div class=&quot;field-label&quot;&gt;Funding Goal:&amp;nbsp;&lt;/div&gt;
            &lt;div class=&quot;field-items&quot;&gt;
              &lt;div class=&quot;field-item&quot;&gt;$000,000,000&lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;field clearfix field--innovation-solution-type&quot;&gt;
            &lt;div class=&quot;field-label&quot;&gt;Solution Type:&amp;nbsp;&lt;/div&gt;
            &lt;div class=&quot;field-items&quot;&gt;
              &lt;div class=&quot;field-item&quot;&gt;Behavior Change&lt;/div&gt;
              &lt;div class=&quot;field-item&quot;&gt;Technology&lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;field clearfix field--innovation-project-stage&quot;&gt;
            &lt;div class=&quot;field-label&quot;&gt;Project Stage:&amp;nbsp;&lt;/div&gt;
            &lt;div class=&quot;field-items&quot;&gt;
              &lt;div class=&quot;field-item&quot;&gt;Idea&lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;field clearfix field--innovation-cost-per-unit&quot;&gt;
            &lt;div class=&quot;field-label&quot;&gt;Cost Per Unit:&amp;nbsp;&lt;/div&gt;
            &lt;div class=&quot;field-items&quot;&gt;
              &lt;div class=&quot;field-item&quot;&gt;$600&lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;field clearfix field--innovation-testing-phase&quot;&gt;
            &lt;div class=&quot;field-label&quot;&gt;Testing Phase:&amp;nbsp;&lt;/div&gt;
            &lt;div class=&quot;field-items&quot;&gt;
              &lt;div class=&quot;field-item&quot;&gt;Phase 1&lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;innovation-stats__second&quot;&gt;
          &lt;div class=&quot;field clearfix field--innovation-created&quot;&gt;
            &lt;div class=&quot;field-label&quot;&gt;Created In:&amp;nbsp;&lt;/div&gt;
            &lt;div class=&quot;field-items&quot;&gt;
              &lt;div class=&quot;field-item even&quot;&gt;&lt;a href=&quot;#&quot;&gt;India&lt;/a&gt;&lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;field clearfix field--innovation-implemented&quot;&gt;
            &lt;div class=&quot;field-label&quot;&gt;Implemented In:&amp;nbsp;&lt;/div&gt;
            &lt;div class=&quot;field-items&quot;&gt;
              &lt;div class=&quot;field-item&quot;&gt;&lt;a href=&quot;#&quot;&gt;Ghana&lt;/a&gt;&lt;/div&gt;
              &lt;div class=&quot;field-item&quot;&gt;&lt;a href=&quot;#&quot;&gt;India&lt;/a&gt;&lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;field clearfix field--innovation-sectors&quot;&gt;
            &lt;div class=&quot;field-label&quot;&gt;Sectors:&amp;nbsp;&lt;/div&gt;
            &lt;div class=&quot;field-items&quot;&gt;
              &lt;div class=&quot;field-item&quot;&gt;&lt;a href=&quot;#&quot;&gt;Clean Energy Sector&lt;/a&gt;&lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;field clearfix field--innovation-related-programs&quot;&gt;
            &lt;div class=&quot;field-label&quot;&gt;Related Programs:&amp;nbsp;&lt;/div&gt;
            &lt;div class=&quot;field-items&quot;&gt;
              &lt;div class=&quot;field-item&quot;&gt;&lt;a href=&quot;#&quot;&gt;Grand Challenges&lt;/a&gt;&lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;aside class=&quot;l-bottom-sidebar&quot;&gt;
      {{&gt; molecules-innovation-team }}
      {{&gt; molecules-funded-by }}
    &lt;/aside&gt;
  &lt;/div&gt;
&lt;/div&gt;
