#user-login,
#user-pass {
  border: 2px solid #cecfcb;
  -moz-box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.15);
  max-width: 750px;
  max-width: 650px;
  margin: 2em auto;
  overflow: hidden;
  padding: 2em;

  .interfacecontainerdiv {
    margin-left: -20px;
  }

  p.login-title {
    -moz-hyphens: none;
    -ms-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
    border-bottom: 1px solid #cecfcb;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.1;
    margin: 0 0 1em 0;
    padding: 0 0 0.5em 0;
    text-align: center;
  }

  .form-item-pass {
    margin-bottom: 0;
  }

  .forgot-password {
    font-size: 0.8em;
  }

  #google_recaptcha_user_pass {
    margin: 0 0 1.5em 0;
  }

  .button--submit {
     margin: 0;
  }

  .form-actions {
    float: left;
  }

  .super-login-register {
    display: inline-block;
    float: right;
    padding-top: 1em;
  }

  #capslockdiv p {
    color: #c61414;
    font-weight: bold;
  }

}
