<footer class="footer" role="contentinfo">
  <div class="footer__menu-bar">
    <div class="layout-constrain">
      {{> molecules-footer-menu }}
    </div>
  </div>
  <div class="region-footer layout-constrain">
    <div class="block block--pane-about-the-exchange">
      <h2 class="block__title">About The Exchange</h2>
      <div class="block__content">
        <p>
          The Innovation Exchange is a marketplace that connects funders, innovators, users and solution seekers and gives them the tools to maximize their ability to meet the largest, most pressing development challenges.
        </p>
        <div><a class="button button--highlight" href="#">Join the Community</a></div>
      </div>
    </div>
    <div class="block block--views-partners-partners">
      <div class="view view--partners">
        <div class="view__header"><h2 class="block__title">Partners</h2></div>
        <div class="view__content">
          <div class="views-row"><a href="#"><img src="../../../../images/logo-usaid.png"></a></div>
          <div class="views-row"><a href="#"><img src="../../../../images/logo-usglobal-dev-lab.png"></a></div>
          <div class="views-row"><a href="#"><img src="../../../../images/logo-div.png"></a></div>
          <div class="views-row"><a href="#"><img src="../../../../images/logo-bill-melinda-gates-foundation.png"></a></div>
          <div class="views-row"><a href="#"><img src="../../../../images/logo-globalintegrity.png"></a></div>
          <div class="views-row"><a href="#"><img src="../../../../images/logo-forumone.png"></a></div>
          <div class="views-row"><a href="#"><img src="../../../../images/logo-mit.png"></a></div>
          <div class="views-row"><a href="#"><img src="../../../../images/logo-dai.png"></a></div>
        </div>
        <div class="view__footer">
          <a class="button button--highlight" href="#">Become a Partner</a>
          <a href="#" class="view__all">View All Partners</a>
        </div>
      </div>
    </div>
    {{> molecules-footer-utility-menu }}
  </div>
</footer>


 