<footer class="site-footer" role="contentinfo">
  <div class="region-footer layout-constrain">
    {{> molecules-microsite-description }}
    {{> molecules-microsite-partners }}
    {{> molecules-footer-menu }}
  </div>
</footer> 
