{{{ openMicrositeWrapper }}}
<div class="region-navigation">
  <div class="region__inner">
    {{> molecules-microsite-logo }}
    {{> molecules-microsite-main-menu }}
  </div>
</div>
{{{ closeMicrositeWrapper }}}
