&lt;div class=&quot;block block--views block--microsite-description&quot;&gt;      
  &lt;div class=&quot;view view--microsite-description&quot;&gt;
    &lt;div class=&quot;view__header&quot;&gt;
      &lt;h2&gt;About DIV&lt;/h2&gt;
    &lt;/div&gt;
      &lt;p&gt;Development Innovation Ventures (DIV) is an open competition supporting breakthrough solutions to the world's most intractable development challenges&mdash;interventions that could change millions of lives at a fraction of the usual cost. &lt;/p&gt;
      &lt;p&gt;&lt;a href=&quot;#&quot; class=&quot;button&quot;&gt;Learn about DIV&lt;/a&gt;&lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;