@media (min-width: 43.75em) {
  /* line 14, ../../sass/partials/layout/panels/_detail.scss */
  .l-panels-detail.main.main-sidebar .l-main {
    width: 65.21739%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
  /* line 15, ../../sass/partials/layout/panels/_detail.scss */
  .l-panels-detail.main.main-sidebar .l-main-sidebar {
    width: 30.43478%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
  /* line 20, ../../sass/partials/layout/panels/_detail.scss */
  .l-panels-detail.bottom.bottom-sidebar .l-bottom {
    width: 65.21739%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
  /* line 21, ../../sass/partials/layout/panels/_detail.scss */
  .l-panels-detail.bottom.bottom-sidebar .l-bottom-sidebar {
    width: 30.43478%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 56.25em) {
  /* line 32, ../../sass/partials/layout/panels/_detail.scss */
  .l-panels-detail.box-first.box-second.box-third .l-box-first {
    width: 30.43478%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
  /* line 33, ../../sass/partials/layout/panels/_detail.scss */
  .l-panels-detail.box-first.box-second.box-third .l-box-second {
    width: 30.43478%;
    float: left;
    margin-right: -100%;
    margin-left: 34.78261%;
    clear: none;
  }
  /* line 34, ../../sass/partials/layout/panels/_detail.scss */
  .l-panels-detail.box-first.box-second.box-third .l-box-third {
    width: 30.43478%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 43.75em) {
  /* line 39, ../../sass/partials/layout/panels/_detail.scss */
  .l-panels-detail.box-first.box-second.box-third-empty .l-box-first {
    width: 47.82609%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
  /* line 40, ../../sass/partials/layout/panels/_detail.scss */
  .l-panels-detail.box-first.box-second.box-third-empty .l-box-second {
    width: 47.82609%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 43.75em) {
  /* line 46, ../../sass/partials/layout/panels/_detail.scss */
  .l-panels-detail.box-first.box-second-empty.box-third .l-box-first {
    width: 47.82609%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
  /* line 47, ../../sass/partials/layout/panels/_detail.scss */
  .l-panels-detail.box-first.box-second-empty.box-third .l-box-third {
    width: 47.82609%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 43.75em) {
  /* line 53, ../../sass/partials/layout/panels/_detail.scss */
  .l-panels-detail.box-first-empty.box-second.box-third .l-box-second {
    width: 47.82609%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
  /* line 54, ../../sass/partials/layout/panels/_detail.scss */
  .l-panels-detail.box-first-empty.box-second.box-third .l-box-third {
    width: 47.82609%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}

/* line 9, ../../sass/partials/global/helpers/_clearfix.scss */
.l-panels-detail:after {
  display: table;
  content: "";
}
/* line 14, ../../sass/partials/global/helpers/_clearfix.scss */
.l-panels-detail:after {
  clear: both;
}
/* line 70, ../../sass/partials/layout/panels/_detail.scss */
.l-panels-detail .l-wrapper,
.l-panels-detail .l-hero,
.l-panels-detail .l-main,
.l-panels-detail .l-main-sidebar,
.l-panels-detail .l-center,
.l-panels-detail .l-box-first,
.l-panels-detail .l-box-second,
.l-panels-detail .l-box-third,
.l-panels-detail .l-bottom-sidebar,
.l-panels-detail .l-bottom {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 9, ../../sass/partials/global/helpers/_clearfix.scss */
.l-panels-detail .l-wrapper:after,
.l-panels-detail .l-hero:after,
.l-panels-detail .l-main:after,
.l-panels-detail .l-main-sidebar:after,
.l-panels-detail .l-center:after,
.l-panels-detail .l-box-first:after,
.l-panels-detail .l-box-second:after,
.l-panels-detail .l-box-third:after,
.l-panels-detail .l-bottom-sidebar:after,
.l-panels-detail .l-bottom:after {
  display: table;
  content: "";
}
/* line 14, ../../sass/partials/global/helpers/_clearfix.scss */
.l-panels-detail .l-wrapper:after,
.l-panels-detail .l-hero:after,
.l-panels-detail .l-main:after,
.l-panels-detail .l-main-sidebar:after,
.l-panels-detail .l-center:after,
.l-panels-detail .l-box-first:after,
.l-panels-detail .l-box-second:after,
.l-panels-detail .l-box-third:after,
.l-panels-detail .l-bottom-sidebar:after,
.l-panels-detail .l-bottom:after {
  clear: both;
}
