@media (min-width: 43.75em) {
  /* line 13, ../../sass/partials/layout/panels/_sidebar-right.scss */
  .l-panels-sidebar-right.main.sidebar .l-main {
    width: 64.70588%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
  /* line 16, ../../sass/partials/layout/panels/_sidebar-right.scss */
  .l-panels-sidebar-right.main.sidebar .l-sidebar {
    width: 29.41176%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}

/* line 9, ../../sass/partials/global/helpers/_clearfix.scss */
.l-panels-sidebar-right:after {
  display: table;
  content: "";
}
/* line 14, ../../sass/partials/global/helpers/_clearfix.scss */
.l-panels-sidebar-right:after {
  clear: both;
}
/* line 29, ../../sass/partials/layout/panels/_sidebar-right.scss */
.l-panels-sidebar-right .l-preface,
.l-panels-sidebar-right .l-title,
.l-panels-sidebar-right .l-main,
.l-panels-sidebar-right .l-sidebar,
.l-panels-sidebar-right .l-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 9, ../../sass/partials/global/helpers/_clearfix.scss */
.l-panels-sidebar-right .l-preface:after,
.l-panels-sidebar-right .l-title:after,
.l-panels-sidebar-right .l-main:after,
.l-panels-sidebar-right .l-sidebar:after,
.l-panels-sidebar-right .l-wrapper:after {
  display: table;
  content: "";
}
/* line 14, ../../sass/partials/global/helpers/_clearfix.scss */
.l-panels-sidebar-right .l-preface:after,
.l-panels-sidebar-right .l-title:after,
.l-panels-sidebar-right .l-main:after,
.l-panels-sidebar-right .l-sidebar:after,
.l-panels-sidebar-right .l-wrapper:after {
  clear: both;
}
