&lt;div class=&quot;social-icons&quot;&gt;
		&lt;div class=&quot;social-icon__share&quot;&gt;&lt;/div&gt;
		&lt;div class=&quot;social-icon__like&quot;&gt;&lt;/div&gt;
		&lt;div class=&quot;social-icon__pdf&quot;&gt;&lt;/div&gt;
&lt;/div&gt;