{{&gt; layouts-utility-region }}

&lt;header class=&quot;site-header&quot; role=&quot;banner&quot;&gt;
  &lt;div class=&quot;layout-constrain&quot;&gt;
    {{&gt; layouts-header-region }}
    {{&gt; layouts-navigation-region }}
  &lt;/div&gt;
&lt;/header&gt;

{{&gt; layouts-preface-region }}

&lt;main id=&quot;main&quot; class=&quot;main&quot; role=&quot;main&quot; tabindex=&quot;-1&quot;&gt;
  &lt;div class=&quot;region-content&quot;&gt;

     {{&gt; components-page-header }}
     {{&gt; components-text-block-centered }}
     {{&gt; components-section-break }}
     {{&gt; components-featured-content }}

  &lt;/div&gt;
&lt;/main&gt;

{{&gt; layouts-postscript-region }}
{{&gt; layouts-footer-region }}
