&lt;div class=&quot;component page-header&quot; style=&quot;background-image: url('../../images/page-header.jpg');&quot;&gt;
  &lt;div class=&quot;page-header__text-wrapper&quot;&gt;
    &lt;div class=&quot;page-header__text&quot;&gt;
      &lt;div class=&quot;page-header__subtext&quot;&gt;A handbook for USAID staff&lt;/div&gt;
      &lt;div class=&quot;page-header__headline&quot;&gt;Digital Finance for Development&lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;patternlab-markup&quot;&gt;
  &lt;strong&gt;Page Header image size: 1600x700&lt;/strong&gt;&lt;br&gt;
  &lt;strong&gt;Page Header Markup:&lt;/strong&gt;
  &lt;xmp&gt;
    &lt;div class=&quot;component page-header&quot; style=&quot;background-image: url([imagename].jpg);&quot;&gt;
      &lt;div class=&quot;page-header__text-wrapper&quot;&gt;
        &lt;div class=&quot;page-header__text&quot;&gt;
          &lt;div class=&quot;page-header__subtext&quot;&gt;[content]&lt;/div&gt;
          &lt;div class=&quot;page-header__headline&quot;&gt;[content]&lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/xmp&gt;
&lt;/div&gt;