// @file
// Icons

@mixin circleicon($radius, $background-color, $font-color) {
	color: $font-color;
	background: $background-color;
	display: block;
	border-radius:50%;
	line-height: $radius;
	width: $radius;
	height: $radius;
	margin-right: $radius;
	vertical-align: middle;
	text-align: center;
	float: left;
	position: relative;
	top: 0;
	left: 0;
}