&lt;div class=&quot;l-panels-detail title main main-sidebar center-empty meta-empty box-first-empty box-second-empty box-third-empty bottom bottom-sidebar&quot;&gt;
    &lt;div class=&quot;l-title region-title&quot;&gt;
      &lt;div class=&quot;layout-constrain&quot;&gt;
        &lt;div class=&quot;pane pane--page-title&quot;&gt;
          &lt;div class=&quot;pane__content&quot;&gt;
            &lt;h1&gt;{{ pageTitle }}&lt;/h1&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;l-wrapper layout-constrain&quot;&gt;
        &lt;div class=&quot;l-main&quot;&gt;
          {{&gt; molecules-user-header }}
        &lt;/div&gt;
        &lt;aside class=&quot;l-main-sidebar&quot;&gt;
          {{&gt; molecules-user-motto }}
        &lt;/aside&gt;
    &lt;/div&gt;
    &lt;div class=&quot;l-center layout-constrain&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;l-wrapper layout-constrain&quot;&gt;
        &lt;div class=&quot;l-bottom&quot;&gt;
          {{&gt; molecules-user-tabs }}
        &lt;/div&gt;
        &lt;aside class=&quot;l-bottom-sidebar&quot;&gt;
          {{&gt; molecules-recently-posted }}
          {{&gt; molecules-recent-conversations }} 
          {{&gt; molecules-funded-by }} 
          {{&gt; molecules-connect-with-me }}
        &lt;/aside&gt;
    &lt;/div&gt;
&lt;/div&gt;