//@file
// Aside Block

.aside {
	border: 3px $lightred solid; 
	margin: 6em auto;
	overflow: hidden;
	padding: 2em;
	width: 50%;
	.aside__title {
		color: $lightred;
		font-weight: bold;
		line-height: 1em;
		text-transform: uppercase;
		&:after {
			border-bottom: 1px $lightred solid;
			content: " ";
			display: block;
			padding: .5em 0;
			width: 100%;
		}
	}
	.aside__body {
		line-height: 1.2em;
		padding-top: 1em;
	}
}

// .aside-center { 
// 	margin: 3em auto;
// }
// .aside-right {
// 	float: right;
// }
