//@file
// Aside Block

.aside {
	border: 3px $red solid; 
	margin: 6em auto;
	overflow: hidden;
	padding: 2em;
	width: 90%;
	@include breakpoint($mobile-menu-bp, $no-query: true) {
    width: 50%;
  }
	.aside__title {
		color: $red;
		font-weight: bold;
		line-height: 1em;
		text-transform: uppercase;
		&:after {
			border-bottom: 1px $red solid;
			content: " ";
			display: block;
			padding: .5em 0;
			width: 100%;
		}
	}
	.aside__body {
		line-height: 1.2em;
		padding-top: 1em;
	}
}
.aside.component{
	padding: 2em;
}
// .aside-center { 
// 	margin: 3em auto;
// }
// .aside-right {
// 	float: right;
// }
