// @file
// Card styles

.card {
	display: block;
	margin: 0 auto;
	padding: 0;
}

.card--has1 {}
.card--has2 {}
.card--has3 {
	width: 100%;
}

.card__item {
	@include box-shadow(0 0px 2px 1px rgba(0, 0, 0, 0.4));
	float: left;
	margin: 1em;
	padding: 0 1em;
	width: em(300px);
	// .card--has3 & {
	// 	width: 33%;
	// }
	
}

.card__title {
	color: $lightred;
	font-weight: bold;
	&:before {
		border-top: 8px $lightred solid;
		content: " ";
		display: block;
		padding: .5em 0;
		width: 40%;
	}
}

.card__body {
	line-height: 1.2em;
	padding: 1em 0;
}
