.footer-about, .block--pane-about-the-exchange {  //block--pane-about-the-exchange on LIVE site
		float: left;
		width: 100%;
		@include breakpoint($mobile-menu-bp, $no-query: true) {
			width: 30%;
		}
		.footer-about__title, .block__title {
			border-bottom: 1px solid #cecfcb;
			text-transform: uppercase;
		}
		.footer-about__content, .block__content  {
			.button--highlight{
				background-color: #b71234;
    		border-color: #b71234;
			}
		}
}