// @file
// Footer component theme

.footer {
	overflow: hidden;
	min-height: 400px;
	position: relative;
	.region-footer{
		margin-top: 10em;
	}
}

.footer__download-link {
	background-color: $lightred;
	height: 60px;
	margin: 2em;
	position: relative;
	a{
		color: $white;
    position: relative;
    padding-top: 20px;
    padding-left: 5%;
    top: 15px;
    &:after{
    	content: "> ";
    	font-weight: bold;
    	padding-left: .5em;
    	text-decoration: none;
    }
		
	}
}
.footer__download-image {
    @include image-replace(261px, 165px);
		background: transparent url('../images/footer-fact-sheet.png') no-repeat;
    display: block;
    position: absolute;
    right: 15%;
    top: 65px;
}

.footer-about {
		float: left;
		width: 30%;
		.footer-about__title {
			text-transform: uppercase;
		}
		.footer-about__content {
			.button--highlight{}
		}
}

.footer__sponsor {
	width: 60%;
	float: right;
	&:before {
		content: "POWERED BY";
		display: block;
		font-style: italic;
		text-align: right;
    width: 100%;
    padding-right: 4em;
	}
	.footer-sponsor__image { 
		display: inline-block;
		float: left;
		margin-right: 20px;
	}
	.footer-sponsor__image-usaid {
		@include image-replace(166px, 55px);
		background: transparent url('../images/logo-usaid.png') no-repeat;
	}
	.footer-sponsor__image-usgd {
		@include image-replace(207px, 54px);
		background: transparent url('../images/logo-uslab.png') no-repeat;
	}
	.footer-sponsor__image-gix {
		@include image-replace(222px, 63px);
		background: transparent url('../images/logo-gix.png') no-repeat;
	}
}

.footer__menu {
	float: right;
	ul {
			list-style: none;
		li{
			border-right: 2px solid $grey;
			display: inline-block;
			padding: 0 1em;
			&:before {
				
			}
			&:last-child {
				border: none;
			}
			a{
				color: $grey;
			}
		}
	}
}