// @file
// Footer component theme

.footer {
	overflow: hidden;
	min-height: 400px;
	position: relative;
	.region-footer{
		margin-top: 10em;
	}
}

.footer__download-link {
	background-color: $lightred;
	height: 60px;
	position: relative;
	a{
		color: $white;
    position: relative;
    padding-top: 20px;
    padding-left: 5%;
    top: 15px;
    &:after{
    	content: "> ";
    	font-weight: bold;
    	padding-left: .5em;
    	text-decoration: none;
    }
		
	}
}
.footer__download-image {
	  border: 2px $lightred solid;
    background-color: white;
    display: block;
    height: 150px;
    position: absolute;
    right: 15%;
    top: 0;
    width: 150px;
}

.footer-about {
		float: left;
		width: 30%;
		.footer-about__title {
			text-transform: uppercase;
		}
		.footer-about__content {
			.button--highlight{}
		}
}

.footer__sponsor {
	float: right;
}

.footer__menu {
	float: right;
	ul {
			list-style: none;
		li{
			border-right: 2px solid $grey;
			display: inline-block;
			padding: 0 1em;
			&:before {
				
			}
			&:last-child {
				border: none;
			}
			a{
				color: $grey;
			}
		}
	}
}