.image {
	position: relative;
	text-align: center;
	.image__title {
		font-weight: bold;
		padding-bottom: 1em;
		text-transform: uppercase;
	}
	.image__image {}
	.image__caption {
		margin: 0 auto;
		max-width: 75%;
	}
	.asset {
			background-color: white;
    	border-color: white;
	}
}