//@file
// Ordered and Unordered Lists
$ol-bullet-size: 80px;

ol {
  .component & {
  	margin-left: 3em;
  	counter-reset: li-counter;
  	list-style-type: none;
  	li{
  		// margin-bottom: 20px;
  		min-height: $ol-bullet-size * 1.20;
  		padding-left: 20px;
  		position: relative;
  		ol{
  			padding-top: $ol-bullet-size;
  		}
  	}
    li:before {
      background-color: $blue;
      color: $white;
      content: counter(li-counter);
      counter-increment: li-counter;
      display: block;
      float: left;
      font-size: 1.5em;
      left: -70px;
      line-height: $ol-bullet-size;
      height: $ol-bullet-size;
      position: absolute;
      text-align: center;
      top: 0;
      width: $ol-bullet-size;
    }
  }
}

ul {
  .component & {
  	list-style: outside;
    list-style-type: none;
    li {
  		padding-left: 1em;
      text-align: left;
      position: relative;
    }
    li:before {
    	content: "► ";
      color: $red;
      display: block;
      float: left;
      left: -20px;
      padding-right: 10px;
      position: absolute;
      top: 0;
    }
  }
}