// @file
// Styles for Drupal messages.

.messages {
  background-position: ($base-spacing / 2) ($base-spacing / 2); // LTR
  background-repeat: no-repeat;
  border-radius: 5px;
  border-style: solid;
  border-width: 4px 1px;
  font-size: $font-size-md;
  margin: $base-spacing 0;
  padding: ($base-spacing / 2) ($base-spacing / 2) ($base-spacing / 2) ($base-spacing * 2); // LTR
  position: relative;
  word-wrap: break-word;

  [dir="rtl"] & {
    background-position: 98.5% 50%;
    padding: ($base-spacing / 2) ($base-spacing * 2) ($base-spacing / 2) ($base-spacing / 2);
  }

  @media print {
    background-image: none !important;
    padding-left: ($base-spacing / 2); // LTR

    [dir="rtl"] & {
      padding-right: ($base-spacing / 2);
    }
  }

  em {
    color: #000;
  }
}

.messages__list {
  margin: 0;

  > li + li {
    margin-top: ($base-spacing / 2);
  }
}

.messages--status {
  @include svg-background(messages-status);
  background-color: lighten($status-color, 50%);
  border-color: $status-color;
  color: darken($status-color, 20%);
}

.messages--warning {
  @include svg-background(messages-warning);
  background-color: lighten($warning-color, 40%);
  border-color: $warning-color;
  color: darken($warning-color, 40%);
}

.messages--error {
  @include svg-background(messages-error);
  background-color: lighten($error-color, 65%);
  border-color: $error-color;
  color: darken($error-color, 20%);

  .messages__item {
    .placeholder:first-child {
      font-style: normal;
      font-weight: bold;
    }
  }
}
