// @file
// Styles for the longform page header.
.page-header {
  background: $red url('../images/header-background.png') no-repeat;
  color: $white;
  display: block;
  padding: 7em 0 5em 0;
  text-align: center;
}
.page-header__subtext {
  font-size:$font-size-xl;
  text-decoration: underline;
  text-transform: uppercase;
}
.page-header__headline {
  font-size:3.5em;
  text-transform: uppercase;
  padding: 1em 0;
}
.page-header__author {
  img{
    border-radius: 50%;

  } 
}
.page-header__description{
  font-size: $font-size-md;
  font-style: italic;
  // text-transform: capitalize;
}
.page-header__scroll-button {}