.pre-footer {
  position: relative;
}

.pre-footer__download-link {  
	background-color: $lightred;
	height: 60px;
	margin-bottom: 2em;
	position: relative;
	a{
		color: $white;
    position: relative;
    padding-top: 20px;
    padding-left: 20%;
    text-decoration: underline;
    top: 15px;
    &:after{
    	// content: "> ";
    	// font-weight: bold;
    	// padding-left: .5em;
    	// text-decoration: none;
    }
	}
}

.pre-footer__download-image {
	@include image-replace(261px, 165px);
	background: transparent url('../images/footer-fact-sheet.png') no-repeat;
  display: block;  
  left: 25%;
  position: absolute;
  right: 25%;
  top: 1px;
  z-index: 0;
	@include breakpoint($mobile-menu-bp, $no-query: true) {
    left: initial;
    right: 15%;
    top: 1px;
    z-index: 0;
  }
}