//@file
// Quotes

blockquote {
	// 
	p{
		&:before{
			content:”\201C”;
			color: #FFF;
			display: block;
			background: red;
			padding: 30px;
			// @include circleicon(20, $lightred);
		}
		
		
	}
}