// @file
// Styles for the section page header.
.section-header {
	background: $red url('../images/header-background.png') no-repeat;
  color: $white;
  display: block;
  padding: 8em 1em 10em 1em;
  text-align: left;
  }
.section-header__title{
	font-size: $font-size-xxl;
	line-height: 1em;
	padding: 0 15%;

}
.section-header__headline{
	font-size: $font-size-header;
	line-height: 1em;
	padding: 0 15%;
	text-transform:uppercase;
}