//@file
// Fullwidth Header
.section-break {
	background: $red url('../images/header-background.png') repeat repeat;
  color: $white;
  display: block;
  margin: 4em 0;
  overflow: hidden;
  padding: 6em 1em;
  text-align: center;
}

.section-break__image{

}

.section-break__caption {
	font-size:$font-size-header;
	text-transform: capitalize;
	line-height: 1em;
	&:before {
		border: 2px $red solid;
		content:" ";
		display: block;
		margin: 0 auto;
		margin-bottom: 20px;
		width: 20%;
	}
}