//@file
// Share Block
.share_block {
  display: block;
  width: 100px;
	.share_block__icon {
		display: block;
		width: 75px;
		height: 75px;
	}
	.share_block__icon-share {
		// @include svg-background(icon-share);
		background: transparent url('../images/bg/icon-share.png') no-repeat;
	}
	.share_block__icon-fav {
		// @include svg-background(icon-fav);
		background: transparent url('../images/bg/icon-fav.png') no-repeat;
	}
	.share_block__icon-print {
		// @include svg-background(icon-print);
		background: transparent url('../images/bg/icon-print.png') no-repeat;
	}
}