//@file
// Share Block
.share-block {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  @include breakpoint($mobile-menu-bp, $no-query: true) {
  	top: 5%;
  	right: 5%;
  	width: 100px;
  }
}
.share-block__icon {
	display: block;
	float: left;
	width: 75px;
	height: 75px;
	@include breakpoint($mobile-menu-bp, $no-query: true) {
		float: none;
	}
}
.share-block__icon--share {
	// @include svg-background(icon-share);
	background: transparent url('../images/bg/icon-share.png') no-repeat;
}
.share-block__icon--fav {
	// @include svg-background(icon-fav);
	background: transparent url('../images/bg/icon-fav.png') no-repeat;
}
.share-block__icon--print {
	// @include svg-background(icon-print);
	background: transparent url('../images/bg/icon-print.png') no-repeat;
}