&lt;div class=&quot;l-panels-detail title main main-sidebar center box-first box-second box-third bottom-sidebar bottom&quot;&gt;
  &lt;div class=&quot;l-title region-title&quot;&gt;
    &lt;div class=&quot;layout-constrain&quot;&gt;
      &lt;div class=&quot;pane pane--page-title&quot;&gt;
        &lt;div class=&quot;pane__content&quot;&gt;
          &lt;h1&gt;{{ pageTitle }}&lt;/h1&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;l-wrapper layout-constrain&quot;&gt;
    &lt;div class=&quot;l-main&quot;&gt;
      {{{ body }}}
    &lt;/div&gt;
    &lt;aside class=&quot;l-main-sidebar&quot;&gt;
      {{&gt; molecules-favorite-this }}
    &lt;/aside&gt;
  &lt;/div&gt;
  &lt;div class=&quot;l-center layout-constrain&quot;&gt;
    {{&gt; molecules-featured-assets }}
  &lt;/div&gt;
  &lt;div class=&quot;l-wrapper region-meta&quot;&gt;
    &lt;div class=&quot;layout-constrain&quot;&gt;
      &lt;div class=&quot;l-box-first&quot;&gt;
        {{&gt; molecules-at-a-glance }}
      &lt;/div&gt;
      &lt;div class=&quot;l-box-second&quot;&gt;
        {{&gt; molecules-innovation-assistance }}
      &lt;/div&gt;
      &lt;div class=&quot;l-box-third&quot;&gt;
        {{&gt; molecules-point-of-contact }}
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;l-wrapper layout-constrain&quot;&gt;
    &lt;div class=&quot;l-bottom&quot;&gt;

      &lt;div class=&quot;pane pane--node&quot;&gt;
        &lt;h2 class=&quot;pane__title&quot;&gt;About This Funding Opportunity&lt;/h2&gt;
        &lt;div class=&quot;pane__content&quot;&gt;

          &lt;div class=&quot;node node--innovation node--full view-mode-full&quot;&gt;

            &lt;div class=&quot;stats&quot;&gt;
              &lt;h2&gt;Innovation Stats&lt;/h2&gt;
              &lt;div class=&quot;stats__first&quot;&gt;
                &lt;div class=&quot;field clearfix field--innovation-funding-goal&quot;&gt;
                  &lt;div class=&quot;field-label&quot;&gt;Funding Goal:&amp;nbsp;&lt;/div&gt;
                  &lt;div class=&quot;field-items&quot;&gt;
                    &lt;div class=&quot;field-item&quot;&gt;$000,000,000&lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
                &lt;div class=&quot;field clearfix field--innovation-solution-type&quot;&gt;
                  &lt;div class=&quot;field-label&quot;&gt;Solution Type:&amp;nbsp;&lt;/div&gt;
                  &lt;div class=&quot;field-items&quot;&gt;
                    &lt;div class=&quot;field-item&quot;&gt;Behavior Change&lt;/div&gt;
                    &lt;div class=&quot;field-item&quot;&gt;Technology&lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
                &lt;div class=&quot;field clearfix field--innovation-project-stage&quot;&gt;
                  &lt;div class=&quot;field-label&quot;&gt;Project Stage:&amp;nbsp;&lt;/div&gt;
                  &lt;div class=&quot;field-items&quot;&gt;
                    &lt;div class=&quot;field-item&quot;&gt;Idea&lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
                &lt;div class=&quot;field clearfix field--innovation-cost-per-unit&quot;&gt;
                  &lt;div class=&quot;field-label&quot;&gt;Cost Per Unit:&amp;nbsp;&lt;/div&gt;
                  &lt;div class=&quot;field-items&quot;&gt;
                    &lt;div class=&quot;field-item&quot;&gt;$600&lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
                &lt;div class=&quot;field clearfix field--innovation-testing-phase&quot;&gt;
                  &lt;div class=&quot;field-label&quot;&gt;Testing Phase:&amp;nbsp;&lt;/div&gt;
                  &lt;div class=&quot;field-items&quot;&gt;
                    &lt;div class=&quot;field-item&quot;&gt;Phase 1&lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
              &lt;div class=&quot;stats__second&quot;&gt;
                &lt;div class=&quot;field clearfix field--innovation-created&quot;&gt;
                  &lt;div class=&quot;field-label&quot;&gt;Created In:&amp;nbsp;&lt;/div&gt;
                  &lt;div class=&quot;field-items&quot;&gt;
                    &lt;div class=&quot;field-item even&quot;&gt;&lt;a href=&quot;#&quot;&gt;India&lt;/a&gt;&lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
                &lt;div class=&quot;field clearfix field--innovation-implemented&quot;&gt;
                  &lt;div class=&quot;field-label&quot;&gt;Implemented In:&amp;nbsp;&lt;/div&gt;
                  &lt;div class=&quot;field-items&quot;&gt;
                    &lt;div class=&quot;field-item&quot;&gt;&lt;a href=&quot;#&quot;&gt;Ghana&lt;/a&gt;&lt;/div&gt;
                    &lt;div class=&quot;field-item&quot;&gt;&lt;a href=&quot;#&quot;&gt;India&lt;/a&gt;&lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
                &lt;div class=&quot;field clearfix field--innovation-sectors&quot;&gt;
                  &lt;div class=&quot;field-label&quot;&gt;Sectors:&amp;nbsp;&lt;/div&gt;
                  &lt;div class=&quot;field-items&quot;&gt;
                    &lt;div class=&quot;field-item&quot;&gt;&lt;a href=&quot;#&quot;&gt;Clean Energy Sector&lt;/a&gt;&lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
                &lt;div class=&quot;field clearfix field--innovation-related-programs&quot;&gt;
                  &lt;div class=&quot;field-label&quot;&gt;Related Programs:&amp;nbsp;&lt;/div&gt;
                  &lt;div class=&quot;field-items&quot;&gt;
                    &lt;div class=&quot;field-item&quot;&gt;&lt;a href=&quot;#&quot;&gt;Grand Challenges&lt;/a&gt;&lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          
            &lt;div class=&quot;field field--innovation-status-update&quot;&gt;
              &lt;h2 class=&quot;field__label field__label--above&quot;&gt;Status Update&lt;/h2&gt;
              &lt;p&gt;Zombies reversus ab inferno, nam malum cerebro. De carne animata corpora quaeritis. Summus sit&acirc;€‹&acirc;€‹, morbo vel maleficia? De Apocalypsi undead dictum mauris. Hi mortuis soulless creaturas, imo monstra adventus vultus comedat cerebella viventium. Qui offenderit rapto, terribilem incessu. The voodoo sacerdos suscitat mortuos comedere carnem. Search for solum oculi eorum defunctis cerebro. Nescio an malus.&lt;/p&gt;
            &lt;/div&gt;
            &lt;div class=&quot;field field--innovation-works&quot;&gt;
              &lt;h2 class=&quot;field__label field__label--above&quot;&gt;How it Works&lt;/h2&gt;
              &lt;p&gt;Zombies reversus ab inferno, nam malum cerebro. De carne animata corpora quaeritis. Summus sit&acirc;€‹&acirc;€‹, morbo vel maleficia? De Apocalypsi undead dictum mauris. Hi mortuis soulless creaturas, imo monstra adventus vultus comedat cerebella viventium. Qui offenderit rapto, terribilem incessu. The voodoo sacerdos suscitat mortuos comedere carnem. Search for solum oculi eorum defunctis cerebro. Nescio an malus.&lt;/p&gt;
            &lt;/div&gt;
            &lt;div class=&quot;field field--innovation-evidence&quot;&gt;
              &lt;h2 class=&quot;field__label field__label--above&quot;&gt;Evidence it Works&lt;/h2&gt;
              &lt;p&gt;Zombies reversus ab inferno, nam malum cerebro. De carne animata corpora quaeritis. Summus sit&acirc;€‹&acirc;€‹, morbo vel maleficia? De Apocalypsi undead dictum mauris. Hi mortuis soulless creaturas, imo monstra adventus vultus comedat cerebella viventium. Qui offenderit rapto, terribilem incessu. The voodoo sacerdos suscitat mortuos comedere carnem. Search for solum oculi eorum defunctis cerebro. Nescio an malus.&lt;/p&gt;
            &lt;/div&gt;
            &lt;div class=&quot;field field--innovation-proof-evidence&quot;&gt;
              &lt;h2 class=&quot;field__label field__label--above&quot;&gt;Proof of Evidence&lt;/h2&gt;
              &lt;ul class=&quot;simple-list&quot;&gt;
                &lt;li&gt;&lt;a href=&quot;/admin/content/assets/view/4&quot;&gt;USAID Logo&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href=&quot;/admin/content/assets/view/6&quot;&gt;Global Development Lab&lt;/a&gt;&lt;/li&gt;
              &lt;/ul&gt;
            &lt;/div&gt;
            &lt;div class=&quot;field field--innovation-testers&quot;&gt;
              &lt;h2 class=&quot;field__label field__label--above&quot;&gt;Current Users / Testers Include&lt;/h2&gt;
              &lt;p&gt;Zombies reversus ab inferno, nam malum cerebro. De carne animata corpora quaeritis. Summus sit&acirc;€‹&acirc;€‹, morbo vel maleficia? De Apocalypsi undead dictum mauris. Hi mortuis soulless creaturas, imo monstra adventus vultus comedat cerebella viventium. Qui offenderit rapto, terribilem incessu. The voodoo sacerdos suscitat mortuos comedere carnem. Search for solum oculi eorum defunctis cerebro. Nescio an malus.&lt;/p&gt;
            &lt;/div&gt;
            &lt;div class=&quot;field field--innovation-impact&quot;&gt;
              &lt;h2 class=&quot;field__label field__label--above&quot;&gt;Path and Impact of Scale&lt;/h2&gt;
              &lt;p&gt;Zombies reversus ab inferno, nam malum cerebro. De carne animata corpora quaeritis. Summus sit&acirc;€‹&acirc;€‹, morbo vel maleficia? De Apocalypsi undead dictum mauris. Hi mortuis soulless creaturas, imo monstra adventus vultus comedat cerebella viventium. Qui offenderit rapto, terribilem incessu. The voodoo sacerdos suscitat mortuos comedere carnem. Search for solum oculi eorum defunctis cerebro. Nescio an malus.&lt;/p&gt;
            &lt;/div&gt;
            &lt;div class=&quot;field field--innovation-steps&quot;&gt;
              &lt;h2 class=&quot;field__label field__label--above&quot;&gt;Next Steps&lt;/h2&gt;
              &lt;p&gt;Zombies reversus ab inferno, nam malum cerebro. De carne animata corpora quaeritis. Summus sit&acirc;€‹&acirc;€‹, morbo vel maleficia? De Apocalypsi undead dictum mauris. Hi mortuis soulless creaturas, imo monstra adventus vultus comedat cerebella viventium. Qui offenderit rapto, terribilem incessu. The voodoo sacerdos suscitat mortuos comedere carnem. Search for solum oculi eorum defunctis cerebro. Nescio an malus.&lt;/p&gt;
            &lt;/div&gt;
            &lt;div class=&quot;field field--innovation-news field--border&quot;&gt;
              &lt;h2 class=&quot;field__label field__label--above&quot;&gt;In the News&lt;/h2&gt;
              &lt;ul class=&quot;simple-list&quot;&gt;
                &lt;li&gt;&lt;a href=&quot;http://www.cnn.com&quot;&gt;Lorem ipsum dolor amet&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href=&quot;http://www.cnn.com&quot;&gt;Lorem ipsum dolor amet Lorem ipsum dolor amet&lt;/a&gt;&lt;/li&gt;
              &lt;/ul&gt;
            &lt;/div&gt;
            &lt;div class=&quot;field field--innovation-resources field--border&quot;&gt;
              &lt;h2 class=&quot;field__label field__label--above&quot;&gt;Resources&lt;/h2&gt;
              &lt;ul class=&quot;simple-list&quot;&gt;
                &lt;li&gt;Making the Journey from Cash to Electronic Payments&lt;/li&gt;
                &lt;li&gt;Lorem ipsum dolor amet Lorem ipsum dolor amet&lt;/li&gt;
              &lt;/ul&gt;
            &lt;/div&gt; 

            {{&gt; molecules-comments }}
      
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;

    &lt;/div&gt;
    &lt;aside class=&quot;l-bottom-sidebar&quot;&gt;
      {{&gt; molecules-innovation-team }}
      {{&gt; molecules-funded-by }}
    &lt;/aside&gt;
  &lt;/div&gt;
&lt;/div&gt;
