.cardflip {
  background: $lightorange;
  @include box-shadow(0 1px 1px 0 rgba(0,0,0,0.15));
  color: #fff;
}

.cardflip--a {}

.cardflip--b {
  background: $orange
}

.cardflip__title {}

.cardflip__image {}

.cardflip__description {}

.cardflip__link {}