.comments {
  border-top: 1px solid $border-color;
  margin: rhythm(1) 0 0 0;
  padding: rhythm(1.5) 0 0 0;

  .field-widget-text-textarea .text-format-wrapper .filter-wrapper {
    display: none; // hide comment field text format info
  }

  .indented {
    padding-left: 2em;
    .indented {
      .indented {
        .indented {
          padding-left: 1em;
        }
      }
    }     
  }
}