.field--funding-deadline {
  @extend %clearfix;
}

.field--funding-deadline__day {
  background-image: url(../images/bg/large-blank-event1.png);
  background-repeat: no-repeat;
  color: $lightorange;
  float: left;
  font-size: $font-size-xxxl;
  height: 73px;
  line-height: 80px;
  margin-right: 1em;
  overflow: hidden;
  text-align: center;
  width: 70px;
}

.field--funding-deadline__info {
  float: left;
}

.field--funding-deadline__date {}

.field--funding-deadline__time {
  text-transform: uppercase;
}
