.field {
  .node--full > & {
    margin: 0 0 rhythm(1) 0;
    padding: 0 0 rhythm(1/2) 0;
    > h2.field__label {
      margin: 0 0 rhythm(1/2) 0;
    }
    p:last-child, ul:last-child, ol:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}

.field--border {
  .node--full > & {
    border-top: 1px solid $border-color;
    padding-top: rhythm(1.5);
  }
}
 
.field__label {

}





@import 'field/*.*';
