// @file
// Styles for the mobile menu.

.mobile-menu {
  @include breakpoint($mobile-menu-bp, $no-query: true) {
    display: none;
  }
  position: relative;
  z-index: 10;
}

.mobile-menu__bar {
  background-color: $mobile-menu-bg-color;
  border-bottom: 1px solid $mobile-menu-border-color;
  @include box-shadow(0 0px 2px 1px rgba(0,0,0,0.4));
  color: $mobile-menu-text-color;
  height: 3em;
  padding: 0 0.25em;
  text-align: center;
}

.mobile-menu__button {
  @include border-radius(0);
  @include box-shadow(none);
  background-color: transparent;
  border: 0;
  color: $mobile-menu-text-color;
  display: inline-block;
  font-family: $mobile-menu-font-family;
  font-size: $font-size-normal;
  font-weight: bold;
  height: 2.5em;
  line-height: 2.5;
  margin: em(4px) 0.25em;
  padding: 0 0.5em;
  text-decoration: none;

  &:focus,
  &:hover,
  &:active,
  &.is-active {
 
  }

  &:focus {
     
  }
}

.mobile-menu__button--menu {
  border-right: 1px solid $mobile-menu-border-color;
  float: left;
}


.mobile-menu__button--home {
  
}


.mobile-menu__button--search {
  border-left: 1px solid $mobile-menu-border-color;
  float: right;
}


.mobile-menu__icon {
  @include image-replace(26px, 22px);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 26px 22px;
  display: inline-block;
  margin-top: 0.5em;
}

.mobile-menu__icon--menu {
  @include svg-background(hamburger);
}

.mobile-menu__icon--home {
  @include svg-background(mobile-logo);
  background-size: 149px 30px;
  height: 30px;
  width: 149px;
}

.mobile-menu__icon--search {
  @include svg-background(mobile-search);
  background-size: 18px 20px;
  height: 20px;
  width: 18px;
}

.mobile-menu__links {
  background-color: $mobile-menu-bg-color;
  color: $mobile-menu-text-color;
  padding: 0.5em 0;
  position: absolute;
  width: 100%;
  z-index: 100;
}

.mobile-menu__search {
  display: none;
  position: absolute;
  right: 0;
  top: 3em;
}