.region-meta {
  background: $blue url(../images/geometricshape.png) no-repeat 100% 0;
  color: #fff;
  padding: 2em 0;

  .pane__title,
  .block__title {
    border-color: #fff;
    color: #fff;
  }
}