// @file
// Styles for a view.

.view {}

.view__filters {
  margin-bottom: rhythm(1);
}

.view__all {
  font-size: em(14px);
  font-weight: bold;
  text-decoration: underline;
}


// Custom view styles imported via sass globbing.
@import 'view/*.*';
