&lt;div class=&quot;image component&quot;&gt;
	&lt;div class=&quot;image__image&quot;&gt;{{&gt; base-landscape-image }}&lt;/div&gt;
	&lt;div class=&quot;image__caption caption&quot;&gt;An example caption for this image&lt;/div&gt;
&lt;/div&gt;