<div class="block block-tb-megamenu-main-menu block--tb-megamenu block--tb-megamenu-main-menu">      
  <div role="navigation" class="tb-megamenu tb-megamenu-main-menu">
    <ul class="nav tb-megamenu-nav">
      <li class="tb-megamenu-item tb-megamenu-item--about"><a class="" href="http://google.com"> About </a></li>
      <li class="tb-megamenu-item tb-megamenu-item--innovations"><a class="" href="#"> Innovations </a></li>
      <li class="tb-megamenu-item tb-megamenu-item--funding"><a class="" href="#"> Funding </a></li>
      <li class="tb-megamenu-item tb-megamenu-item--resources"><a class="" href="#"> Resources </a></li>
      <li class="tb-megamenu-item tb-megamenu-item--communities dropdown"><a class="" href="#"> Communities </a></li>
      <li class="tb-megamenu-item tb-megamenu-item--more dropdown"><a class="" href="http://google.com"> More </a>
        <!--<div class="tb-megamenu-submenu dropdown-menu mega-dropdown-menu nav-child" data-width="" data-class="">
          <div class="mega-dropdown-inner">
            <div class="tb-megamenu-row row-fluid">
              <div class="tb-megamenu-column span12  mega-col-nav" id="tb-megamenu-column-1" data-hidewcol="0" data-width="12" data-class="">
                <div class="tb-megamenu-column-inner mega-inner clearfix">
                  <ul role="list" class="tb-megamenu-subnav mega-nav level-1 items-2">
                    <li aria-level="2" role="listitem" class="tb-megamenu-item level-2 mega" data-hidesub="0" data-hidewcol="0" data-group="0" data-alignsub="" data-caption="" data-xicon="" data-class="" data-type="menu_item" data-level="2" data-id="1324">
                      <a class="" href="http://google.com">More link 2</a>
                    </li>
                    <li aria-level="2" role="listitem" class="tb-megamenu-item level-2 mega" data-hidesub="0" data-hidewcol="0" data-group="0" data-alignsub="" data-caption="" data-xicon="" data-class="" data-type="menu_item" data-level="2" data-id="1323">
                      <a class="" href="http://google.com">More link 1</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>-->
      </li>
    </ul>
  </div>
</div>
