<nav class="block block--menu-block block--main-menu" role="navigation">
  <h2 class="element-invisible block__title">Main menu</h2>
  <ul class="nav nav--main-menu">
    <li class="nav__item"><a class="nav__link" href="#">Innovations</a></li>
    <li class="nav__item"><a class="nav__link" href="#">Funding</a></li>
    <li class="nav__item"><a class="nav__link" href="#">Resources</a></li>
    <li class="nav__item"><a class="nav__link" href="#">More</a></li>
    <li class="nav__item"><a class="nav__link" href="#">Communities</a></li>
  </ul>
</nav>
