<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #b71234;"></span>
		<span class="sg-label">#b71234</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ed7d3a;"></span>
		<span class="sg-label">#ed7d3a</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #dc5606;"></span>
		<span class="sg-label">#dc5606</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f1f1f1;"></span>
		<span class="sg-label">#f1f1f1</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #565a5c;"></span>
		<span class="sg-label">#565a5c</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #7090b7;"></span>
		<span class="sg-label">#7090b7</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #003359;"></span>
		<span class="sg-label">#003359</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #000000;"></span>
		<span class="sg-label">#000000</span>
	</li>
</ul>
