{{&gt; layouts-header-region }}
{{&gt; layouts-navigation-region }}

&lt;main id=&quot;main&quot; class=&quot;main&quot; role=&quot;main&quot; tabindex=&quot;-1&quot;&gt;
	&lt;div class=&quot;region-content&quot;&gt;
		{{&gt; components-page-header }}
		{{! components-share-block }}
		{{&gt; components-image }}
		{{&gt; components-card-3 }}
		{{&gt; components-card-2 }}
		{{&gt; components-card-1 }}
		{{&gt; components-section-header }}
		{{&gt; components-video }}
		{{&gt; components-aside }}
		{{&gt; components-text-block }}
		{{&gt; components-key-figure }}
		{{&gt; components-text-block }}
		{{&gt; components-section-break }}
		{{&gt; components-pullquote }}
		{{&gt; components-pre-footer }}
  &lt;/div&gt;
&lt;/main&gt;

{{&gt; layouts-footer-region }}
