{{&gt; layouts-header-region }}

&lt;main id=&quot;main&quot; class=&quot;main&quot; role=&quot;main&quot; tabindex=&quot;-1&quot;&gt;
	&lt;div class=&quot;region-content&quot;&gt;
		{{&gt; components-page-header }}
		{{&gt; components-card }}
  &lt;/div&gt;
&lt;/main&gt;

{{&gt; layouts-footer-region }}
