&lt;div class=&quot;footer-sponsor&quot;&gt;
	&lt;div class=&quot;footer-sponsor__image footer-sponsor__image-usaid&quot;&gt;USAID&lt;/div&gt;
	&lt;div class=&quot;footer-sponsor__image footer-sponsor__image-usgd&quot;&gt;USDD&lt;/div&gt;
	&lt;div class=&quot;footer-sponsor__image footer-sponsor__image-gix&quot;&gt;GIX&lt;/div&gt;
&lt;/div&gt;