&lt;footer class=&quot;site-footer&quot; role=&quot;contentinfo&quot;&gt;
  &lt;div class=&quot;region-footer layout-constrain&quot;&gt;
    {{&gt; components-microsite-description }}
    {{&gt; components-microsite-partners }}
    {{&gt; components-footer-menu }}
  &lt;/div&gt;
&lt;/footer&gt;
