&lt;article class=&quot;card&quot;&gt;
  &lt;div class=&quot;card__image&quot;&gt;
    &lt;a href=&quot;{{ url }}&quot;&gt;{{&gt; atoms-card-image }}&lt;/a&gt;
  &lt;/div&gt;
  &lt;div class=&quot;card__content&quot;&gt;
    &lt;h3 class=&quot;card__title&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt;{{ title }}&lt;/a&gt;&lt;/h3&gt;
    &lt;div&gt;{{{ summary }}}&lt;/div&gt;
    &lt;div class=&quot;card__counts&quot;&gt;
      &lt;div class=&quot;view&quot;&gt;
        &lt;div class=&quot;has-icon--evidence&quot; title=&quot;Evidence&quot;&gt;0&lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;view&quot;&gt;
        &lt;div class=&quot;has-icon--comment&quot; title=&quot;Comments&quot;&gt;12&lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;view&quot;&gt;
        &lt;div class=&quot;has-icon--organization&quot; title=&quot;Organizations&quot;&gt;5&lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;view&quot;&gt;
        &lt;div class=&quot;has-icon--favorite&quot; title=&quot;Favorites&quot;&gt;6&lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;view&quot;&gt;
        &lt;div class=&quot;has-icon--assistance&quot; title=&quot;Assistance&quot;&gt;1&lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/article&gt;
