&lt;div class=&quot;pane pane--innovation-assistance-innovation-assistance&quot;&gt;
  &lt;h2 class=&quot;pane__title&quot;&gt;How Can You Help This Innovation?&lt;/h2&gt;  
  &lt;div class=&quot;pane__content&quot;&gt;
    &lt;div class=&quot;view view--innovation-assistance&quot;&gt;
      &lt;ul&gt;
        &lt;li&gt;Joining the Team&lt;/li&gt;
        &lt;li&gt;Providing Funding&lt;/li&gt;  
        &lt;li&gt;Testing the Innovation and providing feedback&lt;/li&gt;  
        &lt;li&gt;Helping with our business plan&lt;/li&gt;  
        &lt;li&gt;Helping us navigate IP/Legal issues&lt;/li&gt;  
        &lt;li&gt;Giving general feedback on the innovation&lt;/li&gt; 
      &lt;/ul&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;