{{> layouts-utility-region }}

<header class="site-header" role="banner">
  <div class="layout-constrain">
    {{> layouts-header-region }}
    {{> layouts-navigation-region }}
  </div>
</header>

{{> layouts-preface-region }}

<main id="main" class="main" role="main" tabindex="-1">
  <div class="region-content">

     {{> components-basic-page }}

  </div>
</main>

{{> layouts-postscript-region }}
{{> layouts-footer-region }}
