.pane--favorite-this {
  background: $gray url(../images/favorite_background.png) no-repeat 100% 0;
  @include box-shadow(0 2px 4px 0px rgba(0,0,0,0.15));
  padding: 1em;
  .pane__title {
    border: 0;
    color: $primary-text-color;
    font-size: em(16px);
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    p {
      font-size: em(14px);
      font-weight: normal;
      margin: 0.5em 0 1em 0;
      text-transform: none;
    }
  }
  .pane__content {
    padding: 0;
    p {
      font-size: em(14px);
    }
  }
}