.pane--page-title {
  background: url(../images/geometricshape--title.png) no-repeat 50% 100%;
  margin: 0;
  padding: 0;
  position: relative;
  &:after {
    content: "";
    display: block;
    border-style: solid;
    border-width: 11px 11px 0 11px;
    bottom: -11px;
    @include breakpoint(700px, $no-query: true) {
      border-width: 21px 21px 0 21px;
      bottom: -21px;
    }
    border-color: $lightorange transparent transparent transparent;
    .section-wanteds & {
      border-color: $wanted-section-color transparent transparent transparent;
    }
    @each $item, $color in $micrositeColorMap {
      .microsite-palette#{$item} & {
        border-color: micro-site($item, 'primary') transparent transparent transparent;
      }
    }
    height: 0;
    left: 0;
    position: absolute;
    width: 0;
  }
  h1 {
    color: #fff;
    font-size: em(24px);
    @include breakpoint(700px, $no-query: true) {
      font-size: em(40px);
    }
    font-weight: 300;
    line-height: 1.3;
    margin: 0;
    padding: 0.6em 0 0.75em 0;
  }
}
