.pane--homepage-footer-callout {
  margin: 0 auto 2em auto;
  max-width: 1300px;
  .pane__content {
    position: relative;
    .pane__background {
      background: url(../images/mission_bg-image.jpg) no-repeat 50% 50%;
      background-size: contain;
      min-height: 700px;
      position: relative;
      z-index: 2;
      &:after {
        @include breakpoint(1200px, $no-query: true) {
          background: url(../images/mission_shapes.png) no-repeat 50% 50%;
          background-size: cover;
          bottom: 4.6%;
          content: "";
          height: 95.4%;
          left: 0;
          position: absolute;
          right: 0;
          top: 0;
          width: 100%;
          z-index: 2;
        }
      }
      &:before {
        background: url(../images/homepage_arrow-tip.png) no-repeat 50% 100%;
        background-size: contain;
        bottom: 0;
        content: "";
        height: 4.6%;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: 2; 
      }
    }
    .pane__text {
      @include hyphens(none);
      background: rgb(220,86,6);
      background: rgba(220,86,6,0.8);
      color: #fff;
      left: 4%;      
      max-width: 92%;
      padding: 2%;
      position: absolute;
      top: 5%;
      z-index: 3;
      @include breakpoint(900px) {
        max-width: 50%;
      }
      @include breakpoint(min-width 1200px, $no-query: true) {
        background: none;
        max-width: 30%;
        padding: 0;
      }
      h1 {
        @extend %pane__title--homepage;
        color: #fff;
        @include breakpoint(max-width 700px) {
          margin-bottom: 0.5em;
        }
        @include breakpoint(max-width 900px) {
          font-size: em(30px);
        }
      }
      p {
        @include breakpoint(max-width 700px) {
          display: none;
        }
      }
      .button {
        background: #fff;
        border: 0;
        color: $orange;
        margin-bottom: 0;
        opacity: 0.75;
        text-transform: uppercase;
        &:hover, &:focus {
          opacity: 1;
        }
      }
    }
  }
}