.pane--homepage-views-personas-pane {
  margin: 0 0 4em 0;
  .pane__title {
    @extend %pane__title--large;
    text-align: center;
  }
  .pane__content {
    .view--homepage-views {
      @extend %clearfix;
      @include breakpoint(800px, $no-query: true) {
        margin: 0 -0.5em;
      }
      .views-row {
        padding: 0.5em 0;
        @include breakpoint(800px, $no-query: true) {
          float: left;
          padding: 0 0.5em;
          width: percentage(1/3);
        }
      }
    }
  }
}