.pane--landing-intro {
  @extend %clearfix;
  @include hyphens(none);
  background: url(../images/intro_background.png) no-repeat 100% 0;
  margin: 0;
  min-height: 300px;
  padding: 25px 0 0 0;
  @include breakpoint(900px, $no-query: true) {
    padding: 50px 0 20px 0;
  }
  position: relative;
  z-index: 2;
  
  h1 {
    color: #fff;
    font-size: em(30px);
    @include breakpoint(700px 1199px) {
      font-size: em(42px);
    }
    @include breakpoint(1200px, $no-query: true) {
      font-size: em(48px); 
    }
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
    padding: 0 0 0.4em 0;
    position: relative;
    text-transform: uppercase;
    &:before {
      @include image-replace(46px,46px);
      @include breakpoint(500px, $no-query: true) { // don't show until 500px
        content: "";
        display: inline-block;
      }
      margin-right: 10px;
      position: relative;
      top: 6px;
      @include breakpoint(1270px, $no-query: true) {
        left: -61px; // width + 15
        margin-right: 0;
        position: absolute;
      }
    }
  }
  &.pane--about-introduction h1:before {
    @include svg-background(icon-about-46-46-white);
  }
  &.pane--innovations-introduction h1:before {
    @include svg-background(icon-innovations-34-46-white);
    width: 34px;
    @include breakpoint(1270px, $no-query: true) {
      left: -49px; // width + 15
    }
  }
  &.pane--funding-introduction h1:before {
    @include svg-background(icon-funding-46-46-white);
  }
  &.pane--resources-introduction h1:before {
    @include svg-background(icon-resources-50-46-white);
    width: 50px; 
    @include breakpoint(1270px, $no-query: true) {
      left: -65px; // width + 15
    }
  }
  &.pane--communities-introduction h1:before {
    @include svg-background(icon-communities-54-46-white);
    width: 54px;
    @include breakpoint(1270px, $no-query: true) {
      left: -69px; // width + 15
    }
  }
  &.pane--more-introduction h1:before {
    @include svg-background(icon-more-46-46-white);
  }
  &.pane--organizations-introduction h1:before {
    @include svg-background(icon-organization-45-46-white);
    width: 45px;
     @include breakpoint(1270px, $no-query: true) {
      left: -60px; // width + 15
    }
  }

  &.pane--discussions-introduction h1:before {
    @include svg-background(icon-discussions-60-46-white);
    width: 60px;
    @include breakpoint(1270px, $no-query: true) {
      left: -75px; // width + 15
    }
  }
  &.pane--sectors-introduction h1:before {
    @include svg-background(icon-sectors-46-46-white);
  }
  &.pane--topics-introduction h1:before {
    @include svg-background(icon-topics-53-46-white);
    width: 53px;
    @include breakpoint(1270px, $no-query: true) {
      left: -68px; // width + 15
    }
  }
  &.pane--locations-introduction h1:before {
    @include svg-background(icon-locations-35-46-white);
    width: 35px;
     @include breakpoint(1270px, $no-query: true) {
      left: -50px; // width + 15
    }
  }
  &.pane--programs-introduction h1:before {
    @include svg-background(icon-programs-53-46-white);
    width: 53px;
    @include breakpoint(1270px, $no-query: true) {
      left: -68px; // width + 15
    }
  }
  &.pane--members-directory-introduction h1:before {
    @include svg-background(icon-members-46-46-white);
  }
}

.pane--landing-intro__left {
  @include breakpoint(900px, $no-query: true) {
    float: left;
    padding: 0 5% 0 0;
    width: 60%;
  }
}

.pane--landing-intro__right {
  @include breakpoint(900px, $no-query: true) {
    float: left;
    padding: 10px 0 0 0;
    width: 40%;
  }
}