.pane--homepage-header {
  background: url(../images/homepage-hero_people.jpg) repeat 50% 50%;
  color: #fff;
  margin: 0 0 4em 0;
  padding: 1em;
  position: relative;
  text-align: center;
  z-index: 1;
  @include breakpoint(800px, $no-query: true) {
    min-height: 385px;
    padding: 2em;
  }
  &:after {
    @include breakpoint(800px, $no-query: true) {
      content: "";
      display: block;
      border-style: solid;
      border-width: 25px 25px 0 25px;
      bottom: -25px;
      border-color: $orange transparent transparent transparent;
      height: 0;
      left: 50%;
      margin-left: -25px;
      position: absolute;
      width: 0;
    }
  }
  &:before {
    @include breakpoint(800px, $no-query: true) {
      background: url(../images/homepage-hero_big-triangle.png) no-repeat 50% 0;
      bottom: 0;
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 2;
    }
  }
  .pane__content {
    position: relative;
    z-index: 2;
    h1 {
      color: #fff;
      font-size: em(35px);
      font-weight: bold;
      margin: 0 auto;
      max-width: 600px;
      padding: 0 0 0.5em 0;
      text-transform: uppercase;
      @include breakpoint(800px, $no-query: true) {
        font-size: em(48px);
      }
    }
    p {
      font-size: em(20px);
      font-weight: 300;
      margin: 0;
      padding: 0 0 1em 0;
      @include breakpoint(800px, $no-query: true) {
        font-size: em($font-size-xxxl);
        padding: 0 0 2em 0;
      }
    }
    .button {
      @extend %button--white;
    }
  }
}