// @file
// Panels layout: detail
// Media queries use: http://breakpoint-sass.com
// Media queries use: github.com/Team-Sass/breakpoint/wiki/No-Query-Fallbacks
// Grid via: singularity.gs

.l-panels-detail {
  $grids: 1;
  $grids: add-grid(12 at 700px);
  $gutters: 2;
  &.main {
    &.main-sidebar { // 1, 2 have content
      @include breakpoint(700px) {
        .l-main { @include grid-span(8,1);}
        .l-main-sidebar { @include grid-span (4,9)}
      }
    }
  }

  &.bottom {
    &.bottom-sidebar { // 1, 2 have content
      @include breakpoint(700px) {
        .l-bottom { @include grid-span(7,1);}
        .l-bottom-sidebar { @include grid-span (5,8); }
      }
      @include breakpoint(900px, $no-query: true) {
        .l-bottom { @include grid-span(8,1);}
        .l-bottom-sidebar { @include grid-span (4,9); }
      }
    }
  }
  &.box-first {
    &.box-second {
      &.box-third { // 1, 2, 3 have content
        @include breakpoint(900px, $no-query: true) {
          .l-box-first { @include grid-span(4,1); }
          .l-box-second { @include grid-span(4,5); }
          .l-box-third { @include grid-span(4,9); }
        }
      }
      &.box-third-empty { // 1, 2 have content
        @include breakpoint(700px, $no-query: true) {
          .l-box-first { @include grid-span(6,1); }
          .l-box-second { @include grid-span(6,7); }
        }
      }
    }
    &.box-second-empty.box-third { // 1, 3 have content
      @include breakpoint(700px, $no-query: true) {
        .l-box-first { @include grid-span(6,1); }
        .l-box-third { @include grid-span(6,7); }
      }
    }
  }
  &.box-first-empty.box-second.box-third { // 2, 3 have content
    @include breakpoint(700px, $no-query: true) {
      .l-box-second { @include grid-span(6,1); }
      .l-box-third { @include grid-span(6,7); }
    }
  }
}

.l-panels-detail {
  @include clearfix;
  .l-wrapper,
  .l-title,
  .l-main,
  .l-main-sidebar,
  .l-center,
  .l-box-first,
  .l-box-second,
  .l-box-third,
  .l-bottom-sidebar,
  .l-bottom {
    @include clearfix;

    @if $panels-admin {
      @include border-box;
    }
  }
}