<article class="node node--innovation node--teaser">
  <div class="field field--innovation-image">
    <a href="{{ url }}">{{> atoms-thumbnail-image }}</a>
  </div>
  <div class="field field--title-field"><a href="{{ url }}">{{ title }}</a></div>
  <div class="field field--innovation-desc">{{{ summary }}}</div>
  <div class="view view-innovation-listing-counts">
    <div class="views-field-field-innovation-proof-evidence">0</div>
  </div>
  <div class="view view-innovation-listing-counts">
    <div class="views-field-comment-count">12</div>
  </div>
  <div class="view view-innovation-listing-counts">
    <div class="views-field-field-innovation-funders">5</div>
  </div>
  <div class="view view-innovation-listing-counts">
    <div class="views-field-count">6</div>
  </div>
</article>
