<article class="node node--organization node--teaser card">
  <div class="field field--org-logo">
    <a href="{{ url }}">{{> atoms-card-image }}</a>
  </div>
  <div class="card__content">
    <h3 class="field field--title-field card__title"><a href="{{ url }}">{{ title }}</a></h3>
    <div class="field field--org-desc">{{{ summary }}}</div>
    <div class="card__counts">
      <div class="view view-innovation-listing-counts">
        <div class="views-field-field-innovation-proof-evidence has-icon--camera">0</div>
      </div>
      <div class="view view-innovation-listing-counts">
        <div class="views-field-comment-count has-icon--comment">12</div>
      </div>
      <div class="view view-innovation-listing-counts">
        <div class="views-field-field-innovation-funders has-icon--member">5</div>
      </div>
      <div class="view view-innovation-listing-counts">
        <div class="views-field-count has-icon--favorite">6</div>
      </div>
    </div>
  </div>
</article>
