<article class="card">
  <div class="card__content">
    <h3 class="card__primary-title"><a href="{{ url }}">{{ title }}</a></h3>
    <div class="card__number">$30,000,000</div>
    <div class="card__due-date">Due by: 3/21/2015</div> 
    <div class="card__list">
      <div class="card__list-label">Eligibility:</div> Lorem ipsum sit amet, cons ectetur adipiscing elit.
    </div>
    <div class="card__list">
      <div class="card__list-label">Level of Effort:</div> Lorem ipsum
    </div>
    <div class="card__list">
      <div class="card__list-label">Topics:</div> <a href="#">Agriculture</a>, <a href="#">Irrigation</a>
    </div>
    <div class="card__counts">
      <div class="view">
        <div class="has-icon--comment">12</div>
      </div>
      <div class="view">
        <div class="has-icon--favorite">6</div>
      </div>
    </div>
  </div>
</article>



 
 
 
