<article class="card">
  <div class="card__content">
    <h2 class="card__type">Toolkit</h2>
    <h3 class="card__primary-title"><a href="{{ url }}">{{ title }}</a></h3>
    <div class="card__author">
      <div class="card__author-image"><img src="../../images-patternlab/buffy-35-35.jpg"></div>
      <div class="card__author-name">Buffy Summers</div>
      <div class="card__author-date">03/15/2015</div>    
    </div>
    <div class="card__list">
      <div class="card__list-label">Sectors:</div> <a href="#">Health</a>, <a href="#">Education</a>, <a href="#">Economic Growth</a>, <a href="#">Housing and Transportation</a>
    </div>
    <div class="card__counts">
      <div class="view">
        <div class="has-icon--comment">12</div>
      </div>
      <div class="view">
        <div class="has-icon--favorite">6</div>
      </div>
    </div>
  </div>
</article>



 
 
 
