{{> layouts-header-region }}
{{> layouts-navigation-region }}
{{> layouts-preface-region }}

<main id="main" class="main" role="main" tabindex="-1">
  <div class="region-content layout-constrain">

    {{> components-basic-page }}

  </div>
</main>

{{> layouts-postscript-region }}
{{> layouts-footer-region }}
