&lt;footer class=&quot;footer&quot; role=&quot;contentinfo&quot;&gt;
  &lt;div class=&quot;footer__menu-bar&quot;&gt;
    &lt;div class=&quot;layout-constrain&quot;&gt;
      {{&gt; molecules-footer-menu }}
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;region-footer layout-constrain&quot;&gt;
    &lt;div class=&quot;block block--about-the-exchange&quot;&gt;
      &lt;h2 class=&quot;block__title&quot;&gt;About The Exchange&lt;/h2&gt;
      &lt;div class=&quot;block__content&quot;&gt;
        &lt;p&gt;
          The Innovation Exchange is a marketplace that connects funders, innovators, users and solution seekers and gives them the tools to maximize their ability to meet the largest, most pressing development challenges.
        &lt;/p&gt;
        &lt;a class=&quot;button button--alt&quot; href=&quot;#&quot;&gt;Join the Community&lt;/a&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;block block--partners&quot;&gt;
      &lt;h2 class=&quot;block__title&quot;&gt;About The Exchange&lt;/h2&gt;
      &lt;div class=&quot;block__content&quot;&gt;
        &lt;p&gt;
          The Innovation Exchange is a marketplace that connects funders, innovators, users and solution seekers and gives them the tools to maximize their ability to meet the largest, most pressing development challenges.
        &lt;/p&gt;
        &lt;a class=&quot;button button--alt&quot; href=&quot;#&quot;&gt;Become a Partner&lt;/a&gt;
      &lt;/div&gt;
    &lt;/div&gt;
     {{&gt; molecules-footer-utility-menu }}
  &lt;/div&gt;
&lt;/footer&gt;
