<footer class="footer" role="contentinfo">
  <div class="footer__menu-bar">
    <div class="layout-constrain">
      {{> molecules-footer-menu }}
    </div>
  </div>
  <div class="region-footer layout-constrain">
    <div class="block block--about-the-exchange">
      <h2 class="block__title">About The Exchange</h2>
      <div class="block__content">
        <p>
          The Innovation Exchange is a marketplace that connects funders, innovators, users and solution seekers and gives them the tools to maximize their ability to meet the largest, most pressing development challenges.
        </p>
        <a class="button button--alt" href="#">Join the Community</a>
      </div>
    </div>
    <div class="block block--partners">
      <h2 class="block__title">About The Exchange</h2>
      <div class="block__content">
        <p>
          The Innovation Exchange is a marketplace that connects funders, innovators, users and solution seekers and gives them the tools to maximize their ability to meet the largest, most pressing development challenges.
        </p>
        <a class="button button--alt" href="#">Become a Partner</a>
      </div>
    </div>
     {{> molecules-footer-utility-menu }}
  </div>
</footer>
