&lt;div class=&quot;component section-break&quot; style=&quot;background-image: url('../../images/section-break.jpg');&quot;&gt;
  &lt;div class=&quot;section-break__text-wrapper&quot;&gt;
    &lt;div class=&quot;section-break__text&quot;&gt;
      Positively impacting the lives of the world's youth will ensure they'll grow up to be healthy productive adults.
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
